files/flows rev A.json
[{"id":"ec078ca6.e744a","type":"tab","label":"Weather Lamp Rev A","disabled":false,"info":""},{"id":"2d065ab.6187fa6","type":"comment","z":"ec078ca6.e744a","name":"Current Conditions Function","info":"","x":140,"y":760,"wires":[]},{"id":"5f9292cd.eef7dc","type":"link out","z":"ec078ca6.e744a","name":"","links":["ceac9402.ed2af8","35d78b37.e5d434","f7886514.c9cd08"],"x":335,"y":800,"wires":[]},{"id":"2a1b56ef.89031a","type":"link in","z":"ec078ca6.e744a","name":"","links":["d953cccf.27ac8","4429ecb5.66dc94","26f3891c.a67a36"],"x":415,"y":800,"wires":[["dc39e553.83fd88","d911065e.8e8c78"]]},{"id":"dc39e553.83fd88","type":"change","z":"ec078ca6.e744a","name":"Weather Extraction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.textDescription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":780,"wires":[["ccf3ba.6b18fc48","8051d7a3.88c4a8"]]},{"id":"d911065e.8e8c78","type":"change","z":"ec078ca6.e744a","name":"Temp Extraction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.temperature.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":820,"wires":[["ccf3ba.6b18fc48","afeaab39.0e0068"]]},{"id":"ecadffd3.1d8ef","type":"comment","z":"ec078ca6.e744a","name":"Temp color handling","info":"","x":130,"y":1520,"wires":[]},{"id":"26895627.44e13a","type":"comment","z":"ec078ca6.e744a","name":"Animation selection","info":"","x":130,"y":1120,"wires":[]},{"id":"928cf6b1.bde7b8","type":"comment","z":"ec078ca6.e744a","name":"MQTT Handling","info":"","x":120,"y":1820,"wires":[]},{"id":"23d98730.9521a8","type":"function","z":"ec078ca6.e744a","name":"Description selection","func":"if (msg.payload === \"Clear\" || msg.payload === \"Fair\" || msg.payload === \"Fair with Haze\" || msg.payload === \"Clear with Haze\" || msg.payload === \"Fair and Breezy\" || msg.payload === \"Clear and Breezy\" || msg.payload === \"A Few Clouds\" || msg.payload === \"A Few Clouds with Haze\" || msg.payload === \"A Few Clouds and Breezy\" || msg.payload === \"Mostly Clear\" || msg.payload === \"Sunny\"){\n    msg.payload = \"Clear\";\n}\nelse if (msg.payload === \"Partly Cloudy\" || msg.payload === \"Partly Cloudy with Haze\" || msg.payload === \"Partly Cloudy and Breezy\" || msg.payload === \"Partly Sunny\"){\n    msg.payload = \"Partly Cloudy\";\n}\nelse if (msg.payload === \"Mostly Cloudy\" || msg.payload === \"Mostly Cloudy with Haze\" || msg.payload === \"Mostly Cloudy and Breezy\"){\n    msg.payload = \"Mostly Cloudy\";\n}\nelse if (msg.payload === \"Overcast\" || msg.payload === \"Overcast with Haze\" || msg.payload === \"Overcast and Breezy\" || msg.payload === \"Cloudy\"){\n    msg.payload = \"Overcast\";\n}\nelse if (msg.payload === \"Snow\" || msg.payload === \"Light Snow\" || msg.payload === \"Heavy Snow\" || msg.payload === \"Snow Showers\" || msg.payload === \"Light Snow Showers\" || msg.payload === \"Heavy Snow Showers\" || msg.payload === \"Showers Snow\" || msg.payload === \"Light Showers Snow\" || msg.payload === \"Heavy Showers Snow\" || msg.payload === \"Snow Fog/Mist\" || msg.payload === \"Light Snow Fog/Mist\" || msg.payload === \"Heavy Snow Fog/Mist\" || msg.payload === \"Snow Showers Fog/Mist\" || msg.payload === \"Light Snow Showers Fog/Mist\" || msg.payload === \"Heavy Snow Showers Fog/Mist\" || msg.payload === \"Showers Snow Fog/Mist\" || msg.payload === \"Light Showers Snow Fog/Mist\" || msg.payload === \"Heavy Showers Snow Fog/Mist\" || msg.payload === \"Snow Fog\" || msg.payload === \"Light Snow Fog\" || msg.payload === \"Heavy Snow Fog\" || msg.payload === \"Snow Showers Fog\" || msg.payload === \"Light Snow Showers Fog\" || msg.payload === \"Heavy Snow Showers Fog\" || msg.payload === \"Showers in Vicinity Snow\" || msg.payload === \"Snow Showers in Vicinity\" || msg.payload === \"Snow Showers in Vicinity Fog/Mist\" || msg.payload === \"Snow Showers in Vicinity Fog\" || msg.payload === \"Low Drifting Snow\" || msg.payload === \"Blowing Snow\" || msg.payload === \"Snow Low Drifting Snow\" || msg.payload === \"Snow Blowing Snow\" || msg.payload === \"Light Snow Low Drifting Snow\" || msg.payload === \"Light Snow Blowing Snow\" || msg.payload === \"Light Snow Blowing Snow Fog/Mist\" || msg.payload === \"Heavy Snow Low Drifting Snow\" || msg.payload === \"Heavy Snow Blowing Snow\" || msg.payload === \"Thunderstorm Snow\" || msg.payload === \"Light Thunderstorm Snow\" || msg.payload === \"Heavy Thunderstorm Snow\" || msg.payload === \"Snow Grains\" || msg.payload === \"Light Snow Grains\" || msg.payload === \"Heavy Snow Grains\" || msg.payload === \"Heavy Blowing Snow\" || msg.payload === \"Blowing Snow in Vicinity\"){\n    msg.payload = \"Snow\";\n}\nelse if (msg.payload === \"Rain Snow\" || msg.payload === \"Light Rain Snow\" || msg.payload === \"Heavy Rain Snow\" || msg.payload === \"Snow Rain\" || msg.payload === \"Light Snow Rain\" || msg.payload === \"Heavy Snow Rain\" || msg.payload === \"Drizzle Snow\" || msg.payload === \"Light Drizzle Snow\" || msg.payload === \"Heavy Drizzle Snow\" || msg.payload === \"Snow Drizzle\" || msg.payload === \"Light Snow Drizzle\" || msg.payload === \"Heavy Drizzle Snow\") {\n    msg.payload = \"Rain Snow\";\n}\n\nelse if (msg.payload === \"Freezing Rain Rain\" || msg.payload === \"Light Freezing Rain Rain\" || msg.payload === \"Heavy Freezing Rain Rain\" || msg.payload === \"Rain Freezing Rain\" || msg.payload === \"Light Rain Freezing Rain\" || msg.payload === \"Heavy Rain Freezing Rain\" || msg.payload === \"Freezing Drizzle Rain\" || msg.payload === \"Light Freezing Drizzle Rain\" || msg.payload === \"Heavy Freezing Drizzle Rain\" || msg.payload === \"Rain Freezing Drizzle\" || msg.payload === \"Light Rain Freezing Drizzle\" || msg.payload === \"Heavy Rain Freezing Drizzle\" || msg.payload === \"Freezing Rain\" || msg.payload === \"Freezing Drizzle\" || msg.payload === \"Light Freezing Rain\" || msg.payload === \"Light Freezing Drizzle\" || msg.payload === \"Heavy Freezing Rain\" || msg.payload === \"Heavy Freezing Drizzle\" || msg.payload === \"Freezing Rain in Vicinity\" || msg.payload === \"Freezing Drizzle in Vicinity\" || msg.payload === \"Freezing Rain Snow\" || msg.payload === \"Light Freezing Rain Snow\" || msg.payload === \"Heavy Freezing Rain Snow\" || msg.payload === \"Freezing Drizzle Snow\" || msg.payload === \"Light Freezing Drizzle Snow\" || msg.payload === \"Heavy Freezing Drizzle Snow\" || msg.payload === \"Snow Freezing Rain\" || msg.payload === \"Light Snow Freezing Rain\" || msg.payload === \"Heavy Snow Freezing Rain\" || msg.payload === \"Snow Freezing Drizzle\" || msg.payload === \"Light Snow Freezing Drizzle\" || msg.payload === \"Heavy Snow Freezing Drizzle\"){\n    msg.payload = \"Freezing Rain\";\n}\n\nelse if (msg.payload === \"Ice Pellets\" || msg.payload === \"Light Ice Pellets\" || msg.payload === \"Heavy Ice Pellets\" || msg.payload === \"Ice Pellets in Vicinity\" || msg.payload === \"Showers Ice Pellets\" || msg.payload === \"Thunderstorm Ice Pellets\" || msg.payload === \"Ice Crystals\" || msg.payload === \"Hail\" || msg.payload === \"Small Hail/Snow Pellets\" || msg.payload === \"Light Small Hail/Snow Pellets\" || msg.payload === \"Heavy small Hail/Snow Pellets\" || msg.payload === \"Showers Hail\" || msg.payload === \"Hail Showers\" || msg.payload === \"Rain Ice Pellets\" || msg.payload === \"Light Rain Ice Pellets\" || msg.payload === \"Heavy Rain Ice Pellets\" || msg.payload === \"Drizzle Ice Pellets\" || msg.payload === \"Light Drizzle Ice Pellets\" || msg.payload === \"Heavy Drizzle Ice Pellets\" || msg.payload === \"Ice Pellets Rain\" || msg.payload === \"Light Ice Pellets Rain\" || msg.payload === \"Heavy Ice Pellets Rain\" || msg.payload === \"Ice Pellets Drizzle\" || msg.payload === \"Light Ice Pellets Drizzle\" || msg.payload === \"Heavy Ice Pellets Drizzle\" || msg.payload === \"Snow Ice Pellets\"){\n    msg.payload = \"Ice Pellets\";\n}\n\nelse if (msg.payload === \"Rain\" || msg.payload === \"Heavy Rain\" || msg.payload === \"Rain Fog/Mist\" || msg.payload === \"Heavy Rain Fog/Mist\" || msg.payload === \"Rain Fog\" || msg.payload === \"Heavy Rain Fog\"){\n    msg.payload = \"Rain\";\n}\nelse if (msg.payload === \"Rain Showers\" || msg.payload === \"Light Rain Showers\" || msg.payload === \"Light Rain and Breezy\" || msg.payload === \"Heavy Rain Showers\" || msg.payload === \"Rain Showers in Vicinity\" || msg.payload === \"Light Showers Rain\" || msg.payload === \"Heavy Showers Rain\" || msg.payload === \"Showers Rain\" || msg.payload === \"Showers Rain in Vicinity\" || msg.payload === \"Rain Showers Fog/Mist\" || msg.payload === \"Light Rain Showers Fog/Mist\" || msg.payload === \"Heavy Rain Showers Fog/Mist\" || msg.payload === \"Rain Showers in Vicinity Fog/Mist\" || msg.payload === \"Light Showers Rain Fog/Mist\" || msg.payload === \"Heavy Showers Rain Fog/Mist\" || msg.payload === \"Showers Rain Fog/Mist\" || msg.payload === \"Showers Rain in Vicinity Fog/Mist\" || msg.payload === \"Light Rain\" || msg.payload === \"Drizzle\" || msg.payload === \"Light Drizzle\" || msg.payload === \"Heavy Drizzle\" || msg.payload === \"Light Rain Fog/Mist\" || msg.payload === \"Light Drizzle Fog/Mist\" || msg.payload === \"Light Rain Fog\" || msg.payload === \"Light Drizzle Fog\" || msg.payload === \"Heavy Drizzle Fog\" || msg.payload === \"Showers in Vicinity\" || msg.payload === \"Showers in Vicinity Fog/Mist\" || msg.payload === \"Showers in Vicinity Fog\" || msg.payload === \"Showers in Vicinity Haze\"){\n    msg.payload = \"Light Rain\";\n}\n else if (msg.payload === \"Thunderstorm\" || msg.payload === \"Thunderstorm Rain\" || msg.payload === \"Light Thunderstorm Rain\" || msg.payload === \"Heavy Thunderstorm Rain\" || msg.payload === \"Thunderstorm Rain Fog/Mist\" || msg.payload === \"Light Thunderstorm Rain Fog/Mist\" || msg.payload === \"Heavy Thunderstorm Rain Fog and Windy\" || msg.payload === \"Heavy Thunderstorm Rain Fog/Mist\" || msg.payload === \"Thunderstorm Showers in Vicinity\" || msg.payload === \"Light Thunderstorm Rain Haze\" || msg.payload === \"Heavy Thunderstorm Rain Haze\" || msg.payload === \"Thunderstorm Fog\" || msg.payload === \"Light Thunderstorm Rain Fog\" || msg.payload === \"Heavy Thunderstorm Rain Fog\" || msg.payload === \"Thunderstorm Light Rain\" || msg.payload === \"Thunderstorm Heavy Rain\" || msg.payload === \"Thunderstorm Rain Fog/Mist\" || msg.payload === \"Thunderstorm Light Rain Fog/Mist\" || msg.payload === \"Thunderstorm Heavy Rain Fog/Mist\" || msg.payload === \"Thunderstorm in Vicinity Fog/Mist\" || msg.payload === \"Thunderstorm Showers in Vicinity\" || msg.payload === \"Thunderstorm in Vicinity Haze\" || msg.payload === \"Thunderstorm Haze in Vicinity\" || msg.payload === \"Thunderstorm Light Rain Haze\" || msg.payload === \"Thunderstorm Heavy Rain Haze\" || msg.payload === \"Thunderstorm Fog\" || msg.payload === \"Thunderstorm Light Rain Fog\" || msg.payload === \"Thunderstorm Heavy Rain Fog\" || msg.payload === \"Thunderstorm Hail\" || msg.payload === \"Light Thunderstorm Rain Hail\" || msg.payload === \"Heavy Thunderstorm Rain Hail\" || msg.payload === \"Thunderstorm Rain Hail Fog/Mist\" || msg.payload === \"Light Thunderstorm Rain Hail Fog/Mist\" || msg.payload === \"Heavy Thunderstorm Rain Hail Fog/Hail\" || msg.payload === \"Thunderstorm Showers in Vicinity Hail\" || msg.payload === \"Light Thunderstorm Rain Hail Haze\" || msg.payload === \"Heavy Thunderstorm Rain Hail Haze\" || msg.payload === \"Thunderstorm Hail Fog\" || msg.payload === \"Light Thunderstorm Rain Hail Fog\" || msg.payload === \"Heavy Thunderstorm Rain Hail Fog\" || msg.payload === \"Thunderstorm Light Rain Hail\" || msg.payload === \"Thunderstorm Heavy Rain Hail\" || msg.payload === \"Thunderstorm Rain Hail Fog/Mist\" || msg.payload === \"Thunderstorm Light Rain Hail Fog/Mist\" || msg.payload === \"Thunderstorm Heavy Rain Hail Fog/Mist\" || msg.payload === \"Thunderstorm in Vicinity Hail\" || msg.payload === \"Thunderstorm in Vicinity Hail Haze\" || msg.payload === \"Thunderstorm Haze in Vicinity Hail\" || msg.payload === \"Thunderstorm Light Rain Hail Haze\" || msg.payload === \"Thunderstorm Heavy Rain Hail Haze\" || msg.payload === \"Thunderstorm Hail Fog\" || msg.payload === \"Thunderstorm Light Rain Hail Fog\" || msg.payload === \"Thunderstorm Heavy Rain Hail Fog\" || msg.payload === \"Thunderstorm Small Hail/Snow Pellets\" || msg.payload === \"Thunderstorm Rain Small Hail/Snow Pellets\" || msg.payload === \"Light Thunderstorm Rain Small Hail/Snow Pellets\" || msg.payload === \"Heavy Thunderstorm Rain Small Hail/Snow Pellets\" || msg.payload === \"Thunder\" || msg.payload === \"Thunderstorms\" || msg.payload === \"Thunderstorm in Vicinity\" || msg.payload === \"Thunderstorm in Vicinity\" || msg.payload === \"Thunderstorm in Vicinity Fog\" || msg.payload === \"Thunderstorm in Vicinity Haze\"){\n    msg.payload = \"Thunder\";\n}\nelse if (msg.payload === \"Funnel Cloud\" || msg.payload === \"Funnel Cloud in Vicinity\" || msg.payload === \"Tornado/Water Spout\" || msg.payload === \"Tornado\"){\n    msg.payload = \"Tornado\";\n}\nelse if (msg.payload === \"Hurricane Warning\" || msg.payload === \"Tropical Storm Conditions presently exist w/Hurricane Warning in effect\"){\n    msg.payload = \"Hurricane Warning\";\n}\nelse if (msg.payload === \"Hurricane Watch\"){\n    msg.payload = \"Hurricane Watch\";\n}\nelse if (msg.payload === \"Tropical Storm Warning\"){\n    msg.payload = \"Tropical Storm Warning\";\n}\nelse if (msg.payload === \"Tropical Storm Watch\"){\n    msg.payload = \"Tropical Storm Watch\";\n}\n\nelse if (msg.payload === \"Windy\" || msg.payload === \"Breezy\" || msg.payload === \"Fair and Windy\" || msg.payload === \"A Few Clouds and Windy\"){\n    msg.payload = \"Windy\";\n}\nelse if (msg.payload === \"Partly Cloudy and Windy\"){\n    msg.payload = \"Partly Cloudy Windy\";\n}\nelse if (msg.payload === \"Mostly Cloudy and Windy\"){\n    msg.payload = \"Mostly Cloudy Windy\";\n}\nelse if (msg.payload === \"Overcast and Windy\"){\n    msg.payload = \"Overcast Windy\";\n}\nelse if (msg.payload === \"Dust\" || msg.payload === \"Low Drifting Dust\" || msg.payload === \"Blowing Dust\" || msg.payload === \"Sand\" || msg.payload === \"Blowing Sand\" || msg.payload === \"Low Drifting Sand\" || msg.payload === \"Dust/Sand Whirls\" || msg.payload === \"Dust/Sand Whirls in Vicinity\" || msg.payload === \"Dust Storm\" || msg.payload === \"Heavy Dust Storm\" || msg.payload === \"Dust Storm in Vicinity\" || msg.payload === \"Sand Storm\" || msg.payload === \"Heavy Sand Storm\" || msg.payload === \"Sand Storm in Vicinity\"){\n    msg.payload = \"Dust\";\n}\nelse if (msg.payload === \"Smoke\"){\n    msg.payload = \"Smoke\";\n}\nelse if (msg.payload === \"Haze\"){\n    msg.payload = \"Haze\";\n}\nelse if (msg.payload === \"Hot\"){\n    msg.payload = \"Hot\";\n}\nelse if (msg.payload === \"Cold\"){\n    msg.payload = \"Cold\";\n}\nelse if (msg.payload === \"Blizzard\"){\n    msg.payload = \"Blizzard\";\n}\nelse if (msg.payload === \"Fog/Mist\" || msg.payload === \"Freezing Fog\" || msg.payload === \"Shallow Fog\" || msg.payload === \"Partial Fog\" || msg.payload === \"Patches of Fog\" || msg.payload === \"Fog in Vicinity\" || msg.payload === \"Freezing Fog in Vicinity\" || msg.payload === \"Shallow Fog in Vicinity\" || msg.payload === \"Partial Fog in Vicinity\" || msg.payload === \"Patches of Fog in Vicinity\" || msg.payload === \"Showers in Vicinity Fog\" || msg.payload === \"Light Freezing Fog\" || msg.payload === \"Heavy Freezing Fog\"){\n    msg.payload = \"Fog\";\n}\nelse {\n\tmsg.payload = \"Unknown\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":1160,"wires":[["952f65e0.0e7858"]]},{"id":"2c31d13b.9dbe2e","type":"switch","z":"ec078ca6.e744a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Hot","vt":"str"},{"t":"eq","v":"Cold","vt":"str"},{"t":"eq","v":"Rain","vt":"str"},{"t":"eq","v":"Light Rain","vt":"str"},{"t":"eq","v":"Clear","vt":"str"},{"t":"eq","v":"Partly Cloudy","vt":"str"},{"t":"eq","v":"Mostly Cloudy","vt":"str"},{"t":"eq","v":"Overcast","vt":"str"},{"t":"eq","v":"Thunder","vt":"str"},{"t":"eq","v":"Thunder Night","vt":"str"},{"t":"eq","v":"Blizzard","vt":"str"},{"t":"eq","v":"Snow","vt":"str"},{"t":"eq","v":"Unknown","vt":"str"},{"t":"eq","v":"Fog","vt":"str"},{"t":"eq","v":"Tornado","vt":"str"},{"t":"eq","v":"Hurricane Warning","vt":"str"},{"t":"eq","v":"Dust","vt":"str"}],"checkall":"true","repair":false,"outputs":17,"x":550,"y":1360,"wires":[["6f9054c1.8079fc"],["a0a49fc6.69d34"],["9766acb1.0c995"],["101b6a50.a26a86"],["47c87b82.243504"],["3ee504d3.2d98bc"],["82d111f8.75d36"],["182ff2b8.eb23ed"],["11e4b670.06b74a"],["56663cc0.0492d4"],["db9a1d38.55ce5"],["54e53fb2.ddccb"],["9581a636.680478"],["e787b9b7.da53f8"],["61b73a5d.9c65d4"],["9a097e38.d9742"],["5af68143.367b3"]]},{"id":"6f9054c1.8079fc","type":"change","z":"ec078ca6.e744a","name":"Hot","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[255,208,0],[255,121,18],[0,0,0]],\"fx\":2,\"sx\":45,\"ix\":109,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":18,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":4,\"start\":22,\"stop\":28,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":32,\"stop\":38,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":42,\"stop\":48,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":52,\"stop\":58,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":8,\"start\":62,\"stop\":68,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":9,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":0,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1160,"wires":[["c454d20a.9c016"]]},{"id":"a0a49fc6.69d34","type":"change","z":"ec078ca6.e744a","name":"Cold","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[49,179,255],[0,9,189],[0,0,0]],\"fx\":2,\"sx\":45,\"ix\":109,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":18,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":4,\"start\":22,\"stop\":28,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":32,\"stop\":38,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":42,\"stop\":48,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":52,\"stop\":58,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":8,\"start\":62,\"stop\":68,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":9,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":0,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1160,"wires":[["c454d20a.9c016"]]},{"id":"9766acb1.0c995","type":"change","z":"ec078ca6.e744a","name":"Rain","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[32,118,168],[107,116,120],[0,0,0]],\"fx\":2,\"sx\":45,\"ix\":40,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":18,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":4,\"start\":22,\"stop\":28,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":32,\"stop\":38,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":42,\"stop\":48,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":52,\"stop\":58,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":8,\"start\":62,\"stop\":68,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":9,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1200,"wires":[["c454d20a.9c016"]]},{"id":"101b6a50.a26a86","type":"change","z":"ec078ca6.e744a","name":"Light Rain","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[32,118,168],[107,116,120],[0,0,0]],\"fx\":2,\"sx\":45,\"ix\":40,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":18,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":4,\"start\":22,\"stop\":28,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":32,\"stop\":38,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":42,\"stop\":48,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":52,\"stop\":58,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":8,\"start\":62,\"stop\":68,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":9,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1200,"wires":[["c454d20a.9c016"]]},{"id":"47c87b82.243504","type":"change","z":"ec078ca6.e744a","name":"Clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":2,\"sx\":23,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[240,255,145],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1240,"wires":[["c454d20a.9c016"]]},{"id":"3ee504d3.2d98bc","type":"change","z":"ec078ca6.e744a","name":"Partly Cloudy","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[43,132,255],[84,187,232],[0,0,0]],\"fx\":2,\"sx\":23,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[240,255,145],[171,171,171],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1240,"wires":[["c454d20a.9c016"]]},{"id":"82d111f8.75d36","type":"change","z":"ec078ca6.e744a","name":"Mostly Cloudy","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[79,146,255],[150,148,156],[0,0,0]],\"fx\":15,\"sx\":19,\"ix\":45,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[240,255,145],[171,171,171],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1280,"wires":[["c454d20a.9c016"]]},{"id":"182ff2b8.eb23ed","type":"change","z":"ec078ca6.e744a","name":"Overcast","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[161,164,191],[105,104,110],[0,0,0]],\"fx\":15,\"sx\":19,\"ix\":45,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[151,153,107],[171,171,171],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[130,136,158],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[130,136,158],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1280,"wires":[["c454d20a.9c016"]]},{"id":"11e4b670.06b74a","type":"change","z":"ec078ca6.e744a","name":"Thunder","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[43,43,43],[0,0,0]],\"fx\":57,\"sx\":145,\"ix\":119,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[48,48,48],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1320,"wires":[["c454d20a.9c016"]]},{"id":"56663cc0.0492d4","type":"change","z":"ec078ca6.e744a","name":"Thunder Night","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,115],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,115],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":57,\"sx\":145,\"ix\":119,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1320,"wires":[["c454d20a.9c016"]]},{"id":"db9a1d38.55ce5","type":"change","z":"ec078ca6.e744a","name":"Blizzard","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[128,128,128],[224,224,224],[0,0,0]],\"fx\":80,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[128,128,128],[224,224,224],[0,0,0]],\"fx\":80,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[207,207,207],[128,128,128],[0,0,0]],\"fx\":15,\"sx\":133,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[128,128,128],[224,224,224],[0,0,0]],\"fx\":80,\"sx\":190,\"ix\":171,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1360,"wires":[["c454d20a.9c016"]]},{"id":"54e53fb2.ddccb","type":"change","z":"ec078ca6.e744a","name":"Snow","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":10,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":10,\"stop\":18,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":3,\"start\":22,\"stop\":30,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":30,\"stop\":38,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":5,\"start\":42,\"stop\":50,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":6,\"start\":50,\"stop\":58,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":7,\"start\":62,\"stop\":70,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":8,\"start\":70,\"stop\":80,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1360,"wires":[["c454d20a.9c016"]]},{"id":"9581a636.680478","type":"change","z":"ec078ca6.e744a","name":"Unknown","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":10,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":10,\"stop\":18,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":3,\"start\":22,\"stop\":30,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":30,\"stop\":38,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":5,\"start\":42,\"stop\":50,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":6,\"start\":50,\"stop\":58,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":7,\"start\":62,\"stop\":70,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":8,\"start\":70,\"stop\":80,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1400,"wires":[["c454d20a.9c016"]]},{"id":"c454d20a.9c016","type":"link out","z":"ec078ca6.e744a","name":"","links":["ac6af46.7d2bb08","3acaa702.6c8698","e384f5d9.d6c718"],"x":1175,"y":1480,"wires":[]},{"id":"8051d7a3.88c4a8","type":"link out","z":"ec078ca6.e744a","name":"","links":["a8d2dfda.071dc"],"x":715,"y":780,"wires":[]},{"id":"a8d2dfda.071dc","type":"link in","z":"ec078ca6.e744a","name":"Animation Selection In","links":["8051d7a3.88c4a8","8dcd29af.3aa528","f1996baa.bf5a88"],"x":55,"y":1160,"wires":[["23d98730.9521a8"]]},{"id":"74abb0b8.dcada","type":"inject","z":"ec078ca6.e744a","name":"Manual Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":860,"wires":[["e27cda25.cd3338"]]},{"id":"ccf3ba.6b18fc48","type":"debug","z":"ec078ca6.e744a","name":"Latest Conditions","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":800,"wires":[]},{"id":"a83175b9.03e798","type":"debug","z":"ec078ca6.e744a","name":"Animation Select","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":1220,"wires":[]},{"id":"442417da.6f66f8","type":"link out","z":"ec078ca6.e744a","name":"","links":["7c110120.8c19b"],"x":855,"y":840,"wires":[]},{"id":"7c110120.8c19b","type":"link in","z":"ec078ca6.e744a","name":"current in","links":["442417da.6f66f8"],"x":55,"y":1560,"wires":[["b879c500.e12628"]]},{"id":"b879c500.e12628","type":"function","z":"ec078ca6.e744a","name":"C to F","func":"var tempC = msg.payload;\nvar tempF = (tempC*1.8)+32;\nmsg.payload = tempF;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":1560,"wires":[["7897dbb5.9bd004","2405d6f8.3881fa"]]},{"id":"818f8a8c.4cc9d8","type":"function","z":"ec078ca6.e744a","name":"Temp to Hue","func":"var TempF = msg.payload\nvar Hue = [0,100,100];\nvar hue = -(0.000000131548439110372*(Math.pow(TempF,5)))+(0.0000313862367243081*(Math.pow(TempF,4)))-(0.00197251332927717*(Math.pow(TempF,3)))-(0.00836515296603935*(Math.pow(TempF,2)))-(0.0977029807281724*(TempF))+260\nHue[0] = hue\nmsg.payload = Hue\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":1560,"wires":[["9c2d154c.1a5f18","e760c2a9.e4d2d"]]},{"id":"9c2d154c.1a5f18","type":"color-convert","z":"ec078ca6.e744a","input":"hsv","output":"rgb","outputType":"array","scaleInput":false,"x":730,"y":1560,"wires":[["88836001.85286","11c2531d.58492d"]]},{"id":"4039d4bb.f6513c","type":"function","z":"ec078ca6.e744a","name":"form message","func":"var temp = msg.payload;\nvar message =  '{\"mainseg\":0,\"seg\":[{\"id\":0,\"col\":[['\nvar num = temp[0];\nvar n = num.toString();\nmessage = message.concat(n);\nnum = temp[1];\nn = num.toString();\nvar m = \",\";\nmessage = message.concat(m);\nmessage = message.concat(n);\nmessage = message.concat(m);\nnum = temp[2];\nn = num.toString();\nmessage = message.concat(n);\nvar p = \"],[0,0,0],[0,0,0]]}]}\"\nvar mess = message.concat(p)\nmsg.payload = mess;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":1540,"wires":[["f2a8ac5d.855eb","eda756be.7f46f8"]]},{"id":"f2a8ac5d.855eb","type":"debug","z":"ec078ca6.e744a","name":"Tri Color Message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":1600,"wires":[]},{"id":"eda756be.7f46f8","type":"link out","z":"ec078ca6.e744a","name":"","links":["ac6af46.7d2bb08","3acaa702.6c8698","e384f5d9.d6c718"],"x":1195,"y":1540,"wires":[]},{"id":"66043cf2.b18f14","type":"link in","z":"ec078ca6.e744a","name":"MQTT In","links":["74126363.a731ec","726c834c.45276c","21a5baa5.236e96"],"x":35,"y":2000,"wires":[["6b76a69d.5021e8"]]},{"id":"4bc6f781.7fe908","type":"comment","z":"ec078ca6.e744a","name":"Forecast Mode","info":"","x":320,"y":1960,"wires":[]},{"id":"699f3289.523edc","type":"comment","z":"ec078ca6.e744a","name":"Temp Band Mode","info":"","x":320,"y":2080,"wires":[]},{"id":"4cb44ade.8e8974","type":"comment","z":"ec078ca6.e744a","name":"Startup","info":"","x":290,"y":1840,"wires":[]},{"id":"6b76a69d.5021e8","type":"switch","z":"ec078ca6.e744a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"#010000","vt":"str"},{"t":"eq","v":"#000100","vt":"str"},{"t":"eq","v":"#000001","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":130,"y":2000,"wires":[["9d00d775.e750b8"],["f3f2cc97.e0f58"],["5af6a3e2.de3f7c"]]},{"id":"9d00d775.e750b8","type":"change","z":"ec078ca6.e744a","name":"set to timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1880,"wires":[["14c109c6.594556","c0ac47d0.2e3528"]]},{"id":"14c109c6.594556","type":"link out","z":"ec078ca6.e744a","name":"Startup Propmpt","links":["7315d754.8b49e8","75894155.be718"],"x":455,"y":1880,"wires":[]},{"id":"625205d7.c4ecfc","type":"link in","z":"ec078ca6.e744a","name":"forecast in","links":["4660bd86.20b654","9a7f1bd5.82dc98","6e357fbd.c9c4d"],"x":55,"y":960,"wires":[["bb933b9a.448678","e13a0672.156fd8"]]},{"id":"bb933b9a.448678","type":"change","z":"ec078ca6.e744a","name":"Weather Extraction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.periods[2].shortForecast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":1020,"wires":[["2063709a.086ec","913eac40.97513"]]},{"id":"e13a0672.156fd8","type":"change","z":"ec078ca6.e744a","name":"Temp Extraction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.periods[2].temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":960,"wires":[["2063709a.086ec","eabcf045.9007"]]},{"id":"8dcd29af.3aa528","type":"link out","z":"ec078ca6.e744a","name":"","links":["a8d2dfda.071dc"],"x":775,"y":1000,"wires":[]},{"id":"2063709a.086ec","type":"debug","z":"ec078ca6.e744a","name":"Forecast","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":960,"wires":[]},{"id":"543a8bf3.d4cda4","type":"link out","z":"ec078ca6.e744a","name":"","links":["b48d76fa.e8d2b8"],"x":535,"y":960,"wires":[]},{"id":"9df929d3.a3d7d8","type":"comment","z":"ec078ca6.e744a","name":"Forecast Parsing","info":"","x":100,"y":920,"wires":[]},{"id":"b48d76fa.e8d2b8","type":"link in","z":"ec078ca6.e744a","name":"Forecast in","links":["543a8bf3.d4cda4","19b2b650.c4d8ea"],"x":155,"y":1600,"wires":[["2405d6f8.3881fa"]]},{"id":"c95924c.b71e4d8","type":"change","z":"ec078ca6.e744a","name":"reset message","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":2260,"wires":[["ad9a0281.f6d8e"]]},{"id":"f3f2cc97.e0f58","type":"change","z":"ec078ca6.e744a","name":"set to timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2000,"wires":[["c95924c.b71e4d8","1048df18.3f91e1","ca84df30.b6f1d"]]},{"id":"1eba81c4.9c869e","type":"link out","z":"ec078ca6.e744a","name":"forecast trigger","links":["7753a37f.d08c3c","b7b1d0b8.25939","121bdee3.992861"],"x":855,"y":2000,"wires":[]},{"id":"ad9a0281.f6d8e","type":"link out","z":"ec078ca6.e744a","name":"reset trigger","links":["7315d754.8b49e8","75894155.be718"],"x":675,"y":2260,"wires":[]},{"id":"36757d0b.74da62","type":"comment","z":"ec078ca6.e744a","name":"Tri Band Function","info":"","x":120,"y":1680,"wires":[]},{"id":"1048df18.3f91e1","type":"change","z":"ec078ca6.e744a","name":"","rules":[{"t":"set","p":"source","pt":"msg","to":"forecast","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":2000,"wires":[["32dbb7b8.a42a28","73827924.481ea8"]]},{"id":"fbe7e1bb.b8b99","type":"change","z":"ec078ca6.e744a","name":"","rules":[{"t":"set","p":"source","pt":"msg","to":"tricolor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":2120,"wires":[["9931da93.948cd8","e2be1967.bcf158"]]},{"id":"b4c9bc2.bc5464","type":"link in","z":"ec078ca6.e744a","name":"tricolor in","links":["196b2c4b.dfc514","92ff5880.320378","f76abe5f.4c93c"],"x":55,"y":1720,"wires":[["1109429e.2bf49d"]]},{"id":"e27cda25.cd3338","type":"function","z":"ec078ca6.e744a","name":"Set User Agent ","func":"msg.headers = {};\nmsg.headers['USER-AGENT'] = 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":800,"wires":[["5f9292cd.eef7dc"]]},{"id":"32dbb7b8.a42a28","type":"function","z":"ec078ca6.e744a","name":"Set User Agent ","func":"msg.headers = {};\nmsg.headers['USER-AGENT'] = 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":2000,"wires":[["1eba81c4.9c869e"]]},{"id":"9931da93.948cd8","type":"function","z":"ec078ca6.e744a","name":"Set User Agent ","func":"msg.headers = {};\nmsg.headers['USER-AGENT'] = 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":2120,"wires":[["1ea329bb.a9bf46"]]},{"id":"5af6a3e2.de3f7c","type":"change","z":"ec078ca6.e744a","name":"set to timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2120,"wires":[["fbe7e1bb.b8b99","c95924c.b71e4d8","ca84df30.b6f1d"]]},{"id":"1ea329bb.a9bf46","type":"link out","z":"ec078ca6.e744a","name":"forecast trigger","links":["7753a37f.d08c3c","b7b1d0b8.25939","121bdee3.992861"],"x":855,"y":2120,"wires":[]},{"id":"41343a0b.81f0b4","type":"comment","z":"ec078ca6.e744a","name":"Current Condition Trigger pause/restart","info":"","x":630,"y":2220,"wires":[]},{"id":"1109429e.2bf49d","type":"function","z":"ec078ca6.e744a","name":"Temperature Message Split","func":"var temp1 = msg.payload.properties.periods[0].temperature\nvar temp2 = msg.payload.properties.periods[1].temperature\nvar temp3 = msg.payload.properties.periods[2].temperature\nvar msg1 = {}\nvar msg2 = {}\nvar msg3 = {}\nmsg1.payload = temp1\nmsg2.payload = temp2\nmsg3.payload = temp3\nreturn [[msg1,msg2,msg3]]\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":1720,"wires":[["91b747aa.30c558","a45684a6.4485f8"]]},{"id":"d908b712.92c678","type":"inject","z":"ec078ca6.e744a","name":"Manual Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":2060,"wires":[["f3f2cc97.e0f58"]]},{"id":"eabcf045.9007","type":"change","z":"ec078ca6.e744a","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"single","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":960,"wires":[["543a8bf3.d4cda4"]]},{"id":"afeaab39.0e0068","type":"change","z":"ec078ca6.e744a","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"single","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":840,"wires":[["442417da.6f66f8"]]},{"id":"91b747aa.30c558","type":"change","z":"ec078ca6.e744a","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"tri","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1720,"wires":[["19b2b650.c4d8ea"]]},{"id":"19b2b650.c4d8ea","type":"link out","z":"ec078ca6.e744a","name":"","links":["b48d76fa.e8d2b8"],"x":555,"y":1720,"wires":[]},{"id":"88836001.85286","type":"switch","z":"ec078ca6.e744a","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"tri","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":1560,"wires":[["4039d4bb.f6513c"],["77665fcd.381c1"]]},{"id":"77665fcd.381c1","type":"link out","z":"ec078ca6.e744a","name":"","links":["24ad97b7.6d0188"],"x":1015,"y":1580,"wires":[]},{"id":"24ad97b7.6d0188","type":"link in","z":"ec078ca6.e744a","name":"","links":["77665fcd.381c1"],"x":615,"y":1720,"wires":[["3a71a7f9.6c5068"]]},{"id":"690ce076.24f6e","type":"debug","z":"ec078ca6.e744a","name":"tri color formed message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":1760,"wires":[]},{"id":"cb11590d.94fea8","type":"inject","z":"ec078ca6.e744a","name":"Manual Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":2120,"wires":[["5af6a3e2.de3f7c"]]},{"id":"7897dbb5.9bd004","type":"debug","z":"ec078ca6.e744a","name":"c to f","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":1600,"wires":[]},{"id":"e760c2a9.e4d2d","type":"debug","z":"ec078ca6.e744a","name":"temp to hue","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1600,"wires":[]},{"id":"11c2531d.58492d","type":"debug","z":"ec078ca6.e744a","name":"hsv to rgb","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":1600,"wires":[]},{"id":"a45684a6.4485f8","type":"debug","z":"ec078ca6.e744a","name":"tri function","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":1760,"wires":[]},{"id":"3a71a7f9.6c5068","type":"join","z":"ec078ca6.e744a","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"-","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":1720,"wires":[["6b1584f6.f7918c"]]},{"id":"6b1584f6.f7918c","type":"function","z":"ec078ca6.e744a","name":"Message Forming","func":"var bands = msg.payload.split(\"-\")\nvar message = '{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(bands[0])\nvar next = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":125,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":17,\"stop\":79,\"len\":62,\"grp\":6,\"spc\":14,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(next)\nmessage = message.concat(bands[0])\nnext = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":125,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":3,\"stop\":79,\"len\":76,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(next)\nmessage = message.concat(bands[1])\nnext = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":125,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":13,\"stop\":79,\"len\":66,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(next)\nmessage = message.concat(bands[1])\nnext = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":125,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":7,\"stop\":79,\"len\":72,\"grp\":6,\"spc\":14,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(next)\nmessage = message.concat(bands[2])\nnext = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}'\nmessage = message.concat(next)\nmsg.payload = message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":1720,"wires":[["690ce076.24f6e","4c4ea03b.09089"]]},{"id":"4c4ea03b.09089","type":"link out","z":"ec078ca6.e744a","name":"Tri-Color-json_out","links":["ac6af46.7d2bb08","3acaa702.6c8698","e384f5d9.d6c718"],"x":1055,"y":1720,"wires":[]},{"id":"c0ac47d0.2e3528","type":"function","z":"ec078ca6.e744a","name":"Set Startup Variables","func":"var startTemp = flow.set(\"startTemp\",0)\nvar startCond = flow.set(\"startCond\",0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1920,"wires":[[]]},{"id":"22f39f5c.ff8a3","type":"inject","z":"ec078ca6.e744a","name":"Manual Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1880,"wires":[["9d00d775.e750b8"]]},{"id":"73827924.481ea8","type":"function","z":"ec078ca6.e744a","name":"Check Variables","func":"var startTemp = flow.set(\"startTemp\",0)\nvar startCond = flow.set(\"startCond\",0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":2040,"wires":[[]]},{"id":"e2be1967.bcf158","type":"function","z":"ec078ca6.e744a","name":"Check Variables","func":"var startTemp = flow.set(\"startTemp\",0)\nvar startCond = flow.set(\"startCond\",0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":2160,"wires":[[]]},{"id":"b07a5442.dc7ee8","type":"link in","z":"ec078ca6.e744a","name":"current trigger in","links":["b4047667.ed4908","82bf03bf.1544c"],"x":55,"y":800,"wires":[["e27cda25.cd3338"]]},{"id":"ca84df30.b6f1d","type":"link out","z":"ec078ca6.e744a","name":"delay out","links":["cf4528d6.aa43a8","d959bb40.12bbf8"],"x":495,"y":2300,"wires":[]},{"id":"952f65e0.0e7858","type":"function","z":"ec078ca6.e744a","name":"Change Check","func":"var check = flow.get(\"startCond\")\nif (check === 0){\n    flow.set(\"startCond\",1)\n    flow.set(\"currentCond\",msg.payload)\n    return msg;\n}\nelse if (check === 1){\n    var pastCond = flow.get(\"currentCond\")\n    if (pastCond === msg.payload){\n        \n    }\n    else {\n        flow.set(\"currentCond\",msg.payload)\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1160,"wires":[["2c31d13b.9dbe2e","a83175b9.03e798"]]},{"id":"2405d6f8.3881fa","type":"function","z":"ec078ca6.e744a","name":"Temp Change Check","func":"var check = flow.get(\"startTemp\")\nif (check === 0){\n    flow.set(\"startTemp\",1)\n    flow.set(\"currentTemp\",msg.payload)\n    return msg;\n}\nelse if (check === 1){\n    var pastTemp = flow.get(\"currentTemp\")\n    if (pastTemp === msg.payload){\n        \n    }\n    else {\n        flow.set(\"currentTemp\",msg.payload)\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1560,"wires":[["818f8a8c.4cc9d8"]]},{"id":"913eac40.97513","type":"function","z":"ec078ca6.e744a","name":"Multi Forecast Split","func":"var forecast = msg.payload.split(\" then \");\n\nvar msg1 = {}\nvar msg2 = {}\n\nif (forecast.length === 1){\n    msg1.payload = forecast[0]\n    return [msg1,null,null]\n}\nelse {\n    msg1.payload = forecast[0]\n    msg2.payload = forecast[1]\n    return [null,msg1,msg2]\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":430,"y":1020,"wires":[["8dcd29af.3aa528"],["3e781c05.a24094"],["ad36f230.6e6d8"]]},{"id":"ad36f230.6e6d8","type":"delay","z":"ec078ca6.e744a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":1080,"wires":[["8dcd29af.3aa528"]]},{"id":"3e781c05.a24094","type":"trigger","z":"ec078ca6.e744a","name":"","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":630,"y":1040,"wires":[["8dcd29af.3aa528"]]},{"id":"29464d74.e88f82","type":"http request","z":"ec078ca6.e744a","name":"Weather API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.weather.gov/stations/KBOS/observations/latest","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":120,"wires":[["94c6284e.c3a228","26f3891c.a67a36"]]},{"id":"5ac49c9c.9ac854","type":"mqtt in","z":"ec078ca6.e744a","name":"MQTT Config","topic":"wled/weather/c","qos":"2","datatype":"auto","broker":"3be5aec1.1f4d92","x":90,"y":60,"wires":[["21a5baa5.236e96","910b6041.c9f1b"]]},{"id":"e92ed935.6f3338","type":"comment","z":"ec078ca6.e744a","name":"User defined Variables =======================================================================================================","info":"","x":540,"y":20,"wires":[]},{"id":"94c6284e.c3a228","type":"debug","z":"ec078ca6.e744a","name":"Current Conditions Raw","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":120,"wires":[]},{"id":"f7886514.c9cd08","type":"link in","z":"ec078ca6.e744a","name":"","links":["5f9292cd.eef7dc"],"x":35,"y":120,"wires":[["29464d74.e88f82"]]},{"id":"121bdee3.992861","type":"link in","z":"ec078ca6.e744a","name":"","links":["1eba81c4.9c869e","1ea329bb.a9bf46"],"x":35,"y":180,"wires":[["b90eb4b9.81ec48"]]},{"id":"b90eb4b9.81ec48","type":"http request","z":"ec078ca6.e744a","name":"Forecast API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.weather.gov/gridpoints/GYX/72,76/forecast","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":180,"wires":[["f20d921a.75d73","2ac6bf6e.d1731"]]},{"id":"26f3891c.a67a36","type":"link out","z":"ec078ca6.e744a","name":"","links":["2a1b56ef.89031a"],"x":315,"y":120,"wires":[]},{"id":"29aa5d6d.84b412","type":"http request","z":"ec078ca6.e744a","name":"WLED JSON Send","method":"POST","ret":"txt","paytoqs":"ignore","url":"192.168.0.33\\json\\state","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":240,"wires":[["9003fcb4.ca5e5"]]},{"id":"e384f5d9.d6c718","type":"link in","z":"ec078ca6.e744a","name":"","links":["c454d20a.9c016","eda756be.7f46f8","4c4ea03b.09089","bfaab9ca.3a7798"],"x":35,"y":240,"wires":[["29aa5d6d.84b412"]]},{"id":"9003fcb4.ca5e5","type":"debug","z":"ec078ca6.e744a","name":"Send Confirmation","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":240,"wires":[]},{"id":"21a5baa5.236e96","type":"link out","z":"ec078ca6.e744a","d":true,"name":"MQTT Out","links":["66043cf2.b18f14"],"x":215,"y":60,"wires":[]},{"id":"910b6041.c9f1b","type":"debug","z":"ec078ca6.e744a","name":"MQTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":60,"wires":[]},{"id":"6e357fbd.c9c4d","type":"link out","z":"ec078ca6.e744a","name":"forecast out","links":["625205d7.c4ecfc"],"x":435,"y":160,"wires":[]},{"id":"f20d921a.75d73","type":"debug","z":"ec078ca6.e744a","name":"Forecast Raw","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":180,"wires":[]},{"id":"2ac6bf6e.d1731","type":"switch","z":"ec078ca6.e744a","name":"","property":"source","propertyType":"msg","rules":[{"t":"eq","v":"forecast","vt":"str"},{"t":"eq","v":"tricolor","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":180,"wires":[["6e357fbd.c9c4d"],["f76abe5f.4c93c"]]},{"id":"f76abe5f.4c93c","type":"link out","z":"ec078ca6.e744a","name":"tricolor out","links":["b4c9bc2.bc5464"],"x":435,"y":200,"wires":[]},{"id":"287a6dec.8389f2","type":"trigger","z":"ec078ca6.e744a","d":true,"name":"Update Trigger","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"-5","extend":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":180,"y":340,"wires":[["82bf03bf.1544c"]]},{"id":"75894155.be718","type":"link in","z":"ec078ca6.e744a","name":"Current Trigger Start","links":["22d44fc5.8ed7e","14c109c6.594556","ad9a0281.f6d8e","c31b58c5.e14c68"],"x":35,"y":340,"wires":[["287a6dec.8389f2"]]},{"id":"82bf03bf.1544c","type":"link out","z":"ec078ca6.e744a","name":"","links":["b07a5442.dc7ee8"],"x":335,"y":340,"wires":[]},{"id":"247df1a7.7313ee","type":"inject","z":"ec078ca6.e744a","name":"manual start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":400,"wires":[["287a6dec.8389f2"]]},{"id":"85b4ca47.672198","type":"delay","z":"ec078ca6.e744a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":160,"y":500,"wires":[["c31b58c5.e14c68"]]},{"id":"c31b58c5.e14c68","type":"link out","z":"ec078ca6.e744a","name":"restart trigger","links":["75894155.be718"],"x":275,"y":500,"wires":[]},{"id":"d959bb40.12bbf8","type":"link in","z":"ec078ca6.e744a","name":"delay in","links":["ca84df30.b6f1d"],"x":35,"y":500,"wires":[["85b4ca47.672198"]]},{"id":"effb5beb.836ea8","type":"comment","z":"ec078ca6.e744a","name":"Save State Setup Lines","info":"","x":120,"y":560,"wires":[]},{"id":"7a45409a.5531","type":"change","z":"ec078ca6.e744a","name":"Save State 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":80,\"len\":80,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[1,0,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":0},{\"id\":2,\"start\":0,\"stop\":0},{\"id\":3,\"start\":0,\"stop\":0},{\"id\":4,\"start\":0,\"stop\":0},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":600,"wires":[["bfaab9ca.3a7798"]]},{"id":"35f65b41.5a1f84","type":"inject","z":"ec078ca6.e744a","name":"Save State 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":600,"wires":[["7a45409a.5531"]]},{"id":"a0d945df.341a58","type":"change","z":"ec078ca6.e744a","name":"Save State 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":80,\"len\":80,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,1,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":0},{\"id\":2,\"start\":0,\"stop\":0},{\"id\":3,\"start\":0,\"stop\":0},{\"id\":4,\"start\":0,\"stop\":0},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":640,"wires":[["bfaab9ca.3a7798"]]},{"id":"734447cd.62e388","type":"inject","z":"ec078ca6.e744a","name":"Save State 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":640,"wires":[["a0d945df.341a58"]]},{"id":"5c94f91e.b690b8","type":"change","z":"ec078ca6.e744a","name":"Save State 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":80,\"len\":80,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,1],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":0},{\"id\":2,\"start\":0,\"stop\":0},{\"id\":3,\"start\":0,\"stop\":0},{\"id\":4,\"start\":0,\"stop\":0},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":680,"wires":[["bfaab9ca.3a7798"]]},{"id":"7c37c51.1fe773c","type":"inject","z":"ec078ca6.e744a","name":"Save State 3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":680,"wires":[["5c94f91e.b690b8"]]},{"id":"bfaab9ca.3a7798","type":"link out","z":"ec078ca6.e744a","name":"","links":["e384f5d9.d6c718"],"x":415,"y":640,"wires":[]},{"id":"92cbaa55.b19bf8","type":"comment","z":"ec078ca6.e744a","name":"Current Condition polling interval","info":"","x":150,"y":300,"wires":[]},{"id":"609dd09c.990d5","type":"comment","z":"ec078ca6.e744a","name":"Current Condition Reactivation Delay","info":"","x":160,"y":460,"wires":[]},{"id":"9428e0cd.699d8","type":"comment","z":"ec078ca6.e744a","name":"Main Flow ==============================================================================================================","info":"","x":530,"y":720,"wires":[]},{"id":"e787b9b7.da53f8","type":"change","z":"ec078ca6.e744a","name":"fog","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":18,\"len\":18,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[135,135,135],[224,224,224],[0,0,0]],\"fx\":0,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":2,\"start\":62,\"stop\":80,\"len\":18,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[135,135,135],[224,224,224],[0,0,0]],\"fx\":0,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":3,\"start\":22,\"stop\":38,\"len\":16,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[66,66,66],[0,0,0]],\"fx\":82,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":42,\"stop\":58,\"len\":16,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[66,66,66],[0,0,0]],\"fx\":82,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1400,"wires":[["c454d20a.9c016"]]},{"id":"61b73a5d.9c65d4","type":"change","z":"ec078ca6.e744a","name":"Tornado","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[224,224,224],[0,0,0]],\"fx\":0,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":12,\"stop\":68,\"len\":56,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[105,105,105],[0,0,0]],\"fx\":15,\"sx\":255,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[8,255,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":4,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[8,255,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1440,"wires":[["c454d20a.9c016"]]},{"id":"9a097e38.d9742","type":"change","z":"ec078ca6.e744a","name":"Hurricane","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":9,\"stop\":80,\"len\":71,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[224,224,224],[0,0,0]],\"fx\":0,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":7,\"stop\":80,\"len\":73,\"grp\":1,\"spc\":19,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[105,105,105],[0,0,0]],\"fx\":0,\"sx\":255,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":1,\"spc\":19,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[8,255,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":0,\"stop\":7,\"len\":7,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":255,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":73,\"stop\":80,\"len\":7,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":255,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":13,\"stop\":70,\"len\":57,\"grp\":4,\"spc\":6,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[123,152,166],[0,0,0]],\"fx\":15,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":17,\"stop\":70,\"len\":53,\"grp\":1,\"spc\":19,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[150,150,150],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":8,\"start\":22,\"stop\":70,\"len\":48,\"grp\":1,\"spc\":19,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[150,150,150],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1440,"wires":[["c454d20a.9c016"]]},{"id":"5af68143.367b3","type":"change","z":"ec078ca6.e744a","name":"Dust","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":18,\"len\":18,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[214,159,77],[224,224,224],[0,0,0]],\"fx\":0,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":62,\"stop\":80,\"len\":18,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[214,159,77],[224,224,224],[0,0,0]],\"fx\":0,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":22,\"stop\":38,\"len\":16,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[115,80,6],[107,88,42],[0,0,0]],\"fx\":2,\"sx\":20,\"ix\":25,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":4,\"start\":42,\"stop\":58,\"len\":16,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[115,80,6],[107,88,42],[0,0,0]],\"fx\":2,\"sx\":20,\"ix\":25,\"pal\":0,\"sel\":true,\"rev\":false},,{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1480,"wires":[["c454d20a.9c016"]]},{"id":"3be5aec1.1f4d92","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.112","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]