files/flows rev -.txt
[{"id":"10360799.165308","type":"tab","label":"Weather Lamp Main Flow","disabled":false,"info":""},{"id":"d459dd72.d96b5","type":"tab","label":"Weather Lamp Setup Flow","disabled":false,"info":""},{"id":"7bb710fc.dc139","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"671a1f47.84353","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.112","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"65f89696.31b048","type":"comment","z":"10360799.165308","name":"Current Conditions Function","info":"","x":140,"y":20,"wires":[]},{"id":"e6357222.ed12a","type":"link out","z":"10360799.165308","name":"","links":["ceac9402.ed2af8","18e2cce9.494f63"],"x":335,"y":60,"wires":[]},{"id":"2a9f2153.7a694e","type":"link in","z":"10360799.165308","name":"","links":["d953cccf.27ac8","7ed2c509.e170fc"],"x":415,"y":60,"wires":[["ae5f7ac6.3c4058","b42fca62.2b77a8"]]},{"id":"ae5f7ac6.3c4058","type":"change","z":"10360799.165308","name":"Weather Extraction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.textDescription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":40,"wires":[["bb814e5a.af048","9d567208.c72c"]]},{"id":"b42fca62.2b77a8","type":"change","z":"10360799.165308","name":"Temp Extraction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.temperature.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":80,"wires":[["bb814e5a.af048","5448c141.a4537"]]},{"id":"634a74f3.12480c","type":"comment","z":"10360799.165308","name":"Temp color handling","info":"","x":130,"y":780,"wires":[]},{"id":"49c24f3e.0571b","type":"comment","z":"10360799.165308","name":"Animation selection","info":"","x":130,"y":380,"wires":[]},{"id":"1db9126f.44c0ce","type":"comment","z":"10360799.165308","name":"MQTT Handling","info":"","x":120,"y":1080,"wires":[]},{"id":"8087a9aa.7935d8","type":"function","z":"10360799.165308","name":"Description selection","func":"if (msg.payload === \"Clear\" || msg.payload === \"Fair\" || msg.payload === \"Fair with Haze\" || msg.payload === \"Clear with Haze\" || msg.payload === \"Fair and Breezy\" || msg.payload === \"Clear and Breezy\" || msg.payload === \"A Few Clouds\" || msg.payload === \"A Few Clouds with Haze\" || msg.payload === \"A Few Clouds and Breezy\" || msg.payload === \"Mostly Clear\" || msg.payload === \"Sunny\"){\n    msg.payload = \"Clear\";\n}\nelse if (msg.payload === \"Partly Cloudy\" || msg.payload === \"Partly Cloudy with Haze\" || msg.payload === \"Partly Cloudy and Breezy\"){\n    msg.payload = \"Partly Cloudy\";\n}\nelse if (msg.payload === \"Mostly Cloudy\" || msg.payload === \"Mostly Cloudy with Haze\" || msg.payload === \"Mostly Cloudy and Breezy\"){\n    msg.payload = \"Mostly Cloudy\";\n}\nelse if (msg.payload === \"Overcast\" || msg.payload === \"Overcast with Haze\" || msg.payload === \"Overcast and Breezy\" || msg.payload === \"Cloudy\"){\n    msg.payload = \"Overcast\";\n}\nelse if (msg.payload === \"Snow\" || msg.payload === \"Light Snow\" || msg.payload === \"Heavy Snow\" || msg.payload === \"Snow Showers\" || msg.payload === \"Light Snow Showers\" || msg.payload === \"Heavy Snow Showers\" || msg.payload === \"Showers Snow\" || msg.payload === \"Light Showers Snow\" || msg.payload === \"Heavy Showers Snow\" || msg.payload === \"Snow Fog/Mist\" || msg.payload === \"Light Snow Fog/Mist\" || msg.payload === \"Heavy Snow Fog/Mist\" || msg.payload === \"Snow Showers Fog/Mist\" || msg.payload === \"Light Snow Showers Fog/Mist\" || msg.payload === \"Heavy Snow Showers Fog/Mist\" || msg.payload === \"Showers Snow Fog/Mist\" || msg.payload === \"Light Showers Snow Fog/Mist\" || msg.payload === \"Heavy Showers Snow Fog/Mist\" || msg.payload === \"Snow Fog\" || msg.payload === \"Light Snow Fog\" || msg.payload === \"Heavy Snow Fog\" || msg.payload === \"Snow Showers Fog\" || msg.payload === \"Light Snow Showers Fog\" || msg.payload === \"Heavy Snow Showers Fog\" || msg.payload === \"Showers in Vicinity Snow\" || msg.payload === \"Snow Showers in Vicinity\" || msg.payload === \"Snow Showers in Vicinity Fog/Mist\" || msg.payload === \"Snow Showers in Vicinity Fog\" || msg.payload === \"Low Drifting Snow\" || msg.payload === \"Blowing Snow\" || msg.payload === \"Snow Low Drifting Snow\" || msg.payload === \"Snow Blowing Snow\" || msg.payload === \"Light Snow Low Drifting Snow\" || msg.payload === \"Light Snow Blowing Snow\" || msg.payload === \"Light Snow Blowing Snow Fog/Mist\" || msg.payload === \"Heavy Snow Low Drifting Snow\" || msg.payload === \"Heavy Snow Blowing Snow\" || msg.payload === \"Thunderstorm Snow\" || msg.payload === \"Light Thunderstorm Snow\" || msg.payload === \"Heavy Thunderstorm Snow\" || msg.payload === \"Snow Grains\" || msg.payload === \"Light Snow Grains\" || msg.payload === \"Heavy Snow Grains\" || msg.payload === \"Heavy Blowing Snow\" || msg.payload === \"Blowing Snow in Vicinity\"){\n    msg.payload = \"Snow\";\n}\nelse if (msg.payload === \"Rain Snow\" || msg.payload === \"Light Rain Snow\" || msg.payload === \"Heavy Rain Snow\" || msg.payload === \"Snow Rain\" || msg.payload === \"Light Snow Rain\" || msg.payload === \"Heavy Snow Rain\" || msg.payload === \"Drizzle Snow\" || msg.payload === \"Light Drizzle Snow\" || msg.payload === \"Heavy Drizzle Snow\" || msg.payload === \"Snow Drizzle\" || msg.payload === \"Light Snow Drizzle\" || msg.payload === \"Heavy Drizzle Snow\") {\n    msg.payload = \"Rain Snow\";\n}\nelse if (msg.payload === \"Rain Ice Pellets\" || msg.payload === \"Light Rain Ice Pellets\" || msg.payload === \"Heavy Rain Ice Pellets\" || msg.payload === \"Drizzle Ice Pellets\" || msg.payload === \"Light Drizzle Ice Pellets\" || msg.payload === \"Heavy Drizzle Ice Pellets\" || msg.payload === \"Ice Pellets Rain\" || msg.payload === \"Light Ice Pellets Rain\" || msg.payload === \"Heavy Ice Pellets Rain\" || msg.payload === \"Ice Pellets Drizzle\" || msg.payload === \"Light Ice Pellets Drizzle\" || msg.payload === \"Heavy Ice Pellets Drizzle\"){\n    msg.payload = \"Ice Pellets\";\n}\nelse if (msg.payload === \"Freezing Rain\" || msg.payload === \"Freezing Drizzle\" || msg.payload === \"Light Freezing Rain\" || msg.payload === \"Light Freezing Drizzle\" || msg.payload === \"Heavy Freezing Rain\" || msg.payload === \"Heavy Freezing Drizzle\" || msg.payload === \"Freezing Rain in Vicinity\" || msg.payload === \"Freezing Drizzle in Vicinity\"){\n    msg.payload = \"Freezing Rain\";\n}\nelse if (msg.payload === \"Freezing Rain Rain\" || msg.payload === \"Light Freezing Rain Rain\" || msg.payload === \"Heavy Freezing Rain Rain\" || msg.payload === \"Rain Freezing Rain\" || msg.payload === \"Light Rain Freezing Rain\" || msg.payload === \"Heavy Rain Freezing Rain\" || msg.payload === \"Freezing Drizzle Rain\" || msg.payload === \"Light Freezing Drizzle Rain\" || msg.payload === \"Heavy Freezing Drizzle Rain\" || msg.payload === \"Rain Freezing Drizzle\" || msg.payload === \"Light Rain Freezing Drizzle\" || msg.payload === \"Heavy Rain Freezing Drizzle\"){\n    msg.payload = \"Freezing Rain\";\n}\nelse if (msg.payload === \"Freezing Rain Snow\" || msg.payload === \"Light Freezing Rain Snow\" || msg.payload === \"Heavy Freezing Rain Snow\" || msg.payload === \"Freezing Drizzle Snow\" || msg.payload === \"Light Freezing Drizzle Snow\" || msg.payload === \"Heavy Freezing Drizzle Snow\" || msg.payload === \"Snow Freezing Rain\" || msg.payload === \"Light Snow Freezing Rain\" || msg.payload === \"Heavy Snow Freezing Rain\" || msg.payload === \"Snow Freezing Drizzle\" || msg.payload === \"Light Snow Freezing Drizzle\" || msg.payload === \"Heavy Snow Freezing Drizzle\"){\n    msg.payload = \"Freezing Rain\";\n}\nelse if (msg.payload === \"Ice Pellets\" || msg.payload === \"Light Ice Pellets\" || msg.payload === \"Heavy Ice Pellets\" || msg.payload === \"Ice Pellets in Vicinity\" || msg.payload === \"Showers Ice Pellets\" || msg.payload === \"Thunderstorm Ice Pellets\" || msg.payload === \"Ice Crystals\" || msg.payload === \"Hail\" || msg.payload === \"Small Hail/Snow Pellets\" || msg.payload === \"Light Small Hail/Snow Pellets\" || msg.payload === \"Heavy small Hail/Snow Pellets\" || msg.payload === \"Showers Hail\" || msg.payload === \"Hail Showers\"){\n    msg.payload = \"Ice Pellets\";\n}\nelse if (msg.payload === \"Snow Ice Pellets\"){\n    msg.payload = \"Ice Pellets\";\n}\nelse if (msg.payload === \"Light Rain\" || msg.payload === \"Drizzle\" || msg.payload === \"Light Drizzle\" || msg.payload === \"Heavy Drizzle\" || msg.payload === \"Light Rain Fog/Mist\" || msg.payload === \"Light Drizzle Fog/Mist\" || msg.payload === \"Light Rain Fog\" || msg.payload === \"Light Drizzle Fog\" || msg.payload === \"Heavy Drizzle Fog\"){\n    msg.payload = \"Light Rain\";\n}\nelse if (msg.payload === \"Rain\" || msg.payload === \"Heavy Rain\" || msg.payload === \"Rain Fog/Mist\" || msg.payload === \"Heavy Rain Fog/Mist\" || msg.payload === \"Rain Fog\" || msg.payload === \"Heavy Rain Fog\"){\n    msg.payload = \"Rain\";\n}\nelse if (msg.payload === \"Rain Showers\" || msg.payload === \"Light Rain Showers\" || msg.payload === \"Light Rain and Breezy\" || msg.payload === \"Heavy Rain Showers\" || msg.payload === \"Rain Showers in Vicinity\" || msg.payload === \"Light Showers Rain\" || msg.payload === \"Heavy Showers Rain\" || msg.payload === \"Showers Rain\" || msg.payload === \"Showers Rain in Vicinity\" || msg.payload === \"Rain Showers Fog/Mist\" || msg.payload === \"Light Rain Showers Fog/Mist\" || msg.payload === \"Heavy Rain Showers Fog/Mist\" || msg.payload === \"Rain Showers in Vicinity Fog/Mist\" || msg.payload === \"Light Showers Rain Fog/Mist\" || msg.payload === \"Heavy Showers Rain Fog/Mist\" || msg.payload === \"Showers Rain Fog/Mist\" || msg.payload === \"Showers Rain in Vicinity Fog/Mist\"){\n    msg.payload = \"Light Rain\";\n}\n else if (msg.payload === \"Showers in Vicinity\" || msg.payload === \"Showers in Vicinity Fog/Mist\" || msg.payload === \"Showers in Vicinity Fog\" || msg.payload === \"Showers in Vicinity Haze\"){\n    msg.payload = \"Light Rain\";\n}\n else if (msg.payload === \"Thunderstorm\" || msg.payload === \"Thunderstorm Rain\" || msg.payload === \"Light Thunderstorm Rain\" || msg.payload === \"Heavy Thunderstorm Rain\" || msg.payload === \"Thunderstorm Rain Fog/Mist\" || msg.payload === \"Light Thunderstorm Rain Fog/Mist\" || msg.payload === \"Heavy Thunderstorm Rain Fog and Windy\" || msg.payload === \"Heavy Thunderstorm Rain Fog/Mist\" || msg.payload === \"Thunderstorm Showers in Vicinity\" || msg.payload === \"Light Thunderstorm Rain Haze\" || msg.payload === \"Heavy Thunderstorm Rain Haze\" || msg.payload === \"Thunderstorm Fog\" || msg.payload === \"Light Thunderstorm Rain Fog\" || msg.payload === \"Heavy Thunderstorm Rain Fog\" || msg.payload === \"Thunderstorm Light Rain\" || msg.payload === \"Thunderstorm Heavy Rain\" || msg.payload === \"Thunderstorm Rain Fog/Mist\" || msg.payload === \"Thunderstorm Light Rain Fog/Mist\" || msg.payload === \"Thunderstorm Heavy Rain Fog/Mist\" || msg.payload === \"Thunderstorm in Vicinity Fog/Mist\" || msg.payload === \"Thunderstorm Showers in Vicinity\" || msg.payload === \"Thunderstorm in Vicinity Haze\" || msg.payload === \"Thunderstorm Haze in Vicinity\" || msg.payload === \"Thunderstorm Light Rain Haze\" || msg.payload === \"Thunderstorm Heavy Rain Haze\" || msg.payload === \"Thunderstorm Fog\" || msg.payload === \"Thunderstorm Light Rain Fog\" || msg.payload === \"Thunderstorm Heavy Rain Fog\" || msg.payload === \"Thunderstorm Hail\" || msg.payload === \"Light Thunderstorm Rain Hail\" || msg.payload === \"Heavy Thunderstorm Rain Hail\" || msg.payload === \"Thunderstorm Rain Hail Fog/Mist\" || msg.payload === \"Light Thunderstorm Rain Hail Fog/Mist\" || msg.payload === \"Heavy Thunderstorm Rain Hail Fog/Hail\" || msg.payload === \"Thunderstorm Showers in Vicinity Hail\" || msg.payload === \"Light Thunderstorm Rain Hail Haze\" || msg.payload === \"Heavy Thunderstorm Rain Hail Haze\" || msg.payload === \"Thunderstorm Hail Fog\" || msg.payload === \"Light Thunderstorm Rain Hail Fog\" || msg.payload === \"Heavy Thunderstorm Rain Hail Fog\" || msg.payload === \"Thunderstorm Light Rain Hail\" || msg.payload === \"Thunderstorm Heavy Rain Hail\" || msg.payload === \"Thunderstorm Rain Hail Fog/Mist\" || msg.payload === \"Thunderstorm Light Rain Hail Fog/Mist\" || msg.payload === \"Thunderstorm Heavy Rain Hail Fog/Mist\" || msg.payload === \"Thunderstorm in Vicinity Hail\" || msg.payload === \"Thunderstorm in Vicinity Hail Haze\" || msg.payload === \"Thunderstorm Haze in Vicinity Hail\" || msg.payload === \"Thunderstorm Light Rain Hail Haze\" || msg.payload === \"Thunderstorm Heavy Rain Hail Haze\" || msg.payload === \"Thunderstorm Hail Fog\" || msg.payload === \"Thunderstorm Light Rain Hail Fog\" || msg.payload === \"Thunderstorm Heavy Rain Hail Fog\" || msg.payload === \"Thunderstorm Small Hail/Snow Pellets\" || msg.payload === \"Thunderstorm Rain Small Hail/Snow Pellets\" || msg.payload === \"Light Thunderstorm Rain Small Hail/Snow Pellets\" || msg.payload === \"Heavy Thunderstorm Rain Small Hail/Snow Pellets\" || msg.payload === \"Thunder\" || msg.payload === \"Thunderstorms\"){\n    msg.payload = \"Thunder\";\n}\nelse if (msg.payload === \"Thunderstorm in Vicinity\"){\n    msg.payload = \"Thunder\";\n}\nelse if (msg.payload === \"Thunderstorm in Vicinity\" || msg.payload === \"Thunderstorm in Vicinity Fog\" || msg.payload === \"Thunderstorm in Vicinity Haze\"){\n    msg.payload = \"Thunder\";\n}\nelse if (msg.payload === \"Funnel Cloud\" || msg.payload === \"Funnel Cloud in Vicinity\" || msg.payload === \"Tornado/Water Spout\"){\n    msg.payload = \"Tornado\";\n}\nelse if (msg.payload === \"Tornado\"){\n    msg.payload = \"Tornado\";\n}\nelse if (msg.payload === \"Hurricane Warning\"){\n    msg.payload = \"Hurricane Warning\";\n}\nelse if (msg.payload === \"Hurricane Watch\"){\n    msg.payload = \"Hurricane Watch\";\n}\nelse if (msg.payload === \"Tropical Storm Warning\"){\n    msg.payload = \"Tropical Storm Warning\";\n}\nelse if (msg.payload === \"Tropical Storm Watch\"){\n    msg.payload = \"Tropical Storm Watch\";\n}\nelse if (msg.payload === \"Tropical Storm Conditions presently exist w/Hurricane Warning in effect\"){\n    msg.payload = \"Hurricane Warning\";\n}\nelse if (msg.payload === \"Windy\" || msg.payload === \"Breezy\" || msg.payload === \"Fair and Windy\"){\n    msg.payload = \"Windy\";\n}\nelse if (msg.payload === \"A Few Clouds and Windy\"){\n    msg.payload = \"Windy\";\n}\nelse if (msg.payload === \"Partly Cloudy and Windy\"){\n    msg.payload = \"Partly Cloudy Windy\";\n}\nelse if (msg.payload === \"Mostly Cloudy and Windy\"){\n    msg.payload = \"Mostly Cloudy Windy\";\n}\nelse if (msg.payload === \"Overcast and Windy\"){\n    msg.payload = \"Overcast Windy\";\n}\nelse if (msg.payload === \"Dust\" || msg.payload === \"Low Drifting Dust\" || msg.payload === \"Blowing Dust\" || msg.payload === \"Sand\" || msg.payload === \"Blowing Sand\" || msg.payload === \"Low Drifting Sand\" || msg.payload === \"Dust/Sand Whirls\" || msg.payload === \"Dust/Sand Whirls in Vicinity\" || msg.payload === \"Dust Storm\" || msg.payload === \"Heavy Dust Storm\" || msg.payload === \"Dust Storm in Vicinity\" || msg.payload === \"Sand Storm\" || msg.payload === \"Heavy Sand Storm\" || msg.payload === \"Sand Storm in Vicinity\"){\n    msg.payload = \"Dust\";\n}\nelse if (msg.payload === \"Smoke\"){\n    msg.payload = \"Smoke\";\n}\nelse if (msg.payload === \"Haze\"){\n    msg.payload = \"Haze\";\n}\nelse if (msg.payload === \"Hot\"){\n    msg.payload = \"Hot\";\n}\nelse if (msg.payload === \"Cold\"){\n    msg.payload = \"Cold\";\n}\nelse if (msg.payload === \"Blizzard\"){\n    msg.payload = \"Blizzard\";\n}\nelse if (msg.payload === \"Fog/Mist\" || msg.payload === \"Freezing Fog\" || msg.payload === \"Shallow Fog\" || msg.payload === \"Partial Fog\" || msg.payload === \"Patches of Fog\" || msg.payload === \"Fog in Vicinity\" || msg.payload === \"Freezing Fog in Vicinity\" || msg.payload === \"Shallow Fog in Vicinity\" || msg.payload === \"Partial Fog in Vicinity\" || msg.payload === \"Patches of Fog in Vicinity\" || msg.payload === \"Showers in Vicinity Fog\" || msg.payload === \"Light Freezing Fog\" || msg.payload === \"Heavy Freezing Fog\"){\n    msg.payload = \"Fog\";\n}\nelse {\n\tmsg.payload = \"Unknown\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":420,"wires":[["e94e592b.7f3008","4060630f.4e25fc"]]},{"id":"b84c7c4b.2cc5e","type":"switch","z":"10360799.165308","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Hot","vt":"str"},{"t":"eq","v":"Cold","vt":"str"},{"t":"eq","v":"Rain","vt":"str"},{"t":"eq","v":"Light Rain","vt":"str"},{"t":"eq","v":"Clear","vt":"str"},{"t":"eq","v":"Partly Cloudy","vt":"str"},{"t":"eq","v":"Mostly Cloudy","vt":"str"},{"t":"eq","v":"Overcast","vt":"str"},{"t":"eq","v":"Thunder","vt":"str"},{"t":"eq","v":"Thunder Night","vt":"str"},{"t":"eq","v":"Blizzard","vt":"str"},{"t":"eq","v":"Snow","vt":"str"},{"t":"eq","v":"Unknown","vt":"str"}],"checkall":"true","repair":false,"outputs":13,"x":550,"y":620,"wires":[["cc6efbe9.7df588"],["8ec079f6.36c868"],["7eca4079.4afbe"],["7dcf4b1c.0c45c4"],["d51135ac.536d68"],["d5cb82fa.5584a"],["cf86939e.e8c29"],["676d5efa.d917b"],["d34cd6f7.7b5318"],["53468fcf.7b753"],["ef4790de.abcc5"],["487fede9.b4d994"],["b2d2d82c.231a48"]]},{"id":"cc6efbe9.7df588","type":"change","z":"10360799.165308","name":"Hot","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[255,208,0],[255,121,18],[0,0,0]],\"fx\":2,\"sx\":45,\"ix\":109,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":18,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":4,\"start\":22,\"stop\":28,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":32,\"stop\":38,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":42,\"stop\":48,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":52,\"stop\":58,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":8,\"start\":62,\"stop\":68,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":9,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":0,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":420,"wires":[["2bb6a7a3.0c2788"]]},{"id":"8ec079f6.36c868","type":"change","z":"10360799.165308","name":"Cold","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[49,179,255],[0,9,189],[0,0,0]],\"fx\":2,\"sx\":45,\"ix\":109,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":18,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":4,\"start\":22,\"stop\":28,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":32,\"stop\":38,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":42,\"stop\":48,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":52,\"stop\":58,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":8,\"start\":62,\"stop\":68,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":9,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":0,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":420,"wires":[["2bb6a7a3.0c2788"]]},{"id":"7eca4079.4afbe","type":"change","z":"10360799.165308","name":"Rain","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[32,118,168],[107,116,120],[0,0,0]],\"fx\":2,\"sx\":45,\"ix\":40,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":18,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":4,\"start\":22,\"stop\":28,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":32,\"stop\":38,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":42,\"stop\":48,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":52,\"stop\":58,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":8,\"start\":62,\"stop\":68,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":9,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":460,"wires":[["2bb6a7a3.0c2788"]]},{"id":"7dcf4b1c.0c45c4","type":"change","z":"10360799.165308","name":"Light Rain","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[32,118,168],[107,116,120],[0,0,0]],\"fx\":2,\"sx\":45,\"ix\":40,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":18,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":4,\"start\":22,\"stop\":28,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":32,\"stop\":38,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":42,\"stop\":48,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":52,\"stop\":58,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":8,\"start\":62,\"stop\":68,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":9,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":460,"wires":[["2bb6a7a3.0c2788"]]},{"id":"d51135ac.536d68","type":"change","z":"10360799.165308","name":"Clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":2,\"sx\":23,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[240,255,145],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":500,"wires":[["2bb6a7a3.0c2788"]]},{"id":"d5cb82fa.5584a","type":"change","z":"10360799.165308","name":"Partly Cloudy","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[43,132,255],[84,187,232],[0,0,0]],\"fx\":2,\"sx\":23,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[240,255,145],[171,171,171],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":500,"wires":[["2bb6a7a3.0c2788"]]},{"id":"cf86939e.e8c29","type":"change","z":"10360799.165308","name":"Mostly Cloudy","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[79,146,255],[150,148,156],[0,0,0]],\"fx\":15,\"sx\":19,\"ix\":45,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[240,255,145],[171,171,171],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":540,"wires":[["2bb6a7a3.0c2788"]]},{"id":"676d5efa.d917b","type":"change","z":"10360799.165308","name":"Overcast","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[161,164,191],[105,104,110],[0,0,0]],\"fx\":15,\"sx\":19,\"ix\":45,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[151,153,107],[171,171,171],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[130,136,158],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[130,136,158],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":540,"wires":[["2bb6a7a3.0c2788"]]},{"id":"d34cd6f7.7b5318","type":"change","z":"10360799.165308","name":"Thunder","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[43,43,43],[0,0,0]],\"fx\":57,\"sx\":145,\"ix\":119,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[48,48,48],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":580,"wires":[["2bb6a7a3.0c2788"]]},{"id":"53468fcf.7b753","type":"change","z":"10360799.165308","name":"Thunder Night","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,115],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,115],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":57,\"sx\":145,\"ix\":119,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":580,"wires":[["2bb6a7a3.0c2788"]]},{"id":"ef4790de.abcc5","type":"change","z":"10360799.165308","name":"Blizzard","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[128,128,128],[224,224,224],[0,0,0]],\"fx\":80,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[128,128,128],[224,224,224],[0,0,0]],\"fx\":80,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[207,207,207],[128,128,128],[0,0,0]],\"fx\":15,\"sx\":133,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[128,128,128],[224,224,224],[0,0,0]],\"fx\":80,\"sx\":190,\"ix\":171,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":620,"wires":[["2bb6a7a3.0c2788"]]},{"id":"487fede9.b4d994","type":"change","z":"10360799.165308","name":"Snow","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":10,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":10,\"stop\":18,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":3,\"start\":22,\"stop\":30,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":30,\"stop\":38,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":5,\"start\":42,\"stop\":50,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":6,\"start\":50,\"stop\":58,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":7,\"start\":62,\"stop\":70,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":8,\"start\":70,\"stop\":80,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":620,"wires":[["2bb6a7a3.0c2788"]]},{"id":"b2d2d82c.231a48","type":"change","z":"10360799.165308","name":"Unknown","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":10,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":10,\"stop\":18,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":3,\"start\":22,\"stop\":30,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":30,\"stop\":38,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":5,\"start\":42,\"stop\":50,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":6,\"start\":50,\"stop\":58,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":7,\"start\":62,\"stop\":70,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":8,\"start\":70,\"stop\":80,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":660,"wires":[["2bb6a7a3.0c2788"]]},{"id":"2bb6a7a3.0c2788","type":"link out","z":"10360799.165308","name":"","links":["ac6af46.7d2bb08","50d8851.f1af87c"],"x":1175,"y":740,"wires":[]},{"id":"9d567208.c72c","type":"link out","z":"10360799.165308","name":"","links":["51cf51cf.0def1"],"x":715,"y":40,"wires":[]},{"id":"51cf51cf.0def1","type":"link in","z":"10360799.165308","name":"Animation Selection In","links":["9d567208.c72c","d3965b64.dc7878","f1996baa.bf5a88"],"x":55,"y":420,"wires":[["8087a9aa.7935d8"]]},{"id":"c77b1617.fd2bf8","type":"inject","z":"10360799.165308","name":"Manual Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["98473c47.cc676"]]},{"id":"bb814e5a.af048","type":"debug","z":"10360799.165308","name":"Latest Conditions","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":60,"wires":[]},{"id":"e94e592b.7f3008","type":"debug","z":"10360799.165308","name":"Animation Select","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":210,"y":480,"wires":[]},{"id":"a14fc3e7.60abd","type":"link out","z":"10360799.165308","name":"","links":["e7cebd5f.b638b"],"x":855,"y":100,"wires":[]},{"id":"e7cebd5f.b638b","type":"link in","z":"10360799.165308","name":"current in","links":["a14fc3e7.60abd"],"x":55,"y":820,"wires":[["7395c46a.b59d8c"]]},{"id":"7395c46a.b59d8c","type":"function","z":"10360799.165308","name":"C to F","func":"var tempC = msg.payload;\nvar tempF = (tempC*1.8)+32;\nmsg.payload = tempF;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":820,"wires":[["219860ee.ac51b","f562fe68.465ed"]]},{"id":"c1acd0ac.2e1a8","type":"function","z":"10360799.165308","name":"Temp to Hue","func":"var TempF = msg.payload\nvar Hue = [0,100,100];\nvar hue = -(0.000000131548439110372*(Math.pow(TempF,5)))+(0.0000313862367243081*(Math.pow(TempF,4)))-(0.00197251332927717*(Math.pow(TempF,3)))-(0.00836515296603935*(Math.pow(TempF,2)))-(0.0977029807281724*(TempF))+260\nHue[0] = hue\nmsg.payload = Hue\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":820,"wires":[["ed0316be.87b388","4f4987a3.984af8"]]},{"id":"ed0316be.87b388","type":"color-convert","z":"10360799.165308","input":"hsv","output":"rgb","outputType":"array","scaleInput":false,"x":730,"y":820,"wires":[["a8abe8da.6ce738","2844d28e.01c09e"]]},{"id":"238d941f.20fb2c","type":"function","z":"10360799.165308","name":"form message","func":"var temp = msg.payload;\nvar message =  '{\"mainseg\":0,\"seg\":[{\"id\":0,\"col\":[['\nvar num = temp[0];\nvar n = num.toString();\nmessage = message.concat(n);\nnum = temp[1];\nn = num.toString();\nvar m = \",\";\nmessage = message.concat(m);\nmessage = message.concat(n);\nmessage = message.concat(m);\nnum = temp[2];\nn = num.toString();\nmessage = message.concat(n);\nvar p = \"],[0,0,0],[0,0,0]]}]}\"\nvar mess = message.concat(p)\nmsg.payload = mess;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":800,"wires":[["168bb3b0.f420fc","985a135b.2002d"]]},{"id":"168bb3b0.f420fc","type":"debug","z":"10360799.165308","name":"Tri Color Message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":860,"wires":[]},{"id":"985a135b.2002d","type":"link out","z":"10360799.165308","name":"","links":["ac6af46.7d2bb08","50d8851.f1af87c"],"x":1195,"y":800,"wires":[]},{"id":"f555f4f7.12d0a8","type":"link in","z":"10360799.165308","name":"MQTT In","links":["74126363.a731ec","29b89c2d.b6f1f4"],"x":35,"y":1260,"wires":[["d000a4dc.78f298"]]},{"id":"d8c2d76b.c14a18","type":"comment","z":"10360799.165308","name":"Forecast Mode","info":"","x":320,"y":1220,"wires":[]},{"id":"5b5362ee.2d5bac","type":"comment","z":"10360799.165308","name":"Temp Band Mode","info":"","x":320,"y":1340,"wires":[]},{"id":"7ece1ffb.41092","type":"comment","z":"10360799.165308","name":"Startup","info":"","x":290,"y":1100,"wires":[]},{"id":"d000a4dc.78f298","type":"switch","z":"10360799.165308","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"#010000","vt":"str"},{"t":"eq","v":"#000100","vt":"str"},{"t":"eq","v":"#000001","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":130,"y":1260,"wires":[["c048c4eb.9e6c08"],["a39d9ab2.cba598"],["77cb7773.acf5d8"]]},{"id":"c048c4eb.9e6c08","type":"change","z":"10360799.165308","name":"set to timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1140,"wires":[["cf425bbe.4524d8","156e25a4.abf29a"]]},{"id":"cf425bbe.4524d8","type":"link out","z":"10360799.165308","name":"Startup Propmpt","links":["adf6d8fe.2686d8"],"x":455,"y":1140,"wires":[]},{"id":"46ac0294.0688dc","type":"link in","z":"10360799.165308","name":"forecast in","links":["4660bd86.20b654","3b10f701.119628"],"x":55,"y":220,"wires":[["cc6dc68b.3b48b8","ada3aa4f.16b258"]]},{"id":"cc6dc68b.3b48b8","type":"change","z":"10360799.165308","name":"Weather Extraction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.periods[1].shortForecast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":280,"wires":[["70ac281d.c32008","d342db91.845978"]]},{"id":"ada3aa4f.16b258","type":"change","z":"10360799.165308","name":"Temp Extraction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.periods[2].temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":220,"wires":[["70ac281d.c32008","9fc0ef6c.a0871"]]},{"id":"d3965b64.dc7878","type":"link out","z":"10360799.165308","name":"","links":["51cf51cf.0def1"],"x":755,"y":260,"wires":[]},{"id":"70ac281d.c32008","type":"debug","z":"10360799.165308","name":"Forecast","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":220,"wires":[]},{"id":"f3bb78a1.0ef938","type":"link out","z":"10360799.165308","name":"","links":["2cc0a633.6b492a"],"x":535,"y":220,"wires":[]},{"id":"c637c08a.7b6b4","type":"comment","z":"10360799.165308","name":"Forecast Parsing","info":"","x":100,"y":180,"wires":[]},{"id":"2cc0a633.6b492a","type":"link in","z":"10360799.165308","name":"Forecast in","links":["f3bb78a1.0ef938","5b938524.783c1c"],"x":155,"y":860,"wires":[["f562fe68.465ed"]]},{"id":"d66ae079.657c8","type":"change","z":"10360799.165308","name":"reset message","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1520,"wires":[["22e9e28c.98effe"]]},{"id":"a39d9ab2.cba598","type":"change","z":"10360799.165308","name":"set to timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1260,"wires":[["d66ae079.657c8","ce830967.ddc538","46d3f2d3.317b3c"]]},{"id":"c4a9a762.f92548","type":"link out","z":"10360799.165308","name":"forecast trigger","links":["7753a37f.d08c3c","6bf9e639.9a37c8"],"x":855,"y":1260,"wires":[]},{"id":"22e9e28c.98effe","type":"link out","z":"10360799.165308","name":"reset trigger","links":["adf6d8fe.2686d8"],"x":675,"y":1520,"wires":[]},{"id":"5fbcf174.99d27","type":"comment","z":"10360799.165308","name":"Tri Band Function","info":"","x":120,"y":940,"wires":[]},{"id":"ce830967.ddc538","type":"change","z":"10360799.165308","name":"","rules":[{"t":"set","p":"source","pt":"msg","to":"forecast","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1260,"wires":[["9160a849.0be7f8","7541e8f8.b87ea8"]]},{"id":"969c5c0f.b13d","type":"change","z":"10360799.165308","name":"","rules":[{"t":"set","p":"source","pt":"msg","to":"tricolor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1380,"wires":[["5f39d8ac.dd5648","75c3083a.0238a8"]]},{"id":"2d696aeb.bebde6","type":"link in","z":"10360799.165308","name":"tricolor in","links":["196b2c4b.dfc514","f20cc6cf.ad4b78"],"x":55,"y":980,"wires":[["4214c58b.b224dc"]]},{"id":"98473c47.cc676","type":"function","z":"10360799.165308","name":"Set User Agent ","func":"msg.headers = {};\nmsg.headers['USER-AGENT'] = 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":60,"wires":[["e6357222.ed12a"]]},{"id":"9160a849.0be7f8","type":"function","z":"10360799.165308","name":"Set User Agent ","func":"msg.headers = {};\nmsg.headers['USER-AGENT'] = 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1260,"wires":[["c4a9a762.f92548"]]},{"id":"5f39d8ac.dd5648","type":"function","z":"10360799.165308","name":"Set User Agent ","func":"msg.headers = {};\nmsg.headers['USER-AGENT'] = 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1380,"wires":[["a8bb9300.e995e"]]},{"id":"77cb7773.acf5d8","type":"change","z":"10360799.165308","name":"set to timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1380,"wires":[["969c5c0f.b13d","d66ae079.657c8","46d3f2d3.317b3c"]]},{"id":"a8bb9300.e995e","type":"link out","z":"10360799.165308","name":"forecast trigger","links":["7753a37f.d08c3c","6bf9e639.9a37c8"],"x":855,"y":1380,"wires":[]},{"id":"2fd509e2.1b2ef6","type":"comment","z":"10360799.165308","name":"Current Condition Trigger pause/restart","info":"","x":630,"y":1480,"wires":[]},{"id":"4214c58b.b224dc","type":"function","z":"10360799.165308","name":"Temperature Message Split","func":"var temp1 = msg.payload.properties.periods[0].temperature\nvar temp2 = msg.payload.properties.periods[1].temperature\nvar temp3 = msg.payload.properties.periods[2].temperature\nvar msg1 = {}\nvar msg2 = {}\nvar msg3 = {}\nmsg1.payload = temp1\nmsg2.payload = temp2\nmsg3.payload = temp3\nreturn [[msg1,msg2,msg3]]\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":980,"wires":[["9e32c6ab.d6e7d8","c059cd7.05ef43"]]},{"id":"6bf41a0c.ffcd04","type":"inject","z":"10360799.165308","name":"Manual Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1320,"wires":[["a39d9ab2.cba598"]]},{"id":"9fc0ef6c.a0871","type":"change","z":"10360799.165308","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"single","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":220,"wires":[["f3bb78a1.0ef938"]]},{"id":"5448c141.a4537","type":"change","z":"10360799.165308","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"single","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":100,"wires":[["a14fc3e7.60abd"]]},{"id":"9e32c6ab.d6e7d8","type":"change","z":"10360799.165308","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"tri","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":980,"wires":[["5b938524.783c1c"]]},{"id":"5b938524.783c1c","type":"link out","z":"10360799.165308","name":"","links":["2cc0a633.6b492a"],"x":555,"y":980,"wires":[]},{"id":"a8abe8da.6ce738","type":"switch","z":"10360799.165308","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"tri","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":820,"wires":[["238d941f.20fb2c"],["86a854eb.99d8e8"]]},{"id":"86a854eb.99d8e8","type":"link out","z":"10360799.165308","name":"","links":["5945acef.32ca44"],"x":1015,"y":840,"wires":[]},{"id":"5945acef.32ca44","type":"link in","z":"10360799.165308","name":"","links":["86a854eb.99d8e8"],"x":615,"y":980,"wires":[["a1dd490b.964d98"]]},{"id":"e8dcdc6e.79ba3","type":"debug","z":"10360799.165308","name":"tri color formed message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":1020,"wires":[]},{"id":"bfa2621c.b6f27","type":"inject","z":"10360799.165308","name":"Manual Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1380,"wires":[["77cb7773.acf5d8"]]},{"id":"219860ee.ac51b","type":"debug","z":"10360799.165308","name":"c to f","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":860,"wires":[]},{"id":"4f4987a3.984af8","type":"debug","z":"10360799.165308","name":"temp to hue","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":860,"wires":[]},{"id":"2844d28e.01c09e","type":"debug","z":"10360799.165308","name":"hsv to rgb","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":860,"wires":[]},{"id":"c059cd7.05ef43","type":"debug","z":"10360799.165308","name":"tri function","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":1020,"wires":[]},{"id":"a1dd490b.964d98","type":"join","z":"10360799.165308","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"-","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":980,"wires":[["116dc37a.5912fd"]]},{"id":"116dc37a.5912fd","type":"function","z":"10360799.165308","name":"Message Forming","func":"var bands = msg.payload.split(\"-\")\nvar message = '{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(bands[0])\nvar next = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":125,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":17,\"stop\":79,\"len\":62,\"grp\":6,\"spc\":14,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(next)\nmessage = message.concat(bands[0])\nnext = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":125,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":3,\"stop\":79,\"len\":76,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(next)\nmessage = message.concat(bands[1])\nnext = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":125,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":13,\"stop\":79,\"len\":66,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(next)\nmessage = message.concat(bands[1])\nnext = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":125,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":7,\"stop\":79,\"len\":72,\"grp\":6,\"spc\":14,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(next)\nmessage = message.concat(bands[2])\nnext = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}'\nmessage = message.concat(next)\nmsg.payload = message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":980,"wires":[["e8dcdc6e.79ba3","d5e334ca.d1ea88"]]},{"id":"d5e334ca.d1ea88","type":"link out","z":"10360799.165308","name":"Tri-Color-json_out","links":["ac6af46.7d2bb08","50d8851.f1af87c"],"x":1055,"y":980,"wires":[]},{"id":"156e25a4.abf29a","type":"function","z":"10360799.165308","name":"Set Startup Variables","func":"var startTemp = flow.set(\"startTemp\",0)\nvar startCond = flow.set(\"startCond\",0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1180,"wires":[[]]},{"id":"1c3929ba.4c77f6","type":"inject","z":"10360799.165308","name":"Manual Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1140,"wires":[["c048c4eb.9e6c08"]]},{"id":"7541e8f8.b87ea8","type":"function","z":"10360799.165308","name":"Check Variables","func":"var startTemp = flow.set(\"startTemp\",0)\nvar startCond = flow.set(\"startCond\",0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1300,"wires":[[]]},{"id":"75c3083a.0238a8","type":"function","z":"10360799.165308","name":"Check Variables","func":"var startTemp = flow.set(\"startTemp\",0)\nvar startCond = flow.set(\"startCond\",0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1420,"wires":[[]]},{"id":"ad653b5c.225248","type":"http request","z":"d459dd72.d96b5","name":"Weather API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.weather.gov/stations/KBOS/observations/latest","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":120,"wires":[["6f9809b6.02ab88","7ed2c509.e170fc"]]},{"id":"b66a98dd.e324e8","type":"mqtt in","z":"d459dd72.d96b5","name":"MQTT Config","topic":"wled/weather/c","qos":"2","datatype":"auto","broker":"671a1f47.84353","x":90,"y":60,"wires":[["29b89c2d.b6f1f4","928e6504.54ce18"]]},{"id":"34bea31.853c45c","type":"comment","z":"d459dd72.d96b5","name":"User defined Variables","info":"","x":120,"y":20,"wires":[]},{"id":"6f9809b6.02ab88","type":"debug","z":"d459dd72.d96b5","name":"Current Conditions Raw","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":120,"wires":[]},{"id":"18e2cce9.494f63","type":"link in","z":"d459dd72.d96b5","name":"","links":["e6357222.ed12a"],"x":35,"y":120,"wires":[["ad653b5c.225248"]]},{"id":"6bf9e639.9a37c8","type":"link in","z":"d459dd72.d96b5","name":"","links":["c4a9a762.f92548","a8bb9300.e995e"],"x":35,"y":180,"wires":[["919b7fc5.6f3d8"]]},{"id":"919b7fc5.6f3d8","type":"http request","z":"d459dd72.d96b5","name":"Forecast API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.weather.gov/gridpoints/GYX/72,76/forecast","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":180,"wires":[["10ff1573.b2a84b","853c355e.224978"]]},{"id":"7ed2c509.e170fc","type":"link out","z":"d459dd72.d96b5","name":"","links":["2a9f2153.7a694e"],"x":315,"y":120,"wires":[]},{"id":"53a4057a.87ec0c","type":"http request","z":"d459dd72.d96b5","name":"WLED JSON Send","method":"POST","ret":"txt","paytoqs":"ignore","url":"192.168.0.33\\json\\state","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":240,"wires":[["3ac55ed9.9f2be2"]]},{"id":"50d8851.f1af87c","type":"link in","z":"d459dd72.d96b5","name":"","links":["2bb6a7a3.0c2788","985a135b.2002d","d5e334ca.d1ea88","ae00f0e5.8b131"],"x":35,"y":240,"wires":[["53a4057a.87ec0c"]]},{"id":"3ac55ed9.9f2be2","type":"debug","z":"d459dd72.d96b5","name":"Send Confirmation","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":240,"wires":[]},{"id":"29b89c2d.b6f1f4","type":"link out","z":"d459dd72.d96b5","d":true,"name":"MQTT Out","links":["f555f4f7.12d0a8"],"x":215,"y":60,"wires":[]},{"id":"928e6504.54ce18","type":"debug","z":"d459dd72.d96b5","name":"MQTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":60,"wires":[]},{"id":"3b10f701.119628","type":"link out","z":"d459dd72.d96b5","name":"forecast out","links":["46ac0294.0688dc"],"x":435,"y":160,"wires":[]},{"id":"10ff1573.b2a84b","type":"debug","z":"d459dd72.d96b5","name":"Forecast Raw","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":180,"wires":[]},{"id":"853c355e.224978","type":"switch","z":"d459dd72.d96b5","name":"","property":"source","propertyType":"msg","rules":[{"t":"eq","v":"forecast","vt":"str"},{"t":"eq","v":"tricolor","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":180,"wires":[["3b10f701.119628"],["f20cc6cf.ad4b78"]]},{"id":"f20cc6cf.ad4b78","type":"link out","z":"d459dd72.d96b5","name":"tricolor out","links":["2d696aeb.bebde6"],"x":435,"y":200,"wires":[]},{"id":"e7d6d898.93e0c8","type":"link in","z":"10360799.165308","name":"current trigger in","links":["48f5dda4.4947c4"],"x":55,"y":60,"wires":[["98473c47.cc676"]]},{"id":"34ca573b.b484d8","type":"trigger","z":"d459dd72.d96b5","d":true,"name":"Update Trigger","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"-5","extend":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":180,"y":340,"wires":[["48f5dda4.4947c4"]]},{"id":"adf6d8fe.2686d8","type":"link in","z":"d459dd72.d96b5","name":"Current Trigger Start","links":["22d44fc5.8ed7e","cf425bbe.4524d8","22e9e28c.98effe","46385ea9.eb0b4"],"x":35,"y":340,"wires":[["34ca573b.b484d8"]]},{"id":"48f5dda4.4947c4","type":"link out","z":"d459dd72.d96b5","name":"","links":["e7d6d898.93e0c8"],"x":335,"y":340,"wires":[]},{"id":"671a1f04.cbb77","type":"inject","z":"d459dd72.d96b5","name":"manual start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":400,"wires":[["34ca573b.b484d8"]]},{"id":"46d3f2d3.317b3c","type":"link out","z":"10360799.165308","name":"delay out","links":["811f1d27.277d8"],"x":495,"y":1580,"wires":[]},{"id":"547304ec.21808c","type":"delay","z":"d459dd72.d96b5","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":160,"y":500,"wires":[["46385ea9.eb0b4"]]},{"id":"46385ea9.eb0b4","type":"link out","z":"d459dd72.d96b5","name":"restart trigger","links":["adf6d8fe.2686d8"],"x":275,"y":500,"wires":[]},{"id":"811f1d27.277d8","type":"link in","z":"d459dd72.d96b5","name":"delay in","links":["46d3f2d3.317b3c"],"x":35,"y":500,"wires":[["547304ec.21808c"]]},{"id":"4060630f.4e25fc","type":"function","z":"10360799.165308","name":"Change Check","func":"var check = flow.get(\"startCond\")\nif (check === 0){\n    flow.set(\"startCond\",1)\n    flow.set(\"currentCond\",msg.payload)\n    return msg;\n}\nelse if (check === 1){\n    var pastCond = flow.get(\"currentCond\")\n    if (pastCond === msg.payload){\n        \n    }\n    else {\n        flow.set(\"currentCond\",msg.payload)\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":420,"wires":[["b84c7c4b.2cc5e"]]},{"id":"f562fe68.465ed","type":"function","z":"10360799.165308","name":"Temp Change Check","func":"var check = flow.get(\"startTemp\")\nif (check === 0){\n    flow.set(\"startTemp\",1)\n    flow.set(\"currentTemp\",msg.payload)\n    return msg;\n}\nelse if (check === 1){\n    var pastTemp = flow.get(\"currentTemp\")\n    if (pastTemp === msg.payload){\n        \n    }\n    else {\n        flow.set(\"currentTemp\",msg.payload)\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":820,"wires":[["c1acd0ac.2e1a8"]]},{"id":"1a1cd6a.4473929","type":"comment","z":"d459dd72.d96b5","name":"Save State Setup Lines","info":"","x":120,"y":560,"wires":[]},{"id":"aa0c02bd.f48bb","type":"change","z":"d459dd72.d96b5","name":"Save State 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":80,\"len\":80,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[1,0,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":0},{\"id\":2,\"start\":0,\"stop\":0},{\"id\":3,\"start\":0,\"stop\":0},{\"id\":4,\"start\":0,\"stop\":0},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":600,"wires":[["ae00f0e5.8b131"]]},{"id":"319e1135.35781e","type":"inject","z":"d459dd72.d96b5","name":"Save State 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":600,"wires":[["aa0c02bd.f48bb"]]},{"id":"5847cf88.52dbc","type":"change","z":"d459dd72.d96b5","name":"Save State 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":80,\"len\":80,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,1,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":0},{\"id\":2,\"start\":0,\"stop\":0},{\"id\":3,\"start\":0,\"stop\":0},{\"id\":4,\"start\":0,\"stop\":0},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":640,"wires":[["ae00f0e5.8b131"]]},{"id":"fbde9b24.130438","type":"inject","z":"d459dd72.d96b5","name":"Save State 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":640,"wires":[["5847cf88.52dbc"]]},{"id":"d03662e7.8e99","type":"change","z":"d459dd72.d96b5","name":"Save State 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":80,\"len\":80,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,1],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":0},{\"id\":2,\"start\":0,\"stop\":0},{\"id\":3,\"start\":0,\"stop\":0},{\"id\":4,\"start\":0,\"stop\":0},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":680,"wires":[["ae00f0e5.8b131"]]},{"id":"caa764f.788a198","type":"inject","z":"d459dd72.d96b5","name":"Save State 3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":680,"wires":[["d03662e7.8e99"]]},{"id":"ae00f0e5.8b131","type":"link out","z":"d459dd72.d96b5","name":"","links":["50d8851.f1af87c"],"x":415,"y":640,"wires":[]},{"id":"ca81acd0.8c745","type":"comment","z":"d459dd72.d96b5","name":"Current Condition polling interval","info":"","x":150,"y":300,"wires":[]},{"id":"e7573b07.c55348","type":"comment","z":"d459dd72.d96b5","name":"Current Condition Reactivation Delay","info":"","x":160,"y":460,"wires":[]},{"id":"d342db91.845978","type":"function","z":"10360799.165308","name":"Multi Forecast Split","func":"var forecast = msg.payload.split(\" then \");\n\nvar msg1 = {}\nvar msg2 = {}\n\nif (forecast.length === 1){\n    msg1.payload = forecast[0]\n    return [msg1,null,null]\n}\nelse {\n    msg1.payload = forecast[0]\n    msg2.payload = forecast[1]\n    return [null,msg1,msg2]\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":430,"y":280,"wires":[["d3965b64.dc7878"],["f79d278c.184d48"],["e2d811d1.09d05"]]},{"id":"e2d811d1.09d05","type":"delay","z":"10360799.165308","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":320,"wires":[["d3965b64.dc7878"]]},{"id":"f79d278c.184d48","type":"trigger","z":"10360799.165308","name":"","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":630,"y":280,"wires":[["d3965b64.dc7878"]]}]