files/flows.txt
[{"id":"38adee8.5d04912","type":"tab","label":"Weather Lamp Main Flow","disabled":false,"info":""},{"id":"4c750faa.46a87","type":"tab","label":"Weather Lamp Setup Flow","disabled":false,"info":""},{"id":"760c570.fafeca8","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.112","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1a55b6ac.3a2a59","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.112","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"596a930a.d438ec","type":"comment","z":"38adee8.5d04912","name":"Current Conditions Function","info":"","x":140,"y":40,"wires":[]},{"id":"bf626164.2fcf","type":"link out","z":"38adee8.5d04912","name":"","links":["ceac9402.ed2af8","39525714.beaa58"],"x":355,"y":100,"wires":[]},{"id":"a03d548c.cb6e38","type":"link in","z":"38adee8.5d04912","name":"","links":["d953cccf.27ac8","a2991cd5.a30c1"],"x":435,"y":100,"wires":[["dd6f0784.830cc8","13df80de.07fb0f"]]},{"id":"dd6f0784.830cc8","type":"change","z":"38adee8.5d04912","name":"Weather Extraction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.textDescription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":80,"wires":[["f10da96.e26cf58","74512d6b.81acf4"]]},{"id":"13df80de.07fb0f","type":"change","z":"38adee8.5d04912","name":"Temp Extraction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.temperature.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":140,"wires":[["f10da96.e26cf58","3d7b91d6.e6173e"]]},{"id":"2d92c1c7.16b0be","type":"comment","z":"38adee8.5d04912","name":"Temp color handling","info":"","x":110,"y":880,"wires":[]},{"id":"af87c723.e5aa58","type":"comment","z":"38adee8.5d04912","name":"Animation selection","info":"","x":110,"y":440,"wires":[]},{"id":"eb5576d2.950ca8","type":"comment","z":"38adee8.5d04912","name":"MQTT Handling","info":"","x":120,"y":1320,"wires":[]},{"id":"a80cfdda.14cff","type":"function","z":"38adee8.5d04912","name":"Description selection","func":"if (msg.payload === \"Clear\" || msg.payload === \"Fair\" || msg.payload === \"Fair with Haze\" || msg.payload === \"Clear with Haze\" || msg.payload === \"Fair and Breezy\" || msg.payload === \"Clear and Breezy\" || msg.payload === \"A Few Clouds\" || msg.payload === \"A Few Clouds with Haze\" || msg.payload === \"A Few Clouds and Breezy\" || msg.payload === \"Mostly Clear\" || msg.payload === \"Sunny\"){\n    msg.payload = \"Clear\";\n}\nelse if (msg.payload === \"Partly Cloudy\" || msg.payload === \"Partly Cloudy with Haze\" || msg.payload === \"Partly Cloudy and Breezy\"){\n    msg.payload = \"Partly Cloudy\";\n}\nelse if (msg.payload === \"Mostly Cloudy\" || msg.payload === \"Mostly Cloudy with Haze\" || msg.payload === \"Mostly Cloudy and Breezy\"){\n    msg.payload = \"Mostly Cloudy\";\n}\nelse if (msg.payload === \"Overcast\" || msg.payload === \"Overcast with Haze\" || msg.payload === \"Overcast and Breezy\" || msg.payload === \"Cloudy\"){\n    msg.payload = \"Overcast\";\n}\nelse if (msg.payload === \"Snow\" || msg.payload === \"Light Snow\" || msg.payload === \"Heavy Snow\" || msg.payload === \"Snow Showers\" || msg.payload === \"Light Snow Showers\" || msg.payload === \"Heavy Snow Showers\" || msg.payload === \"Showers Snow\" || msg.payload === \"Light Showers Snow\" || msg.payload === \"Heavy Showers Snow\" || msg.payload === \"Snow Fog/Mist\" || msg.payload === \"Light Snow Fog/Mist\" || msg.payload === \"Heavy Snow Fog/Mist\" || msg.payload === \"Snow Showers Fog/Mist\" || msg.payload === \"Light Snow Showers Fog/Mist\" || msg.payload === \"Heavy Snow Showers Fog/Mist\" || msg.payload === \"Showers Snow Fog/Mist\" || msg.payload === \"Light Showers Snow Fog/Mist\" || msg.payload === \"Heavy Showers Snow Fog/Mist\" || msg.payload === \"Snow Fog\" || msg.payload === \"Light Snow Fog\" || msg.payload === \"Heavy Snow Fog\" || msg.payload === \"Snow Showers Fog\" || msg.payload === \"Light Snow Showers Fog\" || msg.payload === \"Heavy Snow Showers Fog\" || msg.payload === \"Showers in Vicinity Snow\" || msg.payload === \"Snow Showers in Vicinity\" || msg.payload === \"Snow Showers in Vicinity Fog/Mist\" || msg.payload === \"Snow Showers in Vicinity Fog\" || msg.payload === \"Low Drifting Snow\" || msg.payload === \"Blowing Snow\" || msg.payload === \"Snow Low Drifting Snow\" || msg.payload === \"Snow Blowing Snow\" || msg.payload === \"Light Snow Low Drifting Snow\" || msg.payload === \"Light Snow Blowing Snow\" || msg.payload === \"Light Snow Blowing Snow Fog/Mist\" || msg.payload === \"Heavy Snow Low Drifting Snow\" || msg.payload === \"Heavy Snow Blowing Snow\" || msg.payload === \"Thunderstorm Snow\" || msg.payload === \"Light Thunderstorm Snow\" || msg.payload === \"Heavy Thunderstorm Snow\" || msg.payload === \"Snow Grains\" || msg.payload === \"Light Snow Grains\" || msg.payload === \"Heavy Snow Grains\" || msg.payload === \"Heavy Blowing Snow\" || msg.payload === \"Blowing Snow in Vicinity\"){\n    msg.payload = \"Snow\";\n}\nelse if (msg.payload === \"Rain Snow\" || msg.payload === \"Light Rain Snow\" || msg.payload === \"Heavy Rain Snow\" || msg.payload === \"Snow Rain\" || msg.payload === \"Light Snow Rain\" || msg.payload === \"Heavy Snow Rain\" || msg.payload === \"Drizzle Snow\" || msg.payload === \"Light Drizzle Snow\" || msg.payload === \"Heavy Drizzle Snow\" || msg.payload === \"Snow Drizzle\" || msg.payload === \"Light Snow Drizzle\" || msg.payload === \"Heavy Drizzle Snow\") {\n    msg.payload = \"Rain Snow\";\n}\nelse if (msg.payload === \"Rain Ice Pellets\" || msg.payload === \"Light Rain Ice Pellets\" || msg.payload === \"Heavy Rain Ice Pellets\" || msg.payload === \"Drizzle Ice Pellets\" || msg.payload === \"Light Drizzle Ice Pellets\" || msg.payload === \"Heavy Drizzle Ice Pellets\" || msg.payload === \"Ice Pellets Rain\" || msg.payload === \"Light Ice Pellets Rain\" || msg.payload === \"Heavy Ice Pellets Rain\" || msg.payload === \"Ice Pellets Drizzle\" || msg.payload === \"Light Ice Pellets Drizzle\" || msg.payload === \"Heavy Ice Pellets Drizzle\"){\n    msg.payload = \"Ice Pellets\";\n}\nelse if (msg.payload === \"Freezing Rain\" || msg.payload === \"Freezing Drizzle\" || msg.payload === \"Light Freezing Rain\" || msg.payload === \"Light Freezing Drizzle\" || msg.payload === \"Heavy Freezing Rain\" || msg.payload === \"Heavy Freezing Drizzle\" || msg.payload === \"Freezing Rain in Vicinity\" || msg.payload === \"Freezing Drizzle in Vicinity\"){\n    msg.payload = \"Freezing Rain\";\n}\nelse if (msg.payload === \"Freezing Rain Rain\" || msg.payload === \"Light Freezing Rain Rain\" || msg.payload === \"Heavy Freezing Rain Rain\" || msg.payload === \"Rain Freezing Rain\" || msg.payload === \"Light Rain Freezing Rain\" || msg.payload === \"Heavy Rain Freezing Rain\" || msg.payload === \"Freezing Drizzle Rain\" || msg.payload === \"Light Freezing Drizzle Rain\" || msg.payload === \"Heavy Freezing Drizzle Rain\" || msg.payload === \"Rain Freezing Drizzle\" || msg.payload === \"Light Rain Freezing Drizzle\" || msg.payload === \"Heavy Rain Freezing Drizzle\"){\n    msg.payload = \"Freezing Rain\";\n}\nelse if (msg.payload === \"Freezing Rain Snow\" || msg.payload === \"Light Freezing Rain Snow\" || msg.payload === \"Heavy Freezing Rain Snow\" || msg.payload === \"Freezing Drizzle Snow\" || msg.payload === \"Light Freezing Drizzle Snow\" || msg.payload === \"Heavy Freezing Drizzle Snow\" || msg.payload === \"Snow Freezing Rain\" || msg.payload === \"Light Snow Freezing Rain\" || msg.payload === \"Heavy Snow Freezing Rain\" || msg.payload === \"Snow Freezing Drizzle\" || msg.payload === \"Light Snow Freezing Drizzle\" || msg.payload === \"Heavy Snow Freezing Drizzle\"){\n    msg.payload = \"Freezing Rain\";\n}\nelse if (msg.payload === \"Ice Pellets\" || msg.payload === \"Light Ice Pellets\" || msg.payload === \"Heavy Ice Pellets\" || msg.payload === \"Ice Pellets in Vicinity\" || msg.payload === \"Showers Ice Pellets\" || msg.payload === \"Thunderstorm Ice Pellets\" || msg.payload === \"Ice Crystals\" || msg.payload === \"Hail\" || msg.payload === \"Small Hail/Snow Pellets\" || msg.payload === \"Light Small Hail/Snow Pellets\" || msg.payload === \"Heavy small Hail/Snow Pellets\" || msg.payload === \"Showers Hail\" || msg.payload === \"Hail Showers\"){\n    msg.payload = \"Ice Pellets\";\n}\nelse if (msg.payload === \"Snow Ice Pellets\"){\n    msg.payload = \"Ice Pellets\";\n}\nelse if (msg.payload === \"Light Rain\" || msg.payload === \"Drizzle\" || msg.payload === \"Light Drizzle\" || msg.payload === \"Heavy Drizzle\" || msg.payload === \"Light Rain Fog/Mist\" || msg.payload === \"Light Drizzle Fog/Mist\" || msg.payload === \"Light Rain Fog\" || msg.payload === \"Light Drizzle Fog\" || msg.payload === \"Heavy Drizzle Fog\"){\n    msg.payload = \"Light Rain\";\n}\nelse if (msg.payload === \"Rain\" || msg.payload === \"Heavy Rain\" || msg.payload === \"Rain Fog/Mist\" || msg.payload === \"Heavy Rain Fog/Mist\" || msg.payload === \"Rain Fog\" || msg.payload === \"Heavy Rain Fog\"){\n    msg.payload = \"Rain\";\n}\nelse if (msg.payload === \"Rain Showers\" || msg.payload === \"Light Rain Showers\" || msg.payload === \"Light Rain and Breezy\" || msg.payload === \"Heavy Rain Showers\" || msg.payload === \"Rain Showers in Vicinity\" || msg.payload === \"Light Showers Rain\" || msg.payload === \"Heavy Showers Rain\" || msg.payload === \"Showers Rain\" || msg.payload === \"Showers Rain in Vicinity\" || msg.payload === \"Rain Showers Fog/Mist\" || msg.payload === \"Light Rain Showers Fog/Mist\" || msg.payload === \"Heavy Rain Showers Fog/Mist\" || msg.payload === \"Rain Showers in Vicinity Fog/Mist\" || msg.payload === \"Light Showers Rain Fog/Mist\" || msg.payload === \"Heavy Showers Rain Fog/Mist\" || msg.payload === \"Showers Rain Fog/Mist\" || msg.payload === \"Showers Rain in Vicinity Fog/Mist\"){\n    msg.payload = \"Light Rain\";\n}\n else if (msg.payload === \"Showers in Vicinity\" || msg.payload === \"Showers in Vicinity Fog/Mist\" || msg.payload === \"Showers in Vicinity Fog\" || msg.payload === \"Showers in Vicinity Haze\"){\n    msg.payload = \"Light Rain\";\n}\n else if (msg.payload === \"Thunderstorm\" || msg.payload === \"Thunderstorm Rain\" || msg.payload === \"Light Thunderstorm Rain\" || msg.payload === \"Heavy Thunderstorm Rain\" || msg.payload === \"Thunderstorm Rain Fog/Mist\" || msg.payload === \"Light Thunderstorm Rain Fog/Mist\" || msg.payload === \"Heavy Thunderstorm Rain Fog and Windy\" || msg.payload === \"Heavy Thunderstorm Rain Fog/Mist\" || msg.payload === \"Thunderstorm Showers in Vicinity\" || msg.payload === \"Light Thunderstorm Rain Haze\" || msg.payload === \"Heavy Thunderstorm Rain Haze\" || msg.payload === \"Thunderstorm Fog\" || msg.payload === \"Light Thunderstorm Rain Fog\" || msg.payload === \"Heavy Thunderstorm Rain Fog\" || msg.payload === \"Thunderstorm Light Rain\" || msg.payload === \"Thunderstorm Heavy Rain\" || msg.payload === \"Thunderstorm Rain Fog/Mist\" || msg.payload === \"Thunderstorm Light Rain Fog/Mist\" || msg.payload === \"Thunderstorm Heavy Rain Fog/Mist\" || msg.payload === \"Thunderstorm in Vicinity Fog/Mist\" || msg.payload === \"Thunderstorm Showers in Vicinity\" || msg.payload === \"Thunderstorm in Vicinity Haze\" || msg.payload === \"Thunderstorm Haze in Vicinity\" || msg.payload === \"Thunderstorm Light Rain Haze\" || msg.payload === \"Thunderstorm Heavy Rain Haze\" || msg.payload === \"Thunderstorm Fog\" || msg.payload === \"Thunderstorm Light Rain Fog\" || msg.payload === \"Thunderstorm Heavy Rain Fog\" || msg.payload === \"Thunderstorm Hail\" || msg.payload === \"Light Thunderstorm Rain Hail\" || msg.payload === \"Heavy Thunderstorm Rain Hail\" || msg.payload === \"Thunderstorm Rain Hail Fog/Mist\" || msg.payload === \"Light Thunderstorm Rain Hail Fog/Mist\" || msg.payload === \"Heavy Thunderstorm Rain Hail Fog/Hail\" || msg.payload === \"Thunderstorm Showers in Vicinity Hail\" || msg.payload === \"Light Thunderstorm Rain Hail Haze\" || msg.payload === \"Heavy Thunderstorm Rain Hail Haze\" || msg.payload === \"Thunderstorm Hail Fog\" || msg.payload === \"Light Thunderstorm Rain Hail Fog\" || msg.payload === \"Heavy Thunderstorm Rain Hail Fog\" || msg.payload === \"Thunderstorm Light Rain Hail\" || msg.payload === \"Thunderstorm Heavy Rain Hail\" || msg.payload === \"Thunderstorm Rain Hail Fog/Mist\" || msg.payload === \"Thunderstorm Light Rain Hail Fog/Mist\" || msg.payload === \"Thunderstorm Heavy Rain Hail Fog/Mist\" || msg.payload === \"Thunderstorm in Vicinity Hail\" || msg.payload === \"Thunderstorm in Vicinity Hail Haze\" || msg.payload === \"Thunderstorm Haze in Vicinity Hail\" || msg.payload === \"Thunderstorm Light Rain Hail Haze\" || msg.payload === \"Thunderstorm Heavy Rain Hail Haze\" || msg.payload === \"Thunderstorm Hail Fog\" || msg.payload === \"Thunderstorm Light Rain Hail Fog\" || msg.payload === \"Thunderstorm Heavy Rain Hail Fog\" || msg.payload === \"Thunderstorm Small Hail/Snow Pellets\" || msg.payload === \"Thunderstorm Rain Small Hail/Snow Pellets\" || msg.payload === \"Light Thunderstorm Rain Small Hail/Snow Pellets\" || msg.payload === \"Heavy Thunderstorm Rain Small Hail/Snow Pellets\" || msg.payload === \"Thunder\" || msg.payload === \"Thunderstorms\"){\n    msg.payload = \"Thunder\";\n}\nelse if (msg.payload === \"Thunderstorm in Vicinity\"){\n    msg.payload = \"Thunder\";\n}\nelse if (msg.payload === \"Thunderstorm in Vicinity\" || msg.payload === \"Thunderstorm in Vicinity Fog\" || msg.payload === \"Thunderstorm in Vicinity Haze\"){\n    msg.payload = \"Thunder\";\n}\nelse if (msg.payload === \"Funnel Cloud\" || msg.payload === \"Funnel Cloud in Vicinity\" || msg.payload === \"Tornado/Water Spout\"){\n    msg.payload = \"Tornado\";\n}\nelse if (msg.payload === \"Tornado\"){\n    msg.payload = \"Tornado\";\n}\nelse if (msg.payload === \"Hurricane Warning\"){\n    msg.payload = \"Hurricane Warning\";\n}\nelse if (msg.payload === \"Hurricane Watch\"){\n    msg.payload = \"Hurricane Watch\";\n}\nelse if (msg.payload === \"Tropical Storm Warning\"){\n    msg.payload = \"Tropical Storm Warning\";\n}\nelse if (msg.payload === \"Tropical Storm Watch\"){\n    msg.payload = \"Tropical Storm Watch\";\n}\nelse if (msg.payload === \"Tropical Storm Conditions presently exist w/Hurricane Warning in effect\"){\n    msg.payload = \"Hurricane Warning\";\n}\nelse if (msg.payload === \"Windy\" || msg.payload === \"Breezy\" || msg.payload === \"Fair and Windy\"){\n    msg.payload = \"Windy\";\n}\nelse if (msg.payload === \"A Few Clouds and Windy\"){\n    msg.payload = \"Windy\";\n}\nelse if (msg.payload === \"Partly Cloudy and Windy\"){\n    msg.payload = \"Partly Cloudy Windy\";\n}\nelse if (msg.payload === \"Mostly Cloudy and Windy\"){\n    msg.payload = \"Mostly Cloudy Windy\";\n}\nelse if (msg.payload === \"Overcast and Windy\"){\n    msg.payload = \"Overcast Windy\";\n}\nelse if (msg.payload === \"Dust\" || msg.payload === \"Low Drifting Dust\" || msg.payload === \"Blowing Dust\" || msg.payload === \"Sand\" || msg.payload === \"Blowing Sand\" || msg.payload === \"Low Drifting Sand\" || msg.payload === \"Dust/Sand Whirls\" || msg.payload === \"Dust/Sand Whirls in Vicinity\" || msg.payload === \"Dust Storm\" || msg.payload === \"Heavy Dust Storm\" || msg.payload === \"Dust Storm in Vicinity\" || msg.payload === \"Sand Storm\" || msg.payload === \"Heavy Sand Storm\" || msg.payload === \"Sand Storm in Vicinity\"){\n    msg.payload = \"Dust\";\n}\nelse if (msg.payload === \"Smoke\"){\n    msg.payload = \"Smoke\";\n}\nelse if (msg.payload === \"Haze\"){\n    msg.payload = \"Haze\";\n}\nelse if (msg.payload === \"Hot\"){\n    msg.payload = \"Hot\";\n}\nelse if (msg.payload === \"Cold\"){\n    msg.payload = \"Cold\";\n}\nelse if (msg.payload === \"Blizzard\"){\n    msg.payload = \"Blizzard\";\n}\nelse if (msg.payload === \"Fog/Mist\" || msg.payload === \"Freezing Fog\" || msg.payload === \"Shallow Fog\" || msg.payload === \"Partial Fog\" || msg.payload === \"Patches of Fog\" || msg.payload === \"Fog in Vicinity\" || msg.payload === \"Freezing Fog in Vicinity\" || msg.payload === \"Shallow Fog in Vicinity\" || msg.payload === \"Partial Fog in Vicinity\" || msg.payload === \"Patches of Fog in Vicinity\" || msg.payload === \"Showers in Vicinity Fog\" || msg.payload === \"Light Freezing Fog\" || msg.payload === \"Heavy Freezing Fog\"){\n    msg.payload = \"Fog\";\n}\nelse {\n\tmsg.payload = \"Unknown\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":620,"wires":[["40abd393.e4741c","638fabbd.3129b4"]]},{"id":"d3fcc921.76ca88","type":"switch","z":"38adee8.5d04912","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Hot","vt":"str"},{"t":"eq","v":"Cold","vt":"str"},{"t":"eq","v":"Rain","vt":"str"},{"t":"eq","v":"Light Rain","vt":"str"},{"t":"eq","v":"Clear","vt":"str"},{"t":"eq","v":"Partly Cloudy","vt":"str"},{"t":"eq","v":"Mostly Cloudy","vt":"str"},{"t":"eq","v":"Overcast","vt":"str"},{"t":"eq","v":"Thunder","vt":"str"},{"t":"eq","v":"Thunder Night","vt":"str"},{"t":"eq","v":"Blizzard","vt":"str"},{"t":"eq","v":"Snow","vt":"str"},{"t":"eq","v":"Unknown","vt":"str"}],"checkall":"true","repair":false,"outputs":13,"x":510,"y":620,"wires":[["199e90c5.c3954f"],["dca7a02d.ae925"],["3b8833fe.273b3c"],["6316c909.0f3bb8"],["b1966fd2.5fdc7"],["202e3fe6.3db26"],["e6ec2eee.c17fe"],["4009250e.56a58c"],["2d6c3d17.e55ee2"],["e086f31b.e7348"],["bf95fee5.3f164"],["7aba004b.d78a2"],["10d361ac.e927ae"]]},{"id":"199e90c5.c3954f","type":"change","z":"38adee8.5d04912","name":"Hot","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[255,208,0],[255,121,18],[0,0,0]],\"fx\":2,\"sx\":45,\"ix\":109,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":18,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":4,\"start\":22,\"stop\":28,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":32,\"stop\":38,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":42,\"stop\":48,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":52,\"stop\":58,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":8,\"start\":62,\"stop\":68,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":9,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":0,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":420,"wires":[["d1f8d377.51167"]]},{"id":"dca7a02d.ae925","type":"change","z":"38adee8.5d04912","name":"Cold","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[49,179,255],[0,9,189],[0,0,0]],\"fx\":2,\"sx\":45,\"ix\":109,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":18,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":4,\"start\":22,\"stop\":28,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":32,\"stop\":38,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":42,\"stop\":48,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":52,\"stop\":58,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":8,\"start\":62,\"stop\":68,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":9,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":0,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":420,"wires":[["d1f8d377.51167"]]},{"id":"3b8833fe.273b3c","type":"change","z":"38adee8.5d04912","name":"Rain","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[32,118,168],[107,116,120],[0,0,0]],\"fx\":2,\"sx\":45,\"ix\":40,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":18,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":4,\"start\":22,\"stop\":28,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":32,\"stop\":38,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":42,\"stop\":48,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":52,\"stop\":58,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":8,\"start\":62,\"stop\":68,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":9,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":460,"wires":[["d1f8d377.51167"]]},{"id":"6316c909.0f3bb8","type":"change","z":"38adee8.5d04912","name":"Light Rain","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[32,118,168],[107,116,120],[0,0,0]],\"fx\":2,\"sx\":45,\"ix\":40,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":18,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":4,\"start\":22,\"stop\":28,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":32,\"stop\":38,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":42,\"stop\":48,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":52,\"stop\":58,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":8,\"start\":62,\"stop\":68,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":9,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":460,"wires":[["d1f8d377.51167"]]},{"id":"b1966fd2.5fdc7","type":"change","z":"38adee8.5d04912","name":"Clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":2,\"sx\":23,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[240,255,145],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":500,"wires":[["d1f8d377.51167"]]},{"id":"202e3fe6.3db26","type":"change","z":"38adee8.5d04912","name":"Partly Cloudy","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[43,132,255],[84,187,232],[0,0,0]],\"fx\":2,\"sx\":23,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[240,255,145],[171,171,171],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":500,"wires":[["d1f8d377.51167"]]},{"id":"e6ec2eee.c17fe","type":"change","z":"38adee8.5d04912","name":"Mostly Cloudy","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[79,146,255],[150,148,156],[0,0,0]],\"fx\":15,\"sx\":19,\"ix\":45,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[240,255,145],[171,171,171],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":540,"wires":[["d1f8d377.51167"]]},{"id":"4009250e.56a58c","type":"change","z":"38adee8.5d04912","name":"Overcast","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[161,164,191],[105,104,110],[0,0,0]],\"fx\":15,\"sx\":19,\"ix\":45,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[151,153,107],[171,171,171],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[130,136,158],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[130,136,158],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":540,"wires":[["d1f8d377.51167"]]},{"id":"2d6c3d17.e55ee2","type":"change","z":"38adee8.5d04912","name":"Thunder","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[43,43,43],[0,0,0]],\"fx\":57,\"sx\":145,\"ix\":119,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[48,48,48],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":580,"wires":[["d1f8d377.51167"]]},{"id":"e086f31b.e7348","type":"change","z":"38adee8.5d04912","name":"Thunder Night","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,115],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,115],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":57,\"sx\":145,\"ix\":119,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":580,"wires":[["d1f8d377.51167"]]},{"id":"bf95fee5.3f164","type":"change","z":"38adee8.5d04912","name":"Blizzard","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[128,128,128],[224,224,224],[0,0,0]],\"fx\":80,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[128,128,128],[224,224,224],[0,0,0]],\"fx\":80,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[207,207,207],[128,128,128],[0,0,0]],\"fx\":15,\"sx\":133,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[128,128,128],[224,224,224],[0,0,0]],\"fx\":80,\"sx\":190,\"ix\":171,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":620,"wires":[["d1f8d377.51167"]]},{"id":"7aba004b.d78a2","type":"change","z":"38adee8.5d04912","name":"Snow","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":10,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":10,\"stop\":18,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":3,\"start\":22,\"stop\":30,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":30,\"stop\":38,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":5,\"start\":42,\"stop\":50,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":6,\"start\":50,\"stop\":58,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":7,\"start\":62,\"stop\":70,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":8,\"start\":70,\"stop\":80,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":620,"wires":[["d1f8d377.51167"]]},{"id":"10d361ac.e927ae","type":"change","z":"38adee8.5d04912","name":"Unknown","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":10,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":10,\"stop\":18,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":3,\"start\":22,\"stop\":30,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":30,\"stop\":38,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":5,\"start\":42,\"stop\":50,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":6,\"start\":50,\"stop\":58,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":7,\"start\":62,\"stop\":70,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":8,\"start\":70,\"stop\":80,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":660,"wires":[["d1f8d377.51167"]]},{"id":"d1f8d377.51167","type":"link out","z":"38adee8.5d04912","name":"","links":["ac6af46.7d2bb08","40a0bdd5.818974"],"x":1135,"y":740,"wires":[]},{"id":"74512d6b.81acf4","type":"link out","z":"38adee8.5d04912","name":"","links":["c3c184cd.0c8ea8"],"x":915,"y":60,"wires":[]},{"id":"c3c184cd.0c8ea8","type":"link in","z":"38adee8.5d04912","name":"","links":["74512d6b.81acf4","942843f3.8e415"],"x":35,"y":620,"wires":[["a80cfdda.14cff"]]},{"id":"8629c263.ec36b","type":"inject","z":"38adee8.5d04912","name":"Manual Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":160,"wires":[["6bcf7963.8b5b28"]]},{"id":"f10da96.e26cf58","type":"debug","z":"38adee8.5d04912","name":"Latest Conditions","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":100,"wires":[]},{"id":"40abd393.e4741c","type":"debug","z":"38adee8.5d04912","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":780,"wires":[]},{"id":"f4905776.626318","type":"link out","z":"38adee8.5d04912","name":"","links":["35681303.72336c"],"x":1095,"y":160,"wires":[]},{"id":"35681303.72336c","type":"link in","z":"38adee8.5d04912","name":"current in","links":["f4905776.626318"],"x":35,"y":960,"wires":[["393b33f2.4cf3ac"]]},{"id":"393b33f2.4cf3ac","type":"function","z":"38adee8.5d04912","name":"C to F","func":"var tempC = msg.payload;\nvar tempF = (tempC*1.8)+32;\nmsg.payload = tempF;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":960,"wires":[["d970e860.6da508","ca1cc0f2.9ff16"]]},{"id":"9f272f27.48ecb","type":"function","z":"38adee8.5d04912","name":"Temp to Hue","func":"var TempF = msg.payload\nvar Hue = [0,100,100];\nvar hue = (0.0000007*(Math.pow(TempF,4)))+(0.0001*(Math.pow(TempF,3)))-(0.0339*(Math.pow(TempF,2)))-(1.1763*TempF)+268.35\nHue[0] = hue\nmsg.payload = Hue\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":960,"wires":[["38264b3d.3be334","c0047018.6c9df"]]},{"id":"38264b3d.3be334","type":"color-convert","z":"38adee8.5d04912","input":"hsv","output":"rgb","outputType":"array","scaleInput":false,"x":670,"y":960,"wires":[["83b328fc.c19ac8","c2d53db7.807d4"]]},{"id":"c77916c1.28c988","type":"function","z":"38adee8.5d04912","name":"form message","func":"var temp = msg.payload;\nvar message =  '{\"mainseg\":0,\"seg\":[{\"id\":0,\"col\":[['\nvar num = temp[0];\nvar n = num.toString();\nmessage = message.concat(n);\nnum = temp[1];\nn = num.toString();\nvar m = \",\";\nmessage = message.concat(m);\nmessage = message.concat(n);\nmessage = message.concat(m);\nnum = temp[2];\nn = num.toString();\nmessage = message.concat(n);\nvar p = \"],[0,0,0],[0,0,0]]}]}\"\nvar mess = message.concat(p)\nmsg.payload = mess;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":940,"wires":[["30577d9e.e06872","a78b70a1.a3355"]]},{"id":"30577d9e.e06872","type":"debug","z":"38adee8.5d04912","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":980,"wires":[]},{"id":"a78b70a1.a3355","type":"link out","z":"38adee8.5d04912","name":"","links":["ac6af46.7d2bb08","40a0bdd5.818974"],"x":1135,"y":940,"wires":[]},{"id":"3ec8e952.ea9666","type":"link in","z":"38adee8.5d04912","name":"MQTT In","links":["74126363.a731ec","1c2a9437.69661c"],"x":55,"y":1440,"wires":[["e2b834ec.ab24b8"]]},{"id":"e29f10f7.d6ec4","type":"comment","z":"38adee8.5d04912","name":"Forecast Mode","info":"","x":360,"y":1460,"wires":[]},{"id":"d7d33217.31781","type":"comment","z":"38adee8.5d04912","name":"Temp Band Mode","info":"","x":360,"y":1560,"wires":[]},{"id":"432da2ed.80078c","type":"comment","z":"38adee8.5d04912","name":"Startup","info":"","x":330,"y":1360,"wires":[]},{"id":"e2b834ec.ab24b8","type":"switch","z":"38adee8.5d04912","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"#010000","vt":"str"},{"t":"eq","v":"#000100","vt":"str"},{"t":"eq","v":"#000001","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":150,"y":1440,"wires":[["a5920808.6a0be8"],["4a2e8159.a7534"],["17a06b50.947e35"]]},{"id":"a5920808.6a0be8","type":"change","z":"38adee8.5d04912","name":"set to timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1400,"wires":[["378568e2.276a08","8b928a45.445258"]]},{"id":"378568e2.276a08","type":"link out","z":"38adee8.5d04912","name":"Startup Propmpt","links":["631c08ff.292638"],"x":495,"y":1380,"wires":[]},{"id":"aed68679.d48898","type":"link in","z":"38adee8.5d04912","name":"forecast in","links":["4660bd86.20b654","1ea512dd.ae80dd"],"x":95,"y":320,"wires":[["b33cac55.2adfe","de85ed87.010cf"]]},{"id":"b33cac55.2adfe","type":"change","z":"38adee8.5d04912","name":"Weather Extraction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.periods[1].shortForecast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":300,"wires":[["942843f3.8e415","ecf8ff4c.bdef9"]]},{"id":"de85ed87.010cf","type":"change","z":"38adee8.5d04912","name":"Temp Extraction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.periods[2].temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":360,"wires":[["ecf8ff4c.bdef9","b57f5af.d5821a8"]]},{"id":"942843f3.8e415","type":"link out","z":"38adee8.5d04912","name":"","links":["c3c184cd.0c8ea8"],"x":415,"y":280,"wires":[]},{"id":"ecf8ff4c.bdef9","type":"debug","z":"38adee8.5d04912","name":"Forecast","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":320,"wires":[]},{"id":"25e8a673.4faa6a","type":"link out","z":"38adee8.5d04912","name":"","links":["84959e4f.2c2e5"],"x":555,"y":380,"wires":[]},{"id":"86250805.382528","type":"comment","z":"38adee8.5d04912","name":"Forecast Parsing","info":"","x":130,"y":220,"wires":[]},{"id":"84959e4f.2c2e5","type":"link in","z":"38adee8.5d04912","name":"Forecast in","links":["25e8a673.4faa6a","6326c182.713ac"],"x":155,"y":920,"wires":[["ca1cc0f2.9ff16"]]},{"id":"62c3acc1.83b434","type":"change","z":"38adee8.5d04912","name":"reset message","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1740,"wires":[["9a942e31.8f73"]]},{"id":"4a2e8159.a7534","type":"change","z":"38adee8.5d04912","name":"set to timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1500,"wires":[["62c3acc1.83b434","cb734a14.11cb88","787c33a1.6bc04c"]]},{"id":"c82fedc1.bd788","type":"link out","z":"38adee8.5d04912","name":"forecast trigger","links":["7753a37f.d08c3c","de23e5b1.5c6aa8"],"x":855,"y":1500,"wires":[]},{"id":"9a942e31.8f73","type":"link out","z":"38adee8.5d04912","name":"reset trigger","links":["631c08ff.292638"],"x":695,"y":1740,"wires":[]},{"id":"58099a16.0cd794","type":"comment","z":"38adee8.5d04912","name":"Tri Band Function","info":"","x":100,"y":1100,"wires":[]},{"id":"cb734a14.11cb88","type":"change","z":"38adee8.5d04912","name":"","rules":[{"t":"set","p":"source","pt":"msg","to":"forecast","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1500,"wires":[["4ca613ae.41916c","7114b8be.4eb9d8"]]},{"id":"2b1abd71.952f32","type":"change","z":"38adee8.5d04912","name":"","rules":[{"t":"set","p":"source","pt":"msg","to":"tricolor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1600,"wires":[["fcd02fb7.75dd8","9ce6ee93.bb16e"]]},{"id":"f1ae3c23.9dc8b","type":"link in","z":"38adee8.5d04912","name":"tricolor in","links":["196b2c4b.dfc514","4cd19e9f.ac48d"],"x":55,"y":1160,"wires":[["11a30a8.8d78ff6"]]},{"id":"6bcf7963.8b5b28","type":"function","z":"38adee8.5d04912","name":"Set User Agent ","func":"msg.headers = {};\nmsg.headers['USER-AGENT'] = 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":100,"wires":[["bf626164.2fcf"]]},{"id":"4ca613ae.41916c","type":"function","z":"38adee8.5d04912","name":"Set User Agent ","func":"msg.headers = {};\nmsg.headers['USER-AGENT'] = 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1500,"wires":[["c82fedc1.bd788"]]},{"id":"fcd02fb7.75dd8","type":"function","z":"38adee8.5d04912","name":"Set User Agent ","func":"msg.headers = {};\nmsg.headers['USER-AGENT'] = 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1600,"wires":[["9fb8b4e9.f15298"]]},{"id":"17a06b50.947e35","type":"change","z":"38adee8.5d04912","name":"set to timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1600,"wires":[["2b1abd71.952f32","62c3acc1.83b434","787c33a1.6bc04c"]]},{"id":"9fb8b4e9.f15298","type":"link out","z":"38adee8.5d04912","name":"forecast trigger","links":["7753a37f.d08c3c","de23e5b1.5c6aa8"],"x":855,"y":1600,"wires":[]},{"id":"cd65e48b.2d9818","type":"comment","z":"38adee8.5d04912","name":"Current Condition Trigger pause/restart","info":"","x":660,"y":1700,"wires":[]},{"id":"11a30a8.8d78ff6","type":"function","z":"38adee8.5d04912","name":"","func":"var temp1 = msg.payload.properties.periods[0].temperature\nvar temp2 = msg.payload.properties.periods[1].temperature\nvar temp3 = msg.payload.properties.periods[2].temperature\nvar msg1 = {}\nvar msg2 = {}\nvar msg3 = {}\nmsg1.payload = temp1\nmsg2.payload = temp2\nmsg3.payload = temp3\nreturn [[msg1,msg2,msg3]]\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":1160,"wires":[["9eb73151.97e53","7454eeed.96ef4"]]},{"id":"dd3dc622.a7aa98","type":"inject","z":"38adee8.5d04912","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1520,"wires":[["4a2e8159.a7534"]]},{"id":"b57f5af.d5821a8","type":"change","z":"38adee8.5d04912","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"single","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":380,"wires":[["25e8a673.4faa6a"]]},{"id":"3d7b91d6.e6173e","type":"change","z":"38adee8.5d04912","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"single","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":160,"wires":[["f4905776.626318"]]},{"id":"9eb73151.97e53","type":"change","z":"38adee8.5d04912","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"tri","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1160,"wires":[["6326c182.713ac"]]},{"id":"6326c182.713ac","type":"link out","z":"38adee8.5d04912","name":"","links":["84959e4f.2c2e5"],"x":435,"y":1160,"wires":[]},{"id":"83b328fc.c19ac8","type":"switch","z":"38adee8.5d04912","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"tri","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":820,"y":960,"wires":[["c77916c1.28c988"],["f7a6fe0.d0732"]]},{"id":"f7a6fe0.d0732","type":"link out","z":"38adee8.5d04912","name":"","links":["51a64dbb.8cf3a4"],"x":935,"y":980,"wires":[]},{"id":"51a64dbb.8cf3a4","type":"link in","z":"38adee8.5d04912","name":"","links":["f7a6fe0.d0732"],"x":495,"y":1160,"wires":[["7325f64.607c608"]]},{"id":"fc31b945.df36f8","type":"debug","z":"38adee8.5d04912","name":"tri color hues","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":1200,"wires":[]},{"id":"1562af72.d4b841","type":"inject","z":"38adee8.5d04912","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1620,"wires":[["17a06b50.947e35"]]},{"id":"d970e860.6da508","type":"debug","z":"38adee8.5d04912","name":"c to f","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":1020,"wires":[]},{"id":"c0047018.6c9df","type":"debug","z":"38adee8.5d04912","name":"temp to hue","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":1020,"wires":[]},{"id":"c2d53db7.807d4","type":"debug","z":"38adee8.5d04912","name":"hsv to rgb","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":1020,"wires":[]},{"id":"7454eeed.96ef4","type":"debug","z":"38adee8.5d04912","name":"tri function","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":1200,"wires":[]},{"id":"7325f64.607c608","type":"join","z":"38adee8.5d04912","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"-","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":1160,"wires":[["b8ea3997.607918"]]},{"id":"b8ea3997.607918","type":"function","z":"38adee8.5d04912","name":"","func":"var bands = msg.payload.split(\"-\")\nvar message = '{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(bands[0])\nvar next = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":125,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":17,\"stop\":79,\"len\":62,\"grp\":6,\"spc\":14,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(next)\nmessage = message.concat(bands[0])\nnext = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":125,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":3,\"stop\":79,\"len\":76,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(next)\nmessage = message.concat(bands[1])\nnext = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":125,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":13,\"stop\":79,\"len\":66,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(next)\nmessage = message.concat(bands[1])\nnext = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":125,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":7,\"stop\":79,\"len\":72,\"grp\":6,\"spc\":14,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(next)\nmessage = message.concat(bands[2])\nnext = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}'\nmessage = message.concat(next)\nmsg.payload = message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1160,"wires":[["fc31b945.df36f8","111f155e.7d39bb"]]},{"id":"111f155e.7d39bb","type":"link out","z":"38adee8.5d04912","name":"Tri-Color-json_out","links":["ac6af46.7d2bb08","40a0bdd5.818974"],"x":835,"y":1160,"wires":[]},{"id":"8b928a45.445258","type":"function","z":"38adee8.5d04912","name":"","func":"var startTemp = flow.set(\"startTemp\",0)\nvar startCond = flow.set(\"startCond\",0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1420,"wires":[[]]},{"id":"a459c27e.03c64","type":"inject","z":"38adee8.5d04912","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1380,"wires":[["a5920808.6a0be8"]]},{"id":"7114b8be.4eb9d8","type":"function","z":"38adee8.5d04912","name":"","func":"var startTemp = flow.set(\"startTemp\",0)\nvar startCond = flow.set(\"startCond\",0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1540,"wires":[[]]},{"id":"9ce6ee93.bb16e","type":"function","z":"38adee8.5d04912","name":"","func":"var startTemp = flow.set(\"startTemp\",0)\nvar startCond = flow.set(\"startCond\",0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1640,"wires":[[]]},{"id":"b46fd8b3.8780a8","type":"http request","z":"4c750faa.46a87","name":"Weather API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.weather.gov/stations/KBOS/observations/latest","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":180,"wires":[["3fecf6bc.c0ab9a","a2991cd5.a30c1"]]},{"id":"eea98d8c.52b5f","type":"mqtt in","z":"4c750faa.46a87","name":"MQTT Config","topic":"wled/weather/c","qos":"2","datatype":"auto","broker":"1a55b6ac.3a2a59","x":90,"y":80,"wires":[["1c2a9437.69661c","6ce92c6e.aa0634"]]},{"id":"8f4507ab.77ba88","type":"comment","z":"4c750faa.46a87","name":"User defined Variables","info":"","x":120,"y":40,"wires":[]},{"id":"3fecf6bc.c0ab9a","type":"debug","z":"4c750faa.46a87","name":"Current Conditions Raw","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":180,"wires":[]},{"id":"39525714.beaa58","type":"link in","z":"4c750faa.46a87","name":"","links":["bf626164.2fcf"],"x":35,"y":180,"wires":[["b46fd8b3.8780a8"]]},{"id":"de23e5b1.5c6aa8","type":"link in","z":"4c750faa.46a87","name":"","links":["c82fedc1.bd788","9fb8b4e9.f15298"],"x":35,"y":240,"wires":[["16184fe3.bd054"]]},{"id":"16184fe3.bd054","type":"http request","z":"4c750faa.46a87","name":"Forecast API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.weather.gov/gridpoints/GYX/72,76/forecast","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":240,"wires":[["5f28245b.691f6c","5c85363a.b3bb98"]]},{"id":"a2991cd5.a30c1","type":"link out","z":"4c750faa.46a87","name":"","links":["a03d548c.cb6e38"],"x":355,"y":180,"wires":[]},{"id":"858e17a.ab775e8","type":"http request","z":"4c750faa.46a87","name":"WLED JSON Send","method":"POST","ret":"txt","paytoqs":"ignore","url":"192.168.0.33\\json\\state","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":300,"wires":[["47c8e21f.196ccc"]]},{"id":"40a0bdd5.818974","type":"link in","z":"4c750faa.46a87","name":"","links":["d1f8d377.51167","a78b70a1.a3355","111f155e.7d39bb","41c78e31.37212"],"x":35,"y":300,"wires":[["858e17a.ab775e8"]]},{"id":"47c8e21f.196ccc","type":"debug","z":"4c750faa.46a87","name":"Send Confirmation","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":300,"wires":[]},{"id":"1c2a9437.69661c","type":"link out","z":"4c750faa.46a87","d":true,"name":"MQTT Out","links":["3ec8e952.ea9666"],"x":235,"y":80,"wires":[]},{"id":"6ce92c6e.aa0634","type":"debug","z":"4c750faa.46a87","name":"MQTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":120,"wires":[]},{"id":"1ea512dd.ae80dd","type":"link out","z":"4c750faa.46a87","name":"forecast out","links":["aed68679.d48898"],"x":495,"y":220,"wires":[]},{"id":"5f28245b.691f6c","type":"debug","z":"4c750faa.46a87","name":"Forecast Raw","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":240,"wires":[]},{"id":"5c85363a.b3bb98","type":"switch","z":"4c750faa.46a87","name":"","property":"source","propertyType":"msg","rules":[{"t":"eq","v":"forecast","vt":"str"},{"t":"eq","v":"tricolor","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":220,"wires":[["1ea512dd.ae80dd"],["4cd19e9f.ac48d"]]},{"id":"4cd19e9f.ac48d","type":"link out","z":"4c750faa.46a87","name":"tricolor out","links":["f1ae3c23.9dc8b"],"x":495,"y":260,"wires":[]},{"id":"afbd1980.23b6a8","type":"link in","z":"38adee8.5d04912","name":"current trigger in","links":["e215f865.fb36b8"],"x":55,"y":100,"wires":[["6bcf7963.8b5b28"]]},{"id":"b3e73ea1.63aa7","type":"trigger","z":"4c750faa.46a87","d":true,"name":"Update Trigger","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"-5","extend":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":200,"y":420,"wires":[["e215f865.fb36b8"]]},{"id":"631c08ff.292638","type":"link in","z":"4c750faa.46a87","name":"Current Trigger Start","links":["22d44fc5.8ed7e","378568e2.276a08","9a942e31.8f73","a2e0918c.4fcb6"],"x":35,"y":420,"wires":[["b3e73ea1.63aa7"]]},{"id":"e215f865.fb36b8","type":"link out","z":"4c750faa.46a87","name":"","links":["afbd1980.23b6a8"],"x":375,"y":420,"wires":[]},{"id":"4a1b8196.da47e","type":"inject","z":"4c750faa.46a87","name":"manual start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":480,"wires":[["b3e73ea1.63aa7"]]},{"id":"787c33a1.6bc04c","type":"link out","z":"38adee8.5d04912","name":"delay out","links":["d0a635d6.9f8898"],"x":415,"y":1840,"wires":[]},{"id":"1f65c45a.e578bc","type":"delay","z":"4c750faa.46a87","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":140,"y":600,"wires":[["a2e0918c.4fcb6"]]},{"id":"a2e0918c.4fcb6","type":"link out","z":"4c750faa.46a87","name":"restart trigger","links":["631c08ff.292638"],"x":255,"y":600,"wires":[]},{"id":"d0a635d6.9f8898","type":"link in","z":"4c750faa.46a87","name":"delay in","links":["787c33a1.6bc04c"],"x":35,"y":600,"wires":[["1f65c45a.e578bc"]]},{"id":"638fabbd.3129b4","type":"function","z":"38adee8.5d04912","name":"","func":"var check = flow.get(\"startCond\")\nif (check === 0){\n    flow.set(\"startCond\",1)\n    flow.set(\"currentCond\",msg.payload)\n    return msg;\n}\nelse if (check === 1){\n    var pastTemp = flow.get(\"currentCond\")\n    if (pastTemp === msg.payload){\n        \n    }\n    else {\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":620,"wires":[["d3fcc921.76ca88"]]},{"id":"ca1cc0f2.9ff16","type":"function","z":"38adee8.5d04912","name":"Temp Change Check","func":"var check = flow.get(\"startTemp\")\nif (check === 0){\n    flow.set(\"startTemp\",1)\n    flow.set(\"currentTemp\",msg.payload)\n    return msg;\n}\nelse if (check === 1){\n    var pastTemp = flow.get(\"currentTemp\")\n    if (pastTemp === msg.payload){\n        \n    }\n    else {\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":960,"wires":[["9f272f27.48ecb"]]},{"id":"10f7d173.b8e5af","type":"comment","z":"4c750faa.46a87","name":"Save State Setup Lines","info":"","x":170,"y":720,"wires":[]},{"id":"788c9345.5752cc","type":"change","z":"4c750faa.46a87","name":"Save State 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":80,\"len\":80,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[1,0,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":0},{\"id\":2,\"start\":0,\"stop\":0},{\"id\":3,\"start\":0,\"stop\":0},{\"id\":4,\"start\":0,\"stop\":0},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":780,"wires":[["41c78e31.37212"]]},{"id":"5c5d2068.f04fd","type":"inject","z":"4c750faa.46a87","name":"Save State 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":780,"wires":[["788c9345.5752cc"]]},{"id":"77be848.4d1637c","type":"change","z":"4c750faa.46a87","name":"Save State 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":80,\"len\":80,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,1,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":0},{\"id\":2,\"start\":0,\"stop\":0},{\"id\":3,\"start\":0,\"stop\":0},{\"id\":4,\"start\":0,\"stop\":0},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":840,"wires":[["41c78e31.37212"]]},{"id":"3eba8b2.96ae674","type":"inject","z":"4c750faa.46a87","name":"Save State 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":840,"wires":[["77be848.4d1637c"]]},{"id":"1e2bdc36.591134","type":"change","z":"4c750faa.46a87","name":"Save State 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":80,\"len\":80,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,1],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":0},{\"id\":2,\"start\":0,\"stop\":0},{\"id\":3,\"start\":0,\"stop\":0},{\"id\":4,\"start\":0,\"stop\":0},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":900,"wires":[["41c78e31.37212"]]},{"id":"47d00ab4.d91194","type":"inject","z":"4c750faa.46a87","name":"Save State 3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":900,"wires":[["1e2bdc36.591134"]]},{"id":"41c78e31.37212","type":"link out","z":"4c750faa.46a87","name":"","links":["40a0bdd5.818974"],"x":435,"y":840,"wires":[]},{"id":"928fd529.9e1588","type":"comment","z":"4c750faa.46a87","name":"Current Condition polling interval","info":"","x":180,"y":380,"wires":[]},{"id":"868288ac.0ef1d8","type":"comment","z":"4c750faa.46a87","name":"Current Condition Reactivation Delay","info":"","x":200,"y":560,"wires":[]}]