files/flows rev B.json
[{"id":"daed06a2.17d7a8","type":"tab","label":"Weather Lamp rev B","disabled":false,"info":""},{"id":"f3eaecd9.2da25","type":"comment","z":"daed06a2.17d7a8","name":"Current Conditions Function","info":"","x":140,"y":900,"wires":[]},{"id":"e16232ae.5e69d","type":"link out","z":"daed06a2.17d7a8","name":"","links":["ceac9402.ed2af8","35d78b37.e5d434","47eb9a34.2af3e4"],"x":335,"y":940,"wires":[]},{"id":"88823334.8d464","type":"link in","z":"daed06a2.17d7a8","name":"","links":["d953cccf.27ac8","4429ecb5.66dc94","e99c25e5.e6afe8"],"x":415,"y":940,"wires":[["e185e310.ea26d","cdf60d4a.15dd9"]]},{"id":"e185e310.ea26d","type":"change","z":"daed06a2.17d7a8","name":"Weather Extraction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.textDescription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":920,"wires":[["4d909afd.359e24","4b4aec71.263ad4"]]},{"id":"cdf60d4a.15dd9","type":"change","z":"daed06a2.17d7a8","name":"Temp Extraction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.temperature.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":960,"wires":[["4d909afd.359e24","c18797e1.d9f828"]]},{"id":"6339129f.329c7c","type":"comment","z":"daed06a2.17d7a8","name":"Temp color handling","info":"","x":110,"y":1280,"wires":[]},{"id":"5d6383e7.fc330c","type":"comment","z":"daed06a2.17d7a8","name":"Animation selection","info":"","x":110,"y":2100,"wires":[]},{"id":"9a8a4f4a.06f7c","type":"comment","z":"daed06a2.17d7a8","name":"MQTT Handling","info":"","x":100,"y":1580,"wires":[]},{"id":"3e09f3f4.82af1c","type":"function","z":"daed06a2.17d7a8","name":"Description selection","func":"var daynight = flow.get(\"daynight\")\nvar riseset = flow.get(\"riseset\")\n\nif (msg.payload === \"Clear\" || msg.payload === \"Fair\" || msg.payload === \"Fair with Haze\" || msg.payload === \"Clear with Haze\" || msg.payload === \"Fair and Breezy\" || msg.payload === \"Clear and Breezy\" || msg.payload === \"A Few Clouds\" || msg.payload === \"A Few Clouds with Haze\" || msg.payload === \"A Few Clouds and Breezy\" || msg.payload === \"Mostly Clear\" || msg.payload === \"Sunny\"|| msg.payload === \"Mostly Sunny\"){\n\tif (daynight === \"day\" && riseset === \"none\"){\n\t\tmsg.payload = \"Clear\";\n\t}\n\telse if (daynight === \"night\" && riseset === \"none\"){\n\t\tmsg.payload = \"Night Clear\";\n\t}\n\telse if (riseset === \"rise\"){\n\t    msg.payload = \"Sunrise\"\n\t}\n\telse if (riseset === \"set\"){\n\t    msg.payload = \"Sunset\"\n\t}\n}\nelse if (msg.payload === \"Partly Cloudy\" || msg.payload === \"Partly Cloudy with Haze\" || msg.payload === \"Partly Cloudy and Breezy\" || msg.payload === \"Partly Sunny\"){\n    msg.payload = \"Partly Cloudy\";\n    if (riseset === \"rise\"){\n\t    msg.payload = \"Sunrise\"\n\t}\n\telse if (riseset === \"set\"){\n\t    msg.payload = \"Sunset\"\n\t}\n}\nelse if (msg.payload === \"Mostly Cloudy\" || msg.payload === \"Mostly Cloudy with Haze\" || msg.payload === \"Mostly Cloudy and Breezy\"){\n    msg.payload = \"Mostly Cloudy\";\n    if (riseset === \"rise\"){\n\t    msg.payload = \"Sunrise\"\n\t}\n\telse if (riseset === \"set\"){\n\t    msg.payload = \"Sunset\"\n\t}\n}\nelse if (msg.payload === \"Overcast\" || msg.payload === \"Overcast with Haze\" || msg.payload === \"Overcast and Breezy\" || msg.payload === \"Cloudy\"){\n    msg.payload = \"Overcast\";\n}\nelse if (msg.payload === \"Snow\" || msg.payload === \"Light Snow\" || msg.payload === \"Heavy Snow\" || msg.payload === \"Snow Showers\" || msg.payload === \"Light Snow Showers\" || msg.payload === \"Heavy Snow Showers\" || msg.payload === \"Showers Snow\" || msg.payload === \"Light Showers Snow\" || msg.payload === \"Heavy Showers Snow\" || msg.payload === \"Snow Fog/Mist\" || msg.payload === \"Light Snow Fog/Mist\" || msg.payload === \"Heavy Snow Fog/Mist\" || msg.payload === \"Snow Showers Fog/Mist\" || msg.payload === \"Light Snow Showers Fog/Mist\" || msg.payload === \"Heavy Snow Showers Fog/Mist\" || msg.payload === \"Showers Snow Fog/Mist\" || msg.payload === \"Light Showers Snow Fog/Mist\" || msg.payload === \"Heavy Showers Snow Fog/Mist\" || msg.payload === \"Snow Fog\" || msg.payload === \"Light Snow Fog\" || msg.payload === \"Heavy Snow Fog\" || msg.payload === \"Snow Showers Fog\" || msg.payload === \"Light Snow Showers Fog\" || msg.payload === \"Heavy Snow Showers Fog\" || msg.payload === \"Showers in Vicinity Snow\" || msg.payload === \"Snow Showers in Vicinity\" || msg.payload === \"Snow Showers in Vicinity Fog/Mist\" || msg.payload === \"Snow Showers in Vicinity Fog\" || msg.payload === \"Low Drifting Snow\" || msg.payload === \"Blowing Snow\" || msg.payload === \"Snow Low Drifting Snow\" || msg.payload === \"Snow Blowing Snow\" || msg.payload === \"Light Snow Low Drifting Snow\" || msg.payload === \"Light Snow Blowing Snow\" || msg.payload === \"Light Snow Blowing Snow Fog/Mist\" || msg.payload === \"Heavy Snow Low Drifting Snow\" || msg.payload === \"Heavy Snow Blowing Snow\" || msg.payload === \"Thunderstorm Snow\" || msg.payload === \"Light Thunderstorm Snow\" || msg.payload === \"Heavy Thunderstorm Snow\" || msg.payload === \"Snow Grains\" || msg.payload === \"Light Snow Grains\" || msg.payload === \"Heavy Snow Grains\" || msg.payload === \"Heavy Blowing Snow\" || msg.payload === \"Blowing Snow in Vicinity\"){\n    msg.payload = \"Snow\";\n}\nelse if (msg.payload === \"Rain Snow\" || msg.payload === \"Light Rain Snow\" || msg.payload === \"Heavy Rain Snow\" || msg.payload === \"Snow Rain\" || msg.payload === \"Light Snow Rain\" || msg.payload === \"Heavy Snow Rain\" || msg.payload === \"Drizzle Snow\" || msg.payload === \"Light Drizzle Snow\" || msg.payload === \"Heavy Drizzle Snow\" || msg.payload === \"Snow Drizzle\" || msg.payload === \"Light Snow Drizzle\" || msg.payload === \"Heavy Drizzle Snow\") {\n    msg.payload = \"Rain Snow\";\n}\n\nelse if (msg.payload === \"Freezing Rain Rain\" || msg.payload === \"Light Freezing Rain Rain\" || msg.payload === \"Heavy Freezing Rain Rain\" || msg.payload === \"Rain Freezing Rain\" || msg.payload === \"Light Rain Freezing Rain\" || msg.payload === \"Heavy Rain Freezing Rain\" || msg.payload === \"Freezing Drizzle Rain\" || msg.payload === \"Light Freezing Drizzle Rain\" || msg.payload === \"Heavy Freezing Drizzle Rain\" || msg.payload === \"Rain Freezing Drizzle\" || msg.payload === \"Light Rain Freezing Drizzle\" || msg.payload === \"Heavy Rain Freezing Drizzle\" || msg.payload === \"Freezing Rain\" || msg.payload === \"Freezing Drizzle\" || msg.payload === \"Light Freezing Rain\" || msg.payload === \"Light Freezing Drizzle\" || msg.payload === \"Heavy Freezing Rain\" || msg.payload === \"Heavy Freezing Drizzle\" || msg.payload === \"Freezing Rain in Vicinity\" || msg.payload === \"Freezing Drizzle in Vicinity\" || msg.payload === \"Freezing Rain Snow\" || msg.payload === \"Light Freezing Rain Snow\" || msg.payload === \"Heavy Freezing Rain Snow\" || msg.payload === \"Freezing Drizzle Snow\" || msg.payload === \"Light Freezing Drizzle Snow\" || msg.payload === \"Heavy Freezing Drizzle Snow\" || msg.payload === \"Snow Freezing Rain\" || msg.payload === \"Light Snow Freezing Rain\" || msg.payload === \"Heavy Snow Freezing Rain\" || msg.payload === \"Snow Freezing Drizzle\" || msg.payload === \"Light Snow Freezing Drizzle\" || msg.payload === \"Heavy Snow Freezing Drizzle\"){\n    msg.payload = \"Freezing Rain\";\n}\n\nelse if (msg.payload === \"Ice Pellets\" || msg.payload === \"Light Ice Pellets\" || msg.payload === \"Heavy Ice Pellets\" || msg.payload === \"Ice Pellets in Vicinity\" || msg.payload === \"Showers Ice Pellets\" || msg.payload === \"Thunderstorm Ice Pellets\" || msg.payload === \"Ice Crystals\" || msg.payload === \"Hail\" || msg.payload === \"Small Hail/Snow Pellets\" || msg.payload === \"Light Small Hail/Snow Pellets\" || msg.payload === \"Heavy small Hail/Snow Pellets\" || msg.payload === \"Showers Hail\" || msg.payload === \"Hail Showers\" || msg.payload === \"Rain Ice Pellets\" || msg.payload === \"Light Rain Ice Pellets\" || msg.payload === \"Heavy Rain Ice Pellets\" || msg.payload === \"Drizzle Ice Pellets\" || msg.payload === \"Light Drizzle Ice Pellets\" || msg.payload === \"Heavy Drizzle Ice Pellets\" || msg.payload === \"Ice Pellets Rain\" || msg.payload === \"Light Ice Pellets Rain\" || msg.payload === \"Heavy Ice Pellets Rain\" || msg.payload === \"Ice Pellets Drizzle\" || msg.payload === \"Light Ice Pellets Drizzle\" || msg.payload === \"Heavy Ice Pellets Drizzle\" || msg.payload === \"Snow Ice Pellets\"){\n    msg.payload = \"Ice Pellets\";\n}\n\nelse if (msg.payload === \"Rain\" || msg.payload === \"Heavy Rain\" || msg.payload === \"Rain Fog/Mist\" || msg.payload === \"Heavy Rain Fog/Mist\" || msg.payload === \"Rain Fog\" || msg.payload === \"Heavy Rain Fog\"){\n    msg.payload = \"Rain\";\n}\nelse if (msg.payload === \"Rain Showers\" || msg.payload === \"Light Rain Showers\" || msg.payload === \"Light Rain and Breezy\" || msg.payload === \"Heavy Rain Showers\" || msg.payload === \"Rain Showers in Vicinity\" || msg.payload === \"Light Showers Rain\" || msg.payload === \"Heavy Showers Rain\" || msg.payload === \"Showers Rain\" || msg.payload === \"Showers Rain in Vicinity\" || msg.payload === \"Rain Showers Fog/Mist\" || msg.payload === \"Light Rain Showers Fog/Mist\" || msg.payload === \"Heavy Rain Showers Fog/Mist\" || msg.payload === \"Rain Showers in Vicinity Fog/Mist\" || msg.payload === \"Light Showers Rain Fog/Mist\" || msg.payload === \"Heavy Showers Rain Fog/Mist\" || msg.payload === \"Showers Rain Fog/Mist\" || msg.payload === \"Showers Rain in Vicinity Fog/Mist\" || msg.payload === \"Light Rain\" || msg.payload === \"Drizzle\" || msg.payload === \"Light Drizzle\" || msg.payload === \"Heavy Drizzle\" || msg.payload === \"Light Rain Fog/Mist\" || msg.payload === \"Light Drizzle Fog/Mist\" || msg.payload === \"Light Rain Fog\" || msg.payload === \"Light Drizzle Fog\" || msg.payload === \"Heavy Drizzle Fog\" || msg.payload === \"Showers in Vicinity\" || msg.payload === \"Showers in Vicinity Fog/Mist\" || msg.payload === \"Showers in Vicinity Fog\" || msg.payload === \"Showers in Vicinity Haze\"){\n    msg.payload = \"Light Rain\";\n}\n else if (msg.payload === \"Thunderstorm\" || msg.payload === \"Thunderstorm Rain\" || msg.payload === \"Light Thunderstorm Rain\" || msg.payload === \"Heavy Thunderstorm Rain\" || msg.payload === \"Thunderstorm Rain Fog/Mist\" || msg.payload === \"Light Thunderstorm Rain Fog/Mist\" || msg.payload === \"Heavy Thunderstorm Rain Fog and Windy\" || msg.payload === \"Heavy Thunderstorm Rain Fog/Mist\" || msg.payload === \"Thunderstorm Showers in Vicinity\" || msg.payload === \"Light Thunderstorm Rain Haze\" || msg.payload === \"Heavy Thunderstorm Rain Haze\" || msg.payload === \"Thunderstorm Fog\" || msg.payload === \"Light Thunderstorm Rain Fog\" || msg.payload === \"Heavy Thunderstorm Rain Fog\" || msg.payload === \"Thunderstorm Light Rain\" || msg.payload === \"Thunderstorm Heavy Rain\" || msg.payload === \"Thunderstorm Rain Fog/Mist\" || msg.payload === \"Thunderstorm Light Rain Fog/Mist\" || msg.payload === \"Thunderstorm Heavy Rain Fog/Mist\" || msg.payload === \"Thunderstorm in Vicinity Fog/Mist\" || msg.payload === \"Thunderstorm Showers in Vicinity\" || msg.payload === \"Thunderstorm in Vicinity Haze\" || msg.payload === \"Thunderstorm Haze in Vicinity\" || msg.payload === \"Thunderstorm Light Rain Haze\" || msg.payload === \"Thunderstorm Heavy Rain Haze\" || msg.payload === \"Thunderstorm Fog\" || msg.payload === \"Thunderstorm Light Rain Fog\" || msg.payload === \"Thunderstorm Heavy Rain Fog\" || msg.payload === \"Thunderstorm Hail\" || msg.payload === \"Light Thunderstorm Rain Hail\" || msg.payload === \"Heavy Thunderstorm Rain Hail\" || msg.payload === \"Thunderstorm Rain Hail Fog/Mist\" || msg.payload === \"Light Thunderstorm Rain Hail Fog/Mist\" || msg.payload === \"Heavy Thunderstorm Rain Hail Fog/Hail\" || msg.payload === \"Thunderstorm Showers in Vicinity Hail\" || msg.payload === \"Light Thunderstorm Rain Hail Haze\" || msg.payload === \"Heavy Thunderstorm Rain Hail Haze\" || msg.payload === \"Thunderstorm Hail Fog\" || msg.payload === \"Light Thunderstorm Rain Hail Fog\" || msg.payload === \"Heavy Thunderstorm Rain Hail Fog\" || msg.payload === \"Thunderstorm Light Rain Hail\" || msg.payload === \"Thunderstorm Heavy Rain Hail\" || msg.payload === \"Thunderstorm Rain Hail Fog/Mist\" || msg.payload === \"Thunderstorm Light Rain Hail Fog/Mist\" || msg.payload === \"Thunderstorm Heavy Rain Hail Fog/Mist\" || msg.payload === \"Thunderstorm in Vicinity Hail\" || msg.payload === \"Thunderstorm in Vicinity Hail Haze\" || msg.payload === \"Thunderstorm Haze in Vicinity Hail\" || msg.payload === \"Thunderstorm Light Rain Hail Haze\" || msg.payload === \"Thunderstorm Heavy Rain Hail Haze\" || msg.payload === \"Thunderstorm Hail Fog\" || msg.payload === \"Thunderstorm Light Rain Hail Fog\" || msg.payload === \"Thunderstorm Heavy Rain Hail Fog\" || msg.payload === \"Thunderstorm Small Hail/Snow Pellets\" || msg.payload === \"Thunderstorm Rain Small Hail/Snow Pellets\" || msg.payload === \"Light Thunderstorm Rain Small Hail/Snow Pellets\" || msg.payload === \"Heavy Thunderstorm Rain Small Hail/Snow Pellets\" || msg.payload === \"Thunder\" || msg.payload === \"Thunderstorms\" || msg.payload === \"Thunderstorm in Vicinity\" || msg.payload === \"Thunderstorm in Vicinity\" || msg.payload === \"Thunderstorm in Vicinity Fog\" || msg.payload === \"Thunderstorm in Vicinity Haze\"){\n    msg.payload = \"Thunder\";\n}\nelse if (msg.payload === \"Funnel Cloud\" || msg.payload === \"Funnel Cloud in Vicinity\" || msg.payload === \"Tornado/Water Spout\" || msg.payload === \"Tornado\"){\n    msg.payload = \"Tornado\";\n}\nelse if (msg.payload === \"Hurricane Warning\" || msg.payload === \"Tropical Storm Conditions presently exist w/Hurricane Warning in effect\"){\n    msg.payload = \"Hurricane Warning\";\n}\nelse if (msg.payload === \"Hurricane Watch\"){\n    msg.payload = \"Hurricane Watch\";\n}\nelse if (msg.payload === \"Tropical Storm Warning\"){\n    msg.payload = \"Tropical Storm Warning\";\n}\nelse if (msg.payload === \"Tropical Storm Watch\"){\n    msg.payload = \"Tropical Storm Watch\";\n}\n\nelse if (msg.payload === \"Windy\" || msg.payload === \"Breezy\" || msg.payload === \"Fair and Windy\" || msg.payload === \"A Few Clouds and Windy\"){\n    msg.payload = \"Windy\";\n}\nelse if (msg.payload === \"Partly Cloudy and Windy\"){\n    msg.payload = \"Partly Cloudy Windy\";\n}\nelse if (msg.payload === \"Mostly Cloudy and Windy\"){\n    msg.payload = \"Mostly Cloudy Windy\";\n}\nelse if (msg.payload === \"Overcast and Windy\"){\n    msg.payload = \"Overcast Windy\";\n}\nelse if (msg.payload === \"Dust\" || msg.payload === \"Low Drifting Dust\" || msg.payload === \"Blowing Dust\" || msg.payload === \"Sand\" || msg.payload === \"Blowing Sand\" || msg.payload === \"Low Drifting Sand\" || msg.payload === \"Dust/Sand Whirls\" || msg.payload === \"Dust/Sand Whirls in Vicinity\" || msg.payload === \"Dust Storm\" || msg.payload === \"Heavy Dust Storm\" || msg.payload === \"Dust Storm in Vicinity\" || msg.payload === \"Sand Storm\" || msg.payload === \"Heavy Sand Storm\" || msg.payload === \"Sand Storm in Vicinity\"){\n    msg.payload = \"Dust\";\n}\nelse if (msg.payload === \"Smoke\"){\n    msg.payload = \"Smoke\";\n}\nelse if (msg.payload === \"Haze\"){\n    msg.payload = \"Haze\";\n}\nelse if (msg.payload === \"Hot\"){\n    msg.payload = \"Hot\";\n}\nelse if (msg.payload === \"Cold\"){\n    msg.payload = \"Cold\";\n}\nelse if (msg.payload === \"Blizzard\"){\n    msg.payload = \"Blizzard\";\n}\nelse if (msg.payload === \"Fog/Mist\" || msg.payload === \"Patchy Fog\" || msg.payload === \"Fog\" || msg.payload === \"Freezing Fog\" || msg.payload === \"Shallow Fog\" || msg.payload === \"Partial Fog\" || msg.payload === \"Patches of Fog\" || msg.payload === \"Fog in Vicinity\" || msg.payload === \"Freezing Fog in Vicinity\" || msg.payload === \"Shallow Fog in Vicinity\" || msg.payload === \"Partial Fog in Vicinity\" || msg.payload === \"Patches of Fog in Vicinity\" || msg.payload === \"Showers in Vicinity Fog\" || msg.payload === \"Light Freezing Fog\" || msg.payload === \"Heavy Freezing Fog\"){\n    msg.payload = \"Fog\";\n}\nelse {\n\tmsg.payload = \"Unknown\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":2140,"wires":[["80a3e5c9.6bfbb8","2dfc1744.1c1b38"]]},{"id":"a1adb00a.bb104","type":"switch","z":"daed06a2.17d7a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Hot","vt":"str"},{"t":"eq","v":"Cold","vt":"str"},{"t":"eq","v":"Rain","vt":"str"},{"t":"eq","v":"Light Rain","vt":"str"},{"t":"eq","v":"Clear","vt":"str"},{"t":"eq","v":"Partly Cloudy","vt":"str"},{"t":"eq","v":"Mostly Cloudy","vt":"str"},{"t":"eq","v":"Overcast","vt":"str"},{"t":"eq","v":"Thunder","vt":"str"},{"t":"eq","v":"Thunder Night","vt":"str"},{"t":"eq","v":"Blizzard","vt":"str"},{"t":"eq","v":"Snow","vt":"str"},{"t":"eq","v":"Unknown","vt":"str"},{"t":"eq","v":"Fog","vt":"str"},{"t":"eq","v":"Tornado","vt":"str"},{"t":"eq","v":"Hurricane Warning","vt":"str"},{"t":"eq","v":"Dust","vt":"str"},{"t":"eq","v":"Night Clear","vt":"str"},{"t":"eq","v":"Sunset","vt":"str"},{"t":"eq","v":"Sunrise","vt":"str"},{"t":"eq","v":"Danger","vt":"str"}],"checkall":"true","repair":false,"outputs":21,"x":530,"y":2340,"wires":[["d856f890.0d9218"],["2df9d2a8.d753ee"],["f1624609.a8cb98"],["d913b60b.3785f8"],["dd964beb.f1c978"],["4644b086.3c597"],["73a7a5d1.767edc"],["9f6a0955.72a3c8"],["57beff77.8e8c6"],["3457f9f9.d27f46"],["812bdbc6.04ad88"],["8db46c72.02753"],["391321f.19764de"],["b6509f0b.60c41"],["1b4308a2.efcdd7"],["64a12b94.013434"],["e2466d3b.669d5"],["b454826d.a303e"],["dbcbe624.498ec8"],["67ca0211.42d93c"],["ba5af1d9.e116a"]]},{"id":"d856f890.0d9218","type":"change","z":"daed06a2.17d7a8","name":"Hot","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[255,208,0],[255,121,18],[0,0,0]],\"fx\":2,\"sx\":45,\"ix\":109,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":18,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":4,\"start\":22,\"stop\":28,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":32,\"stop\":38,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":42,\"stop\":48,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":52,\"stop\":58,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":8,\"start\":62,\"stop\":68,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":9,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":0,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":2140,"wires":[["2761f753.627a58"]]},{"id":"2df9d2a8.d753ee","type":"change","z":"daed06a2.17d7a8","name":"Cold","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[49,179,255],[0,9,189],[0,0,0]],\"fx\":2,\"sx\":45,\"ix\":109,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":18,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":4,\"start\":22,\"stop\":28,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":32,\"stop\":38,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":42,\"stop\":48,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":52,\"stop\":58,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":8,\"start\":62,\"stop\":68,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":9,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":0,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":2140,"wires":[["2761f753.627a58"]]},{"id":"f1624609.a8cb98","type":"change","z":"daed06a2.17d7a8","name":"Rain","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[32,118,168],[107,116,120],[0,0,0]],\"fx\":2,\"sx\":45,\"ix\":40,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":18,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":4,\"start\":22,\"stop\":28,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":32,\"stop\":38,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":42,\"stop\":48,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":52,\"stop\":58,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":8,\"start\":62,\"stop\":68,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":9,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":2180,"wires":[["2761f753.627a58"]]},{"id":"d913b60b.3785f8","type":"change","z":"daed06a2.17d7a8","name":"Light Rain","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[32,118,168],[107,116,120],[0,0,0]],\"fx\":2,\"sx\":45,\"ix\":40,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":18,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":4,\"start\":22,\"stop\":28,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":32,\"stop\":38,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":42,\"stop\":48,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":52,\"stop\":58,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":8,\"start\":62,\"stop\":68,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":9,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":2180,"wires":[["2761f753.627a58"]]},{"id":"dd964beb.f1c978","type":"change","z":"daed06a2.17d7a8","name":"Clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":2,\"sx\":23,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[240,255,145],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":true,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":2,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":2220,"wires":[["2761f753.627a58"]]},{"id":"4644b086.3c597","type":"change","z":"daed06a2.17d7a8","name":"Partly Cloudy","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[43,132,255],[84,187,232],[0,0,0]],\"fx\":2,\"sx\":23,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[240,255,145],[171,171,171],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":2220,"wires":[["2761f753.627a58"]]},{"id":"73a7a5d1.767edc","type":"change","z":"daed06a2.17d7a8","name":"Mostly Cloudy","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[79,146,255],[150,148,156],[0,0,0]],\"fx\":15,\"sx\":19,\"ix\":45,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[240,255,145],[171,171,171],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":2260,"wires":[["2761f753.627a58"]]},{"id":"9f6a0955.72a3c8","type":"change","z":"daed06a2.17d7a8","name":"Overcast","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[161,164,191],[105,104,110],[0,0,0]],\"fx\":15,\"sx\":19,\"ix\":45,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[151,153,107],[171,171,171],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[130,136,158],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[130,136,158],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":2260,"wires":[["2761f753.627a58"]]},{"id":"57beff77.8e8c6","type":"change","z":"daed06a2.17d7a8","name":"Thunder","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[43,43,43],[0,0,0]],\"fx\":57,\"sx\":145,\"ix\":119,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[48,48,48],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":2300,"wires":[["2761f753.627a58"]]},{"id":"3457f9f9.d27f46","type":"change","z":"daed06a2.17d7a8","name":"Thunder Night","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,115],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,115],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":57,\"sx\":145,\"ix\":119,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":2300,"wires":[["2761f753.627a58"]]},{"id":"812bdbc6.04ad88","type":"change","z":"daed06a2.17d7a8","name":"Blizzard","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[128,128,128],[224,224,224],[0,0,0]],\"fx\":80,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[128,128,128],[224,224,224],[0,0,0]],\"fx\":80,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[207,207,207],[128,128,128],[0,0,0]],\"fx\":15,\"sx\":133,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[128,128,128],[224,224,224],[0,0,0]],\"fx\":80,\"sx\":190,\"ix\":171,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":2340,"wires":[["2761f753.627a58"]]},{"id":"8db46c72.02753","type":"change","z":"daed06a2.17d7a8","name":"Snow","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":10,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":10,\"stop\":18,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":3,\"start\":22,\"stop\":30,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":30,\"stop\":38,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":5,\"start\":42,\"stop\":50,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":6,\"start\":50,\"stop\":58,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":7,\"start\":62,\"stop\":70,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":8,\"start\":70,\"stop\":80,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":2340,"wires":[["2761f753.627a58"]]},{"id":"391321f.19764de","type":"change","z":"daed06a2.17d7a8","name":"Unknown","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":10,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":10,\"stop\":18,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":3,\"start\":22,\"stop\":30,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":30,\"stop\":38,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":5,\"start\":42,\"stop\":50,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":6,\"start\":50,\"stop\":58,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":7,\"start\":62,\"stop\":70,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":8,\"start\":70,\"stop\":80,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":2380,"wires":[["2761f753.627a58"]]},{"id":"2761f753.627a58","type":"link out","z":"daed06a2.17d7a8","name":"","links":["ac6af46.7d2bb08","3acaa702.6c8698","6b1d0e84.8cadc"],"x":1155,"y":2460,"wires":[]},{"id":"9f444b77.c9f448","type":"link out","z":"daed06a2.17d7a8","name":"","links":["2d9d5f2c.43e11"],"x":915,"y":900,"wires":[]},{"id":"2d9d5f2c.43e11","type":"link in","z":"daed06a2.17d7a8","name":"Animation Selection In","links":["9f444b77.c9f448","abdfd6e4.ae06a8","f1996baa.bf5a88"],"x":35,"y":2140,"wires":[["3e09f3f4.82af1c"]]},{"id":"1e4c4b5a.0bc075","type":"inject","z":"daed06a2.17d7a8","name":"Manual Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1000,"wires":[["9fa7e7c3.d76258"]]},{"id":"4d909afd.359e24","type":"debug","z":"daed06a2.17d7a8","name":"Latest Conditions","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":940,"wires":[]},{"id":"47f66c29.0d3274","type":"debug","z":"daed06a2.17d7a8","name":"Animation Select","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":2300,"wires":[]},{"id":"711280f7.77d38","type":"link out","z":"daed06a2.17d7a8","name":"","links":["49b2acff.6303e4"],"x":855,"y":980,"wires":[]},{"id":"49b2acff.6303e4","type":"link in","z":"daed06a2.17d7a8","name":"current in","links":["711280f7.77d38"],"x":35,"y":1320,"wires":[["b3031f17.935b9"]]},{"id":"b3031f17.935b9","type":"function","z":"daed06a2.17d7a8","name":"C to F","func":"var tempC = msg.payload;\n\nif (tempC === \"null\"){\n    tempC = flow.get(\"lasttempC\")\n}\nelse {\n    flow.set(\"lasttempC\",tempC)\n}\n\nvar tempF = (tempC*1.8)+32;\nmsg.payload = tempF;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":1320,"wires":[["e65972b4.1b6da","f5237e1f.303d8"]]},{"id":"f5237e1f.303d8","type":"function","z":"daed06a2.17d7a8","name":"Temp to Hue","func":"var TempF = msg.payload\nvar Hue = [0,100,100];\nvar hue = -(0.0000000851493794154907*(Math.pow(TempF,5)))+(0.0000136269369035499*(Math.pow(TempF,4)))-(0.00000489267815373005*(Math.pow(TempF,3)))-(0.0571454349276795*(Math.pow(TempF,2)))-(1.76044127906889*(TempF))+264.176768774735\nHue[0] = hue\nvar daynight = flow.get(\"daynight\")\nif (daynight === \"day\"){\n    Hue[2] = 100\n}\nelse if (daynight === \"night\"){\n    Hue[2] = 40\n}\nmsg.payload = Hue\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":1320,"wires":[["fbc67b7b.d0ac38","5a022824.4f89d8"]]},{"id":"fbc67b7b.d0ac38","type":"color-convert","z":"daed06a2.17d7a8","input":"hsv","output":"rgb","outputType":"array","scaleInput":false,"x":470,"y":1320,"wires":[["e257ed32.16869","396c4f0b.352af"]]},{"id":"50314ebe.5867d","type":"function","z":"daed06a2.17d7a8","name":"form message","func":"var temp = msg.payload;\nvar message =  '{\"mainseg\":0,\"seg\":[{\"id\":0,\"col\":[['\nvar num = temp[0];\nvar n = num.toString();\nmessage = message.concat(n);\nnum = temp[1];\nn = num.toString();\nvar m = \",\";\nmessage = message.concat(m);\nmessage = message.concat(n);\nmessage = message.concat(m);\nnum = temp[2];\nn = num.toString();\nmessage = message.concat(n);\nvar p = \"],[0,0,0],[0,0,0]]}]}\"\nvar mess = message.concat(p)\nmsg.payload = mess;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":1300,"wires":[["8a2ff644.26fcd8","5761c51b.a6bfcc"]]},{"id":"8a2ff644.26fcd8","type":"debug","z":"daed06a2.17d7a8","name":"Tri Color Message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":1360,"wires":[]},{"id":"5761c51b.a6bfcc","type":"link out","z":"daed06a2.17d7a8","name":"","links":["ac6af46.7d2bb08","3acaa702.6c8698","6b1d0e84.8cadc"],"x":1195,"y":1300,"wires":[]},{"id":"5fbbd906.8b4df8","type":"link in","z":"daed06a2.17d7a8","name":"MQTT In","links":["74126363.a731ec","726c834c.45276c","1ae3a3c8.483bcc"],"x":35,"y":1760,"wires":[["5fe00571.0edbdc"]]},{"id":"728ee20.dec402","type":"comment","z":"daed06a2.17d7a8","name":"Forecast Mode","info":"","x":320,"y":1720,"wires":[]},{"id":"13476098.95b01f","type":"comment","z":"daed06a2.17d7a8","name":"Temp Band Mode","info":"","x":320,"y":1840,"wires":[]},{"id":"f4904bc2.0b0ea8","type":"comment","z":"daed06a2.17d7a8","name":"Startup","info":"","x":290,"y":1600,"wires":[]},{"id":"5fe00571.0edbdc","type":"switch","z":"daed06a2.17d7a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"#010000","vt":"str"},{"t":"eq","v":"#000100","vt":"str"},{"t":"eq","v":"#000001","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":130,"y":1760,"wires":[["fad98ea3.5851e"],["db0b003d.d6ea6"],["17d89cd4.6e1dd3"]]},{"id":"fad98ea3.5851e","type":"change","z":"daed06a2.17d7a8","name":"set to timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1640,"wires":[["8ac5ac93.265ab","7d539db1.c9ac64"]]},{"id":"8ac5ac93.265ab","type":"link out","z":"daed06a2.17d7a8","name":"Startup Propmpt","links":["be8485f7.c87118","5f107e2d.cc0cb"],"x":455,"y":1640,"wires":[]},{"id":"503b4bf.6a049b4","type":"link in","z":"daed06a2.17d7a8","name":"forecast in","links":["4660bd86.20b654","9a7f1bd5.82dc98","49569c4a.4d26b4"],"x":55,"y":1100,"wires":[["fa610eeb.54413","239247ba.bd7278"]]},{"id":"fa610eeb.54413","type":"change","z":"daed06a2.17d7a8","name":"Weather Extraction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.periods[2].shortForecast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":1160,"wires":[["e8304ac1.130ed8","76970e2.75afbf"]]},{"id":"239247ba.bd7278","type":"change","z":"daed06a2.17d7a8","name":"Temp Extraction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.periods[2].temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":1100,"wires":[["e8304ac1.130ed8","4a320f3a.f261f"]]},{"id":"abdfd6e4.ae06a8","type":"link out","z":"daed06a2.17d7a8","name":"","links":["2d9d5f2c.43e11"],"x":775,"y":1140,"wires":[]},{"id":"e8304ac1.130ed8","type":"debug","z":"daed06a2.17d7a8","name":"Forecast","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":1140,"wires":[]},{"id":"5e30a23c.600efc","type":"link out","z":"daed06a2.17d7a8","name":"","links":["a76a2853.4d3908"],"x":675,"y":1100,"wires":[]},{"id":"d0209ccc.703da","type":"comment","z":"daed06a2.17d7a8","name":"Forecast Parsing","info":"","x":100,"y":1060,"wires":[]},{"id":"a76a2853.4d3908","type":"link in","z":"daed06a2.17d7a8","name":"Forecast in","links":["5e30a23c.600efc","c1af6976.967bc8"],"x":135,"y":1360,"wires":[["f5237e1f.303d8"]]},{"id":"62b9b02c.83c4c","type":"change","z":"daed06a2.17d7a8","name":"reset message","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":2020,"wires":[["f7133821.fb6698"]]},{"id":"db0b003d.d6ea6","type":"change","z":"daed06a2.17d7a8","name":"set to timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1760,"wires":[["62b9b02c.83c4c","489f2bfe.9894a4","47363c84.b85164"]]},{"id":"3ce1770b.6a5668","type":"link out","z":"daed06a2.17d7a8","name":"forecast trigger","links":["7753a37f.d08c3c","b7b1d0b8.25939","97c6e0cd.66324"],"x":855,"y":1760,"wires":[]},{"id":"f7133821.fb6698","type":"link out","z":"daed06a2.17d7a8","name":"reset trigger","links":["7315d754.8b49e8","be8485f7.c87118"],"x":675,"y":2020,"wires":[]},{"id":"417cd115.dc7b2","type":"comment","z":"daed06a2.17d7a8","name":"Tri Band Function","info":"","x":100,"y":1440,"wires":[]},{"id":"489f2bfe.9894a4","type":"change","z":"daed06a2.17d7a8","name":"","rules":[{"t":"set","p":"source","pt":"msg","to":"forecast","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1760,"wires":[["b42aab11.babef8","76691870.1e7498"]]},{"id":"dd267ba9.ade4c8","type":"change","z":"daed06a2.17d7a8","name":"","rules":[{"t":"set","p":"source","pt":"msg","to":"tricolor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1880,"wires":[["ca30f3c3.b125","252a58e0.423218"]]},{"id":"a33a266d.633f78","type":"link in","z":"daed06a2.17d7a8","name":"tricolor in","links":["196b2c4b.dfc514","92ff5880.320378","fcf09faa.354d4"],"x":35,"y":1480,"wires":[["ac541138.f719"]]},{"id":"9fa7e7c3.d76258","type":"function","z":"daed06a2.17d7a8","name":"Set User Agent ","func":"msg.headers = {};\nmsg.headers['USER-AGENT'] = 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":940,"wires":[["e16232ae.5e69d"]]},{"id":"b42aab11.babef8","type":"function","z":"daed06a2.17d7a8","name":"Set User Agent ","func":"msg.headers = {};\nmsg.headers['USER-AGENT'] = 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1760,"wires":[["3ce1770b.6a5668"]]},{"id":"ca30f3c3.b125","type":"function","z":"daed06a2.17d7a8","name":"Set User Agent ","func":"msg.headers = {};\nmsg.headers['USER-AGENT'] = 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1880,"wires":[["232f7bfe.6bc4b4"]]},{"id":"17d89cd4.6e1dd3","type":"change","z":"daed06a2.17d7a8","name":"set to timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1880,"wires":[["dd267ba9.ade4c8","62b9b02c.83c4c","47363c84.b85164"]]},{"id":"232f7bfe.6bc4b4","type":"link out","z":"daed06a2.17d7a8","name":"forecast trigger","links":["7753a37f.d08c3c","b7b1d0b8.25939","97c6e0cd.66324"],"x":855,"y":1880,"wires":[]},{"id":"132ac450.a7475c","type":"comment","z":"daed06a2.17d7a8","name":"Current Condition Trigger pause/restart","info":"","x":630,"y":1980,"wires":[]},{"id":"ac541138.f719","type":"function","z":"daed06a2.17d7a8","name":"Temperature Message Split","func":"var temp1 = msg.payload.properties.periods[0].temperature\nvar temp2 = msg.payload.properties.periods[1].temperature\nvar temp3 = msg.payload.properties.periods[2].temperature\nvar msg1 = {}\nvar msg2 = {}\nvar msg3 = {}\nmsg1.payload = temp1\nmsg2.payload = temp2\nmsg3.payload = temp3\nreturn [[msg1,msg2,msg3]]\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":1480,"wires":[["bb04d661.a711c8","1db3b6fe.9e0d19"]]},{"id":"7b783f88.91f29","type":"inject","z":"daed06a2.17d7a8","name":"Manual Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1820,"wires":[["db0b003d.d6ea6"]]},{"id":"4a320f3a.f261f","type":"change","z":"daed06a2.17d7a8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"single","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1100,"wires":[["dc089d3.cf7576"]]},{"id":"c18797e1.d9f828","type":"change","z":"daed06a2.17d7a8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"single","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":980,"wires":[["711280f7.77d38"]]},{"id":"bb04d661.a711c8","type":"change","z":"daed06a2.17d7a8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"tri","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1480,"wires":[["c1af6976.967bc8"]]},{"id":"c1af6976.967bc8","type":"link out","z":"daed06a2.17d7a8","name":"","links":["a76a2853.4d3908"],"x":535,"y":1480,"wires":[]},{"id":"e257ed32.16869","type":"switch","z":"daed06a2.17d7a8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"tri","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":1320,"wires":[["f7742261.cbbd6","d0f1b139.4918e"],["33fa3220.d1550e"]]},{"id":"33fa3220.d1550e","type":"link out","z":"daed06a2.17d7a8","name":"","links":["1d57cb9a.d7a0d4"],"x":795,"y":1340,"wires":[]},{"id":"1d57cb9a.d7a0d4","type":"link in","z":"daed06a2.17d7a8","name":"","links":["33fa3220.d1550e"],"x":595,"y":1480,"wires":[["88c89158.a62cf"]]},{"id":"11d6767f.e55aaa","type":"debug","z":"daed06a2.17d7a8","name":"tri color formed message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":1520,"wires":[]},{"id":"ad8fb942.6e7608","type":"inject","z":"daed06a2.17d7a8","name":"Manual Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1880,"wires":[["17d89cd4.6e1dd3"]]},{"id":"e65972b4.1b6da","type":"debug","z":"daed06a2.17d7a8","name":"c to f","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":1360,"wires":[]},{"id":"5a022824.4f89d8","type":"debug","z":"daed06a2.17d7a8","name":"temp to hue","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":1360,"wires":[]},{"id":"396c4f0b.352af","type":"debug","z":"daed06a2.17d7a8","name":"hsv to rgb","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":1360,"wires":[]},{"id":"1db3b6fe.9e0d19","type":"debug","z":"daed06a2.17d7a8","name":"tri function","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":1520,"wires":[]},{"id":"88c89158.a62cf","type":"join","z":"daed06a2.17d7a8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"-","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1480,"wires":[["af7eb40.0e1415"]]},{"id":"af7eb40.0e1415","type":"function","z":"daed06a2.17d7a8","name":"Message Forming","func":"var bands = msg.payload.split(\"-\")\nvar message = '{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(bands[0])\nvar next = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":125,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":17,\"stop\":79,\"len\":62,\"grp\":6,\"spc\":14,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(next)\nmessage = message.concat(bands[0])\nnext = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":125,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":3,\"stop\":79,\"len\":76,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(next)\nmessage = message.concat(bands[1])\nnext = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":125,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":13,\"stop\":79,\"len\":66,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(next)\nmessage = message.concat(bands[1])\nnext = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":125,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":7,\"stop\":79,\"len\":72,\"grp\":6,\"spc\":14,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(next)\nmessage = message.concat(bands[2])\nnext = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}'\nmessage = message.concat(next)\nmsg.payload = message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":1480,"wires":[["11d6767f.e55aaa","af07a45a.c23698"]]},{"id":"af07a45a.c23698","type":"link out","z":"daed06a2.17d7a8","name":"Tri-Color-json_out","links":["ac6af46.7d2bb08","3acaa702.6c8698","6b1d0e84.8cadc"],"x":1035,"y":1480,"wires":[]},{"id":"7d539db1.c9ac64","type":"function","z":"daed06a2.17d7a8","name":"Set Startup Variables","func":"flow.set(\"startTemp\",0)\nflow.set(\"startCond\",0)\nflow.set(\"currentCond\",\"startup\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1680,"wires":[[]]},{"id":"3cf0cbde.0c4534","type":"inject","z":"daed06a2.17d7a8","name":"First Start Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":1680,"wires":[["7d539db1.c9ac64"]]},{"id":"76691870.1e7498","type":"function","z":"daed06a2.17d7a8","name":"Check Variables","func":"var startTemp = flow.set(\"startTemp\",0)\nvar startCond = flow.set(\"startCond\",0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1800,"wires":[[]]},{"id":"252a58e0.423218","type":"function","z":"daed06a2.17d7a8","name":"Check Variables","func":"var startTemp = flow.set(\"startTemp\",0)\nvar startCond = flow.set(\"startCond\",0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1920,"wires":[[]]},{"id":"23e3a4e2.1db84c","type":"link in","z":"daed06a2.17d7a8","name":"current trigger in","links":["6240d2c0.86a83c","5fbf63d.e7ee89c","d1792b66.4dde78"],"x":55,"y":940,"wires":[["9fa7e7c3.d76258"]]},{"id":"47363c84.b85164","type":"link out","z":"daed06a2.17d7a8","name":"delay out","links":["cf4528d6.aa43a8","5039745e.d85eec"],"x":495,"y":2060,"wires":[]},{"id":"80a3e5c9.6bfbb8","type":"function","z":"daed06a2.17d7a8","name":"Change Check","func":"var check = flow.get(\"startCond\")\nif (check === 0){\n    flow.set(\"startCond\",1)\n    flow.set(\"currentCond\",msg.payload)\n    return msg;\n}\nelse if (check === 1){\n    var pastCond = flow.get(\"currentCond\")\n    if (pastCond === msg.payload){\n        \n    }\n    else {\n        flow.set(\"currentCond\",msg.payload)\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":2260,"wires":[["a1adb00a.bb104","47f66c29.0d3274"]]},{"id":"f7742261.cbbd6","type":"function","z":"daed06a2.17d7a8","name":"Temp Change Check","func":"var RGB = msg.payload\nvar check = flow.get(\"startTemp\")\nvar msg1 = {}\nvar msg2 = {}\n\nif (check === 0){\n    flow.set(\"startTemp\",1)\n    flow.set(\"currentTemp0\",RGB[0])\n    flow.set(\"currentTemp1\",RGB[1])\n    flow.set(\"currentTemp2\",RGB[2])\n    msg1.payload = RGB\n    msg2.payload = \"passed check 0\"\n    return [msg1,msg2]\n}\nelse if (check === 1){\n    var pastTemp0 = flow.get(\"currentTemp0\")\n    var pastTemp1 = flow.get(\"currentTemp1\")\n    var pastTemp2 = flow.get(\"currentTemp2\")\n    if (pastTemp0 === RGB[0] && pastTemp1 === RGB[1] && pastTemp2 === RGB[2]){\n        msg2.payload = \"skipped\"\n        return [null,msg2]\n    }\n    else {\n        flow.set(\"startTemp\",1)\n        flow.set(\"currentTemp0\",RGB[0])\n        flow.set(\"currentTemp1\",RGB[1])\n        flow.set(\"currentTemp2\",RGB[2])\n        msg1.payload = RGB\n        msg2.payload = RGB\n        return [msg1,msg2]\n    }\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":840,"y":1300,"wires":[["50314ebe.5867d"],["d0f1b139.4918e"]]},{"id":"76970e2.75afbf","type":"function","z":"daed06a2.17d7a8","name":"Multi Forecast Split","func":"var forecast = msg.payload.split(\" then \");\n\nvar msg1 = {}\nvar msg2 = {}\n\nif (forecast.length === 1){\n    msg1.payload = forecast[0]\n    return [msg1,null,null]\n}\nelse {\n    msg1.payload = forecast[0]\n    msg2.payload = forecast[1]\n    return [null,msg1,msg2]\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":430,"y":1180,"wires":[["abdfd6e4.ae06a8","68a3ebdd.213884"],["ebe3e708.fd4228"],["68fe3332.5d353c"]]},{"id":"68fe3332.5d353c","type":"delay","z":"daed06a2.17d7a8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":1220,"wires":[["abdfd6e4.ae06a8","7d8dadd5.3c10b4"]]},{"id":"ebe3e708.fd4228","type":"trigger","z":"daed06a2.17d7a8","name":"","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":630,"y":1180,"wires":[["abdfd6e4.ae06a8","ff72c2eb.2e9"]]},{"id":"cd48809c.dce1a","type":"http request","z":"daed06a2.17d7a8","name":"Weather API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.weather.gov/stations/KBOS/observations/latest","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":120,"wires":[["b653fea2.c21a5","e99c25e5.e6afe8"]]},{"id":"f6e9e54.7c66a18","type":"mqtt in","z":"daed06a2.17d7a8","name":"MQTT Config","topic":"wled/weather/c","qos":"2","datatype":"auto","broker":"45976371.1e986c","x":90,"y":60,"wires":[["1ae3a3c8.483bcc","9ae16f0f.cf28a"]]},{"id":"e8012454.66b5e8","type":"comment","z":"daed06a2.17d7a8","name":"User defined Variables =======================================================================================================","info":"","x":540,"y":20,"wires":[]},{"id":"b653fea2.c21a5","type":"debug","z":"daed06a2.17d7a8","name":"Current Conditions Raw","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":120,"wires":[]},{"id":"47eb9a34.2af3e4","type":"link in","z":"daed06a2.17d7a8","name":"","links":["e16232ae.5e69d"],"x":35,"y":120,"wires":[["cd48809c.dce1a"]]},{"id":"97c6e0cd.66324","type":"link in","z":"daed06a2.17d7a8","name":"","links":["3ce1770b.6a5668","232f7bfe.6bc4b4"],"x":35,"y":180,"wires":[["8cb2eeb9.b345f"]]},{"id":"8cb2eeb9.b345f","type":"http request","z":"daed06a2.17d7a8","name":"Forecast API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.weather.gov/gridpoints/GYX/72,76/forecast","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":180,"wires":[["6f2d5179.c66a9","46c4c4c2.3770dc"]]},{"id":"e99c25e5.e6afe8","type":"link out","z":"daed06a2.17d7a8","name":"","links":["88823334.8d464"],"x":275,"y":140,"wires":[]},{"id":"c37adb4c.e4ca98","type":"http request","z":"daed06a2.17d7a8","name":"WLED JSON Send","method":"POST","ret":"txt","paytoqs":"ignore","url":"192.168.0.33\\json\\state","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":240,"wires":[["924f5e74.bf6fc"]]},{"id":"6b1d0e84.8cadc","type":"link in","z":"daed06a2.17d7a8","name":"","links":["2761f753.627a58","5761c51b.a6bfcc","af07a45a.c23698","e6043d70.5157c","3bb47b00.dbb604"],"x":35,"y":240,"wires":[["c37adb4c.e4ca98"]]},{"id":"924f5e74.bf6fc","type":"debug","z":"daed06a2.17d7a8","name":"Send Confirmation","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":240,"wires":[]},{"id":"1ae3a3c8.483bcc","type":"link out","z":"daed06a2.17d7a8","d":true,"name":"MQTT Out","links":["5fbbd906.8b4df8"],"x":215,"y":80,"wires":[]},{"id":"9ae16f0f.cf28a","type":"debug","z":"daed06a2.17d7a8","name":"MQTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":60,"wires":[]},{"id":"49569c4a.4d26b4","type":"link out","z":"daed06a2.17d7a8","name":"forecast out","links":["503b4bf.6a049b4"],"x":435,"y":160,"wires":[]},{"id":"6f2d5179.c66a9","type":"debug","z":"daed06a2.17d7a8","name":"Forecast Raw","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":180,"wires":[]},{"id":"46c4c4c2.3770dc","type":"switch","z":"daed06a2.17d7a8","name":"","property":"source","propertyType":"msg","rules":[{"t":"eq","v":"forecast","vt":"str"},{"t":"eq","v":"tricolor","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":180,"wires":[["49569c4a.4d26b4"],["fcf09faa.354d4"]]},{"id":"fcf09faa.354d4","type":"link out","z":"daed06a2.17d7a8","name":"tricolor out","links":["a33a266d.633f78"],"x":435,"y":200,"wires":[]},{"id":"b9b74207.4cd15","type":"trigger","z":"daed06a2.17d7a8","d":true,"name":"Update Trigger","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"-5","extend":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":180,"y":340,"wires":[["ec6f3bd6.cd8fe8"]]},{"id":"be8485f7.c87118","type":"link in","z":"daed06a2.17d7a8","name":"Current Trigger Start","links":["22d44fc5.8ed7e","8ac5ac93.265ab","f7133821.fb6698","121460f3.21252f"],"x":35,"y":340,"wires":[["b9b74207.4cd15"]]},{"id":"ec6f3bd6.cd8fe8","type":"link out","z":"daed06a2.17d7a8","name":"","links":["e72dee07.79b28"],"x":335,"y":340,"wires":[]},{"id":"634aeaa.b83ed14","type":"inject","z":"daed06a2.17d7a8","name":"manual start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":400,"wires":[["b9b74207.4cd15"]]},{"id":"6d39670f.57d548","type":"delay","z":"daed06a2.17d7a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":580,"y":340,"wires":[["121460f3.21252f"]]},{"id":"121460f3.21252f","type":"link out","z":"daed06a2.17d7a8","name":"restart trigger","links":["be8485f7.c87118"],"x":695,"y":340,"wires":[]},{"id":"5039745e.d85eec","type":"link in","z":"daed06a2.17d7a8","name":"delay in","links":["47363c84.b85164"],"x":455,"y":340,"wires":[["6d39670f.57d548"]]},{"id":"7d72a07f.41b9","type":"comment","z":"daed06a2.17d7a8","name":"Save State Setup Lines","info":"","x":120,"y":560,"wires":[]},{"id":"d28429ff.cd5298","type":"change","z":"daed06a2.17d7a8","name":"Save State 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":80,\"len\":80,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[1,0,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":0},{\"id\":2,\"start\":0,\"stop\":0},{\"id\":3,\"start\":0,\"stop\":0},{\"id\":4,\"start\":0,\"stop\":0},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":600,"wires":[["e6043d70.5157c"]]},{"id":"9060b67f.9c6fa8","type":"inject","z":"daed06a2.17d7a8","name":"Save State 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":600,"wires":[["d28429ff.cd5298"]]},{"id":"3adf9ef1.3b60a2","type":"change","z":"daed06a2.17d7a8","name":"Save State 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":80,\"len\":80,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,1,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":0},{\"id\":2,\"start\":0,\"stop\":0},{\"id\":3,\"start\":0,\"stop\":0},{\"id\":4,\"start\":0,\"stop\":0},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":640,"wires":[["e6043d70.5157c"]]},{"id":"6b42f184.8fd5c","type":"inject","z":"daed06a2.17d7a8","name":"Save State 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":640,"wires":[["3adf9ef1.3b60a2"]]},{"id":"580e5c13.ce2904","type":"change","z":"daed06a2.17d7a8","name":"Save State 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":80,\"len\":80,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,1],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":0},{\"id\":2,\"start\":0,\"stop\":0},{\"id\":3,\"start\":0,\"stop\":0},{\"id\":4,\"start\":0,\"stop\":0},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":680,"wires":[["e6043d70.5157c"]]},{"id":"611e06b.b496af8","type":"inject","z":"daed06a2.17d7a8","name":"Save State 3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":680,"wires":[["580e5c13.ce2904"]]},{"id":"e6043d70.5157c","type":"link out","z":"daed06a2.17d7a8","name":"","links":["6b1d0e84.8cadc"],"x":415,"y":640,"wires":[]},{"id":"be5a1abc.e11508","type":"comment","z":"daed06a2.17d7a8","name":"Current Condition polling interval","info":"","x":150,"y":300,"wires":[]},{"id":"5bb1a208.83a1ec","type":"comment","z":"daed06a2.17d7a8","name":"Current Condition Reactivation Delay","info":"","x":580,"y":300,"wires":[]},{"id":"cfcd3654.7e2ad8","type":"comment","z":"daed06a2.17d7a8","name":"Main Flow ==============================================================================================================","info":"","x":530,"y":720,"wires":[]},{"id":"b6509f0b.60c41","type":"change","z":"daed06a2.17d7a8","name":"Fog","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":18,\"len\":18,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[135,135,135],[224,224,224],[0,0,0]],\"fx\":0,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":2,\"start\":62,\"stop\":80,\"len\":18,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[135,135,135],[224,224,224],[0,0,0]],\"fx\":0,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":3,\"start\":22,\"stop\":38,\"len\":16,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[66,66,66],[0,0,0]],\"fx\":82,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":42,\"stop\":58,\"len\":16,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[66,66,66],[0,0,0]],\"fx\":82,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":2380,"wires":[["2761f753.627a58"]]},{"id":"1b4308a2.efcdd7","type":"change","z":"daed06a2.17d7a8","name":"Tornado","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[224,224,224],[0,0,0]],\"fx\":0,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":12,\"stop\":68,\"len\":56,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[105,105,105],[0,0,0]],\"fx\":15,\"sx\":255,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[8,255,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":4,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[8,255,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":2420,"wires":[["2761f753.627a58"]]},{"id":"64a12b94.013434","type":"change","z":"daed06a2.17d7a8","name":"Hurricane","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":9,\"stop\":80,\"len\":71,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[224,224,224],[0,0,0]],\"fx\":0,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":7,\"stop\":80,\"len\":73,\"grp\":1,\"spc\":19,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[105,105,105],[0,0,0]],\"fx\":0,\"sx\":255,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":1,\"spc\":19,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[8,255,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":0,\"stop\":7,\"len\":7,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":255,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":73,\"stop\":80,\"len\":7,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":255,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":13,\"stop\":70,\"len\":57,\"grp\":4,\"spc\":6,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[123,152,166],[0,0,0]],\"fx\":15,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":17,\"stop\":70,\"len\":53,\"grp\":1,\"spc\":19,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[150,150,150],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":8,\"start\":22,\"stop\":70,\"len\":48,\"grp\":1,\"spc\":19,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[150,150,150],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":2420,"wires":[["2761f753.627a58"]]},{"id":"e2466d3b.669d5","type":"change","z":"daed06a2.17d7a8","name":"Dust","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":18,\"len\":18,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[214,159,77],[224,224,224],[0,0,0]],\"fx\":0,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":62,\"stop\":80,\"len\":18,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[214,159,77],[224,224,224],[0,0,0]],\"fx\":0,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":22,\"stop\":38,\"len\":16,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[115,80,6],[107,88,42],[0,0,0]],\"fx\":2,\"sx\":20,\"ix\":25,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":4,\"start\":42,\"stop\":58,\"len\":16,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[115,80,6],[107,88,42],[0,0,0]],\"fx\":2,\"sx\":20,\"ix\":25,\"pal\":0,\"sel\":true,\"rev\":false},,{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":2460,"wires":[["2761f753.627a58"]]},{"id":"68a3ebdd.213884","type":"debug","z":"daed06a2.17d7a8","name":"out 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":1140,"wires":[]},{"id":"ff72c2eb.2e9","type":"debug","z":"daed06a2.17d7a8","name":"out 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":1180,"wires":[]},{"id":"7d8dadd5.3c10b4","type":"debug","z":"daed06a2.17d7a8","name":"out 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":1220,"wires":[]},{"id":"b454826d.a303e","type":"change","z":"daed06a2.17d7a8","name":"Night Clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[255,255,255],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[114,148,137],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,12,28],[0,23,31],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,12,28],[0,23,31],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,10,23],[0,17,23],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,10,23],[0,17,23],[0,0,0]],\"fx\":2,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":2460,"wires":[["2761f753.627a58"]]},{"id":"dbcbe624.498ec8","type":"change","z":"daed06a2.17d7a8","name":"Sunset","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[46,38,153],[104,0,184],[0,0,0]],\"fx\":2,\"sx\":113,\"ix\":83,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":2,\"start\":6,\"stop\":80,\"len\":74,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[217,39,86],[255,0,13],[0,0,0]],\"fx\":2,\"sx\":101,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[217,39,86],[255,0,13],[0,0,0]],\"fx\":2,\"sx\":101,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":4,\"stop\":80,\"len\":76,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[255,63,5],[255,94,0],[0,0,0]],\"fx\":2,\"sx\":114,\"ix\":109,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":14,\"stop\":80,\"len\":66,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[255,63,5],[255,94,0],[0,0,0]],\"fx\":2,\"sx\":114,\"ix\":109,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":6,\"start\":2,\"stop\":80,\"len\":78,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[255,136,0],[255,174,0],[0,0,0]],\"fx\":2,\"sx\":100,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":16,\"stop\":80,\"len\":64,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[255,136,0],[255,174,0],[0,0,0]],\"fx\":2,\"sx\":100,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":2500,"wires":[["2761f753.627a58"]]},{"id":"67ca0211.42d93c","type":"change","z":"daed06a2.17d7a8","name":"Sunrise","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[46,38,153],[22,0,66],[0,0,0]],\"fx\":2,\"sx\":113,\"ix\":83,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":6,\"stop\":80,\"len\":74,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[18,0,217],[0,106,255],[0,0,0]],\"fx\":2,\"sx\":101,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[18,0,217],[0,106,255],[0,0,0]],\"fx\":2,\"sx\":101,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":4,\"stop\":80,\"len\":76,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[204,20,27],[255,141,84],[0,0,0]],\"fx\":2,\"sx\":61,\"ix\":109,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":14,\"stop\":80,\"len\":66,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[204,20,27],[255,141,84],[0,0,0]],\"fx\":2,\"sx\":61,\"ix\":109,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":6,\"start\":2,\"stop\":80,\"len\":78,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[255,145,0],[255,214,8],[0,0,0]],\"fx\":2,\"sx\":49,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":16,\"stop\":80,\"len\":64,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[255,145,0],[255,214,8],[0,0,0]],\"fx\":2,\"sx\":49,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":2500,"wires":[["2761f753.627a58"]]},{"id":"41aa8dfc.14c514","type":"http request","z":"daed06a2.17d7a8","name":"Local Alert API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.weather.gov/alerts?active=true&point=42.366134%2C-71.023213","tls":"","persist":false,"proxy":"","authType":"","x":160,"y":480,"wires":[["e2137536.247008"]]},{"id":"dc0259f4.e98818","type":"debug","z":"daed06a2.17d7a8","name":"Alerts raw","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":840,"wires":[]},{"id":"9bbe980c.904728","type":"change","z":"daed06a2.17d7a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.features","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":800,"wires":[["265776c4.b0d20a","c789e2dc.82ff3"]]},{"id":"265776c4.b0d20a","type":"debug","z":"daed06a2.17d7a8","name":"Alerts","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":840,"wires":[]},{"id":"8ffb8464.946d18","type":"function","z":"daed06a2.17d7a8","name":"Set User Agent ","func":"msg.headers = {};\nmsg.headers['USER-AGENT'] = 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":800,"wires":[["67c72a41.710ca4"]]},{"id":"c789e2dc.82ff3","type":"function","z":"daed06a2.17d7a8","name":"Alert Check Function","func":"var array = msg.payload\n\nvar msg1 = {}\nvar msg2 = {}\n\nif (Array.isArray(array) && array.length) {\n    msg1.payload = array\n    return [msg1,null]\n}\n\nelse {\n    msg2.payload = \"empty\"\n    return [null,msg2]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":740,"y":800,"wires":[["441b6219.8e25ec"],["298c33ac.a9f3ec"]]},{"id":"441b6219.8e25ec","type":"change","z":"daed06a2.17d7a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].properties.event","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":780,"wires":[["da2ab898.1b6ae8"]]},{"id":"a0868e46.88182","type":"comment","z":"daed06a2.17d7a8","name":"Local Alerts Check","info":"","x":110,"y":760,"wires":[]},{"id":"e72dee07.79b28","type":"link in","z":"daed06a2.17d7a8","name":"Alert In","links":["ec6f3bd6.cd8fe8"],"x":55,"y":800,"wires":[["8ffb8464.946d18"]]},{"id":"67c72a41.710ca4","type":"link out","z":"daed06a2.17d7a8","name":"alert out","links":["b9583273.ac148"],"x":295,"y":800,"wires":[]},{"id":"b9583273.ac148","type":"link in","z":"daed06a2.17d7a8","name":"alert API in","links":["67c72a41.710ca4"],"x":35,"y":480,"wires":[["41aa8dfc.14c514"]]},{"id":"c0483a3d.ee5298","type":"comment","z":"daed06a2.17d7a8","name":"Local Alerts","info":"","x":90,"y":440,"wires":[]},{"id":"e2137536.247008","type":"link out","z":"daed06a2.17d7a8","name":"alerts api out","links":["f99e7bb7.90acd8"],"x":285,"y":480,"wires":[]},{"id":"f99e7bb7.90acd8","type":"link in","z":"daed06a2.17d7a8","name":"alert message in","links":["e2137536.247008"],"x":375,"y":800,"wires":[["9bbe980c.904728","dc0259f4.e98818"]]},{"id":"5fbf63d.e7ee89c","type":"link out","z":"daed06a2.17d7a8","name":"No alerts out","links":["23e3a4e2.1db84c"],"x":1115,"y":820,"wires":[]},{"id":"298c33ac.a9f3ec","type":"change","z":"daed06a2.17d7a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":820,"wires":[["5fbf63d.e7ee89c"]]},{"id":"b85c0928.9f5908","type":"function","z":"daed06a2.17d7a8","name":"Advisory Selection","func":"var msg1 = {}\nvar msg2 = {}\n\nif (msg.payload === \"Evacuation - Immediate\" || msg.payload === \"Extreme Fire Danger\" ){\n\tvar animation = \"Danger\";\n}\nelse if (msg.payload === \"Tornado Warning\" || msg.payload === \"Tornado Watch\"){\n    animation = \"Tornado\";\n}\nelse if (msg.payload === \"Dense Fog Advisory\"){\n    animation = \"Fog\";\n}\nelse if (msg.payload === \"Blizzard Warning\" || msg.payload === \"Blizzard Watch\" || msg.payload === \"Winter Storm Warning\" || msg.payload === \"Winter Storm Watch\" || msg.payload === \"Winter Weather Advisory\"){\n    animation = \"Blizzard\";\n}\nelse if (msg.payload === \"Blowing Dust Advisory\" || msg.payload === \"Blowing Dust Warning\" || msg.payload === \"Dist Advisory\" || msg.payload === \"Dist Storm Warning\"){\n    animation = \"Dust\";\n}\nelse if (msg.payload === \"Dense Smoke Advisory\"){\n    animation = \"Smoke\";\n}\nelse if (msg.payload === \"Excessive Heat Warning\" || msg.payload === \"Excessive Heat Watch\" || msg.payload === \"Heat Advisory\"){\n    animation = \"Hot\";\n}\nelse if (msg.payload === \"Excessive Cold Warning\" || msg.payload === \"Excessive Cold Watch\" || msg.payload === \"Freeze Warning\" || msg.payload === \"Freeze Watch\"){\n    animation = \"Hot\";\n}\n\nelse {\n\tanimation = \"not defined\"\n}\n\t\nif (animation === \"not defined\") {\n    msg2.payload = \"not defined\"\n    return [null,msg2]\n}\nelse {\n    msg1.payload = \"animation\"\n    return [msg1,null]\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":170,"y":2540,"wires":[["80a3e5c9.6bfbb8","1132c593.3fe2fa"],["d1792b66.4dde78"]]},{"id":"da2ab898.1b6ae8","type":"link out","z":"daed06a2.17d7a8","name":"Alert description out","links":["87ee4919.f3d098"],"x":1115,"y":780,"wires":[]},{"id":"d1792b66.4dde78","type":"link out","z":"daed06a2.17d7a8","name":"Missing Advisory Out","links":["23e3a4e2.1db84c"],"x":315,"y":2580,"wires":[]},{"id":"87ee4919.f3d098","type":"link in","z":"daed06a2.17d7a8","name":"Advisory Link in","links":["da2ab898.1b6ae8"],"x":35,"y":2540,"wires":[["b85c0928.9f5908"]]},{"id":"ba5af1d9.e116a","type":"change","z":"daed06a2.17d7a8","name":"Danger","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\":true,\"bri\":128,\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[255,193,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":10,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":2,\"sx\":255,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":2,\"start\":10,\"stop\":18,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":2,\"sx\":255,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":3,\"start\":22,\"stop\":30,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":2,\"sx\":255,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":4,\"start\":30,\"stop\":38,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":2,\"sx\":255,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":5,\"start\":42,\"stop\":50,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":2,\"sx\":255,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":6,\"start\":50,\"stop\":58,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":2,\"sx\":255,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":7,\"start\":62,\"stop\":70,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":2,\"sx\":255,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":8,\"start\":70,\"stop\":80,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":2,\"sx\":255,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":2540,"wires":[["2761f753.627a58"]]},{"id":"6240d2c0.86a83c","type":"link out","z":"daed06a2.17d7a8","name":"advisory temp request","links":["23e3a4e2.1db84c"],"x":495,"y":2540,"wires":[]},{"id":"1132c593.3fe2fa","type":"change","z":"daed06a2.17d7a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"},{"t":"set","p":"topic","pt":"msg","to":"advisory","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2540,"wires":[["6240d2c0.86a83c"]]},{"id":"4b4aec71.263ad4","type":"function","z":"daed06a2.17d7a8","name":"advisory Check","func":"var check = msg.topic\nif (check === \"advisory\"){\n    \n}\nelse {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":900,"wires":[["9f444b77.c9f448"]]},{"id":"658de280.863f7c","type":"suncron","z":"daed06a2.17d7a8","name":"","lat":"42.366134","lon":"-71.023213","replay":true,"ejectScheduleOnUpdate":true,"sunrisePayload":"SunriseStart","sunrisePayloadType":"str","sunriseTopic":"sun","sunriseOffsetType":1,"sunriseOffsetHours":0,"sunriseOffsetMinutes":0,"sunriseOffset":0,"sunriseEndPayload":"SunriseEnd","sunriseEndPayloadType":"str","sunriseEndTopic":"sun","sunriseEndOffsetType":1,"sunriseEndOffsetHours":0,"sunriseEndOffsetMinutes":0,"sunriseEndOffset":0,"goldenHourEndPayload":"MorningGoldenEnd","goldenHourEndPayloadType":"str","goldenHourEndTopic":"sun","goldenHourEndOffsetType":1,"goldenHourEndOffsetHours":0,"goldenHourEndOffsetMinutes":0,"goldenHourEndOffset":0,"solarNoonPayload":"Noon","solarNoonPayloadType":"str","solarNoonTopic":"sun","solarNoonOffsetType":1,"solarNoonOffsetHours":0,"solarNoonOffsetMinutes":0,"solarNoonOffset":0,"goldenHourPayload":"EveningGoldenStart","goldenHourPayloadType":"str","goldenHourTopic":"sun","goldenHourOffsetType":1,"goldenHourOffsetHours":0,"goldenHourOffsetMinutes":0,"goldenHourOffset":0,"sunsetStartPayload":"SunsetStart","sunsetStartPayloadType":"str","sunsetStartTopic":"sun","sunsetStartOffsetType":1,"sunsetStartOffsetHours":0,"sunsetStartOffsetMinutes":0,"sunsetStartOffset":0,"sunsetPayload":"SunsetEnd","sunsetPayloadType":"str","sunsetTopic":"sun","sunsetOffsetType":1,"sunsetOffsetHours":0,"sunsetOffsetMinutes":0,"sunsetOffset":0,"duskPayload":"Dusk","duskPayloadType":"str","duskTopic":"sun","duskOffsetType":1,"duskOffsetHours":0,"duskOffsetMinutes":0,"duskOffset":0,"nauticalDuskPayload":"NauticalDusk","nauticalDuskPayloadType":"str","nauticalDuskTopic":"sun","nauticalDuskOffsetType":1,"nauticalDuskOffsetHours":0,"nauticalDuskOffsetMinutes":0,"nauticalDuskOffset":0,"nightPayload":"Night","nightPayloadType":"str","nightTopic":"sun","nightOffsetType":1,"nightOffsetHours":0,"nightOffsetMinutes":0,"nightOffset":0,"nadirPayload":"Darkest","nadirPayloadType":"str","nadirTopic":"sun","nadirOffsetType":1,"nadirOffsetHours":0,"nadirOffsetMinutes":0,"nadirOffset":0,"nightEndPayload":"NightEnd","nightEndPayloadType":"str","nightEndTopic":"sun","nightEndOffsetType":1,"nightEndOffsetHours":0,"nightEndOffsetMinutes":0,"nightEndOffset":0,"nauticalDawnPayload":"NauticalDawn","nauticalDawnPayloadType":"str","nauticalDawnTopic":"sun","nauticalDawnOffsetType":1,"nauticalDawnOffsetHours":0,"nauticalDawnOffsetMinutes":0,"nauticalDawnOffset":0,"dawnPayload":"Dawn","dawnPayloadType":"str","dawnTopic":"sun","dawnOffsetType":1,"dawnOffsetHours":0,"dawnOffsetMinutes":0,"dawnOffset":0,"x":540,"y":500,"wires":[["34f61c35.2d1464","136cec63.0b2974"]]},{"id":"34f61c35.2d1464","type":"debug","z":"daed06a2.17d7a8","name":"suncron","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":460,"wires":[]},{"id":"7d73c858.92c978","type":"inject","z":"daed06a2.17d7a8","name":"manual start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":490,"y":460,"wires":[["658de280.863f7c"]]},{"id":"5f107e2d.cc0cb","type":"link in","z":"daed06a2.17d7a8","name":"Sun Kickstart","links":["8ac5ac93.265ab"],"x":415,"y":500,"wires":[["658de280.863f7c"]]},{"id":"136cec63.0b2974","type":"function","z":"daed06a2.17d7a8","name":"Flow Sun Events Variables","func":"var sunevent = msg.payload\nif (sunevent === \"SunsetEnd\"){\n    flow.set(\"daynight\",\"night\")\n    flow.set(\"riseset\",\"none\")\n}\nelse if (sunevent === \"SunriseEnd\"){\n    flow.set(\"daynight\", \"day\")\n    flow.set(\"riseset\", \"none\")\n}\nelse if (sunevent === \"SunriseStart\"){\n    flow.set(\"riseset\", \"rise\")\n}\nelse if (sunevent === \"SunsetStart\"){\n    flow.set(\"riseset\", \"set\")\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":500,"wires":[[]]},{"id":"d0f1b139.4918e","type":"debug","z":"daed06a2.17d7a8","name":"Change Check","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1360,"wires":[]},{"id":"b2e3730a.22d6f","type":"comment","z":"daed06a2.17d7a8","name":"Sun Events Config","info":"Set your Lat/long in the Sun-events node","x":490,"y":420,"wires":[]},{"id":"2dfc1744.1c1b38","type":"debug","z":"daed06a2.17d7a8","name":"animation pre check","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":2220,"wires":[]},{"id":"dc089d3.cf7576","type":"function","z":"daed06a2.17d7a8","name":"null Handling","func":"tempF = msg.payload\nif (tempF === \"null\"){\n    tempF = flow.get(\"lasttempF\")\n    msg.payload = tempF\n    return msg;\n}\nelse {\n    flow.set(\"lasttempF\",tempF)\n    msg.payload = tempF\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":1100,"wires":[["5e30a23c.600efc"]]},{"id":"45976371.1e986c","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.112","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]