files/flows.json
[{"id":"28b5ebf1.a2f0c4","type":"tab","label":"Weather Lamp Setup Flow","disabled":false,"info":""},{"id":"c74e6b0f.fd9ab8","type":"http request","z":"28b5ebf1.a2f0c4","name":"Weather API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.weather.gov/stations/KBOS/observations/latest","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":180,"wires":[["561fb459.58c0ac","ec65df99.7a362"]]},{"id":"790c2c33.8e6ce4","type":"mqtt in","z":"28b5ebf1.a2f0c4","name":"MQTT Config","topic":"wled/weather/c","qos":"2","datatype":"auto","broker":"760c570.fafeca8","x":90,"y":80,"wires":[["c927920a.cae41","316861c4.c1845e"]]},{"id":"344d57b.0a561a8","type":"comment","z":"28b5ebf1.a2f0c4","name":"User defined Variables","info":"","x":120,"y":40,"wires":[]},{"id":"561fb459.58c0ac","type":"debug","z":"28b5ebf1.a2f0c4","name":"Current Conditions Raw","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":180,"wires":[]},{"id":"2bf166fe.28695a","type":"link in","z":"28b5ebf1.a2f0c4","name":"","links":["355b2d3a.34f962"],"x":35,"y":180,"wires":[["c74e6b0f.fd9ab8"]]},{"id":"997b0bc9.925418","type":"link in","z":"28b5ebf1.a2f0c4","name":"","links":["ddd9f493.7f9d68","f2826e6a.b31f4"],"x":35,"y":240,"wires":[["b9ad8a16.95cef8"]]},{"id":"b9ad8a16.95cef8","type":"http request","z":"28b5ebf1.a2f0c4","name":"Forecast API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.weather.gov/gridpoints/GYX/72,76/forecast","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":240,"wires":[["ec19e89e.0c87c8","b4275b97.b1e0f8"]]},{"id":"ec65df99.7a362","type":"link out","z":"28b5ebf1.a2f0c4","name":"","links":["c3175ef.4fd65a"],"x":355,"y":180,"wires":[]},{"id":"2494a0e3.952ac","type":"http request","z":"28b5ebf1.a2f0c4","name":"WLED JSON Send","method":"POST","ret":"txt","paytoqs":"ignore","url":"192.168.0.33\\json\\state","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":300,"wires":[["19b6edd2.d89c42"]]},{"id":"d5db1c3a.7e334","type":"link in","z":"28b5ebf1.a2f0c4","name":"","links":["f17ae2df.a5ea7","d88117b0.4202c8","2dc974bb.d218bc","4575a0a3.0e678"],"x":35,"y":300,"wires":[["2494a0e3.952ac"]]},{"id":"19b6edd2.d89c42","type":"debug","z":"28b5ebf1.a2f0c4","name":"Send Confirmation","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":300,"wires":[]},{"id":"c927920a.cae41","type":"link out","z":"28b5ebf1.a2f0c4","d":true,"name":"MQTT Out","links":["8d94544e.9365c8"],"x":235,"y":80,"wires":[]},{"id":"316861c4.c1845e","type":"debug","z":"28b5ebf1.a2f0c4","name":"MQTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":120,"wires":[]},{"id":"938d88d7.f080d8","type":"link out","z":"28b5ebf1.a2f0c4","name":"forecast out","links":["a69b5a51.853ac8"],"x":495,"y":220,"wires":[]},{"id":"ec19e89e.0c87c8","type":"debug","z":"28b5ebf1.a2f0c4","name":"Forecast Raw","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":240,"wires":[]},{"id":"b4275b97.b1e0f8","type":"switch","z":"28b5ebf1.a2f0c4","name":"","property":"source","propertyType":"msg","rules":[{"t":"eq","v":"forecast","vt":"str"},{"t":"eq","v":"tricolor","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":220,"wires":[["938d88d7.f080d8"],["1ff9ee90.6ee971"]]},{"id":"1ff9ee90.6ee971","type":"link out","z":"28b5ebf1.a2f0c4","name":"tricolor out","links":["ef64ab7e.673f68"],"x":495,"y":260,"wires":[]},{"id":"4bff635d.ac57ac","type":"trigger","z":"28b5ebf1.a2f0c4","d":true,"name":"Update Trigger","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"-5","extend":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":200,"y":420,"wires":[["b9e081f1.6bca4"]]},{"id":"a8d1777.0763988","type":"link in","z":"28b5ebf1.a2f0c4","name":"Current Trigger Start","links":["22d44fc5.8ed7e","c225d800.1bdfe8","e50b0703.171f38","b13ce22f.5cc3e"],"x":35,"y":420,"wires":[["4bff635d.ac57ac"]]},{"id":"b9e081f1.6bca4","type":"link out","z":"28b5ebf1.a2f0c4","name":"","links":["fa7ad4a3.4dedc8"],"x":375,"y":420,"wires":[]},{"id":"4a22b5f3.54d31c","type":"inject","z":"28b5ebf1.a2f0c4","name":"manual start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":480,"wires":[["4bff635d.ac57ac"]]},{"id":"3643f9d9.fc8f46","type":"delay","z":"28b5ebf1.a2f0c4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":140,"y":600,"wires":[["b13ce22f.5cc3e"]]},{"id":"b13ce22f.5cc3e","type":"link out","z":"28b5ebf1.a2f0c4","name":"restart trigger","links":["a8d1777.0763988"],"x":255,"y":600,"wires":[]},{"id":"ced8f493.8080e8","type":"link in","z":"28b5ebf1.a2f0c4","name":"delay in","links":["90f848c6.e31218"],"x":35,"y":600,"wires":[["3643f9d9.fc8f46"]]},{"id":"73d21685.ad0578","type":"comment","z":"28b5ebf1.a2f0c4","name":"Save State Setup Lines","info":"","x":170,"y":720,"wires":[]},{"id":"1ba6624d.45715e","type":"change","z":"28b5ebf1.a2f0c4","name":"Save State 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":80,\"len\":80,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[1,0,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":0},{\"id\":2,\"start\":0,\"stop\":0},{\"id\":3,\"start\":0,\"stop\":0},{\"id\":4,\"start\":0,\"stop\":0},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":780,"wires":[["4575a0a3.0e678"]]},{"id":"9337d1f6.f3ea3","type":"inject","z":"28b5ebf1.a2f0c4","name":"Save State 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":780,"wires":[["1ba6624d.45715e"]]},{"id":"d7e962bf.19417","type":"change","z":"28b5ebf1.a2f0c4","name":"Save State 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":80,\"len\":80,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,1,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":0},{\"id\":2,\"start\":0,\"stop\":0},{\"id\":3,\"start\":0,\"stop\":0},{\"id\":4,\"start\":0,\"stop\":0},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":840,"wires":[["4575a0a3.0e678"]]},{"id":"8b5ffd9f.77791","type":"inject","z":"28b5ebf1.a2f0c4","name":"Save State 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":840,"wires":[["d7e962bf.19417"]]},{"id":"d41f6111.7f813","type":"change","z":"28b5ebf1.a2f0c4","name":"Save State 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":80,\"len\":80,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,1],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":0},{\"id\":2,\"start\":0,\"stop\":0},{\"id\":3,\"start\":0,\"stop\":0},{\"id\":4,\"start\":0,\"stop\":0},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":900,"wires":[["4575a0a3.0e678"]]},{"id":"c043253e.46e918","type":"inject","z":"28b5ebf1.a2f0c4","name":"Save State 3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":900,"wires":[["d41f6111.7f813"]]},{"id":"4575a0a3.0e678","type":"link out","z":"28b5ebf1.a2f0c4","name":"","links":["d5db1c3a.7e334"],"x":435,"y":840,"wires":[]},{"id":"9278ce2f.0999a","type":"comment","z":"28b5ebf1.a2f0c4","name":"Current Condition polling interval","info":"","x":180,"y":380,"wires":[]},{"id":"ad0370f4.6fe84","type":"comment","z":"28b5ebf1.a2f0c4","name":"Current Condition Reactivation Delay","info":"","x":200,"y":560,"wires":[]},{"id":"760c570.fafeca8","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.112","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]