files/flows rev B.txt
[{"id":"eb7edf39.c3cd6","type":"tab","label":"Weather Lamp Rev B","disabled":false,"info":""},{"id":"2bb7d734.709688","type":"comment","z":"eb7edf39.c3cd6","name":"Current Conditions Function","info":"","x":140,"y":900,"wires":[]},{"id":"c25b6fe.1e3759","type":"link out","z":"eb7edf39.c3cd6","name":"","links":["ceac9402.ed2af8","35d78b37.e5d434","ecf75343.0569e"],"x":335,"y":940,"wires":[]},{"id":"482cc47.1cf9b3c","type":"link in","z":"eb7edf39.c3cd6","name":"","links":["d953cccf.27ac8","4429ecb5.66dc94","aeb224d2.fbb708"],"x":415,"y":940,"wires":[["ee4d8dcd.e798b","112dfdf8.b46442"]]},{"id":"ee4d8dcd.e798b","type":"change","z":"eb7edf39.c3cd6","name":"Weather Extraction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.textDescription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":920,"wires":[["b110734f.7a115","63b35cf0.709384"]]},{"id":"112dfdf8.b46442","type":"change","z":"eb7edf39.c3cd6","name":"Temp Extraction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.temperature.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":960,"wires":[["b110734f.7a115","597bc30d.50c65c"]]},{"id":"2e9729a4.bfb526","type":"comment","z":"eb7edf39.c3cd6","name":"Temp color handling","info":"","x":110,"y":1280,"wires":[]},{"id":"bf4e2102.2a86e","type":"comment","z":"eb7edf39.c3cd6","name":"Animation selection","info":"","x":110,"y":2100,"wires":[]},{"id":"c8a190b3.29001","type":"comment","z":"eb7edf39.c3cd6","name":"MQTT Handling","info":"","x":100,"y":1580,"wires":[]},{"id":"b15c9f8d.b4cf5","type":"function","z":"eb7edf39.c3cd6","name":"Description selection","func":"var daynight = flow.get(\"daynight\")\nvar riseset = flow.get(\"riseset\")\n\nif (msg.payload === \"Clear\" || msg.payload === \"Fair\" || msg.payload === \"Fair with Haze\" || msg.payload === \"Clear with Haze\" || msg.payload === \"Fair and Breezy\" || msg.payload === \"Clear and Breezy\" || msg.payload === \"A Few Clouds\" || msg.payload === \"A Few Clouds with Haze\" || msg.payload === \"A Few Clouds and Breezy\" || msg.payload === \"Mostly Clear\" || msg.payload === \"Sunny\"|| msg.payload === \"Mostly Sunny\"){\n\tif (daynight === \"day\"){\n\t\tmsg.payload = \"Clear\";\n\t}\n\telse if (daynight === \"night\"){\n\t\tmsg.payload = \"Night Clear\";\n\t}\n\telse if (riseset === \"rise\"){\n\t    msg.payload = \"Sunrise\"\n\t}\n\telse if (riseset === \"set\"){\n\t    msg.payload = \"Sunset\"\n\t}\n}\nelse if (msg.payload === \"Partly Cloudy\" || msg.payload === \"Partly Cloudy with Haze\" || msg.payload === \"Partly Cloudy and Breezy\" || msg.payload === \"Partly Sunny\"){\n    msg.payload = \"Partly Cloudy\";\n    if (riseset === \"rise\"){\n\t    msg.payload = \"Sunrise\"\n\t}\n\telse if (riseset === \"set\"){\n\t    msg.payload = \"Sunset\"\n\t}\n}\nelse if (msg.payload === \"Mostly Cloudy\" || msg.payload === \"Mostly Cloudy with Haze\" || msg.payload === \"Mostly Cloudy and Breezy\"){\n    msg.payload = \"Mostly Cloudy\";\n    if (riseset === \"rise\"){\n\t    msg.payload = \"Sunrise\"\n\t}\n\telse if (riseset === \"set\"){\n\t    msg.payload = \"Sunset\"\n\t}\n}\nelse if (msg.payload === \"Overcast\" || msg.payload === \"Overcast with Haze\" || msg.payload === \"Overcast and Breezy\" || msg.payload === \"Cloudy\"){\n    msg.payload = \"Overcast\";\n}\nelse if (msg.payload === \"Snow\" || msg.payload === \"Light Snow\" || msg.payload === \"Heavy Snow\" || msg.payload === \"Snow Showers\" || msg.payload === \"Light Snow Showers\" || msg.payload === \"Heavy Snow Showers\" || msg.payload === \"Showers Snow\" || msg.payload === \"Light Showers Snow\" || msg.payload === \"Heavy Showers Snow\" || msg.payload === \"Snow Fog/Mist\" || msg.payload === \"Light Snow Fog/Mist\" || msg.payload === \"Heavy Snow Fog/Mist\" || msg.payload === \"Snow Showers Fog/Mist\" || msg.payload === \"Light Snow Showers Fog/Mist\" || msg.payload === \"Heavy Snow Showers Fog/Mist\" || msg.payload === \"Showers Snow Fog/Mist\" || msg.payload === \"Light Showers Snow Fog/Mist\" || msg.payload === \"Heavy Showers Snow Fog/Mist\" || msg.payload === \"Snow Fog\" || msg.payload === \"Light Snow Fog\" || msg.payload === \"Heavy Snow Fog\" || msg.payload === \"Snow Showers Fog\" || msg.payload === \"Light Snow Showers Fog\" || msg.payload === \"Heavy Snow Showers Fog\" || msg.payload === \"Showers in Vicinity Snow\" || msg.payload === \"Snow Showers in Vicinity\" || msg.payload === \"Snow Showers in Vicinity Fog/Mist\" || msg.payload === \"Snow Showers in Vicinity Fog\" || msg.payload === \"Low Drifting Snow\" || msg.payload === \"Blowing Snow\" || msg.payload === \"Snow Low Drifting Snow\" || msg.payload === \"Snow Blowing Snow\" || msg.payload === \"Light Snow Low Drifting Snow\" || msg.payload === \"Light Snow Blowing Snow\" || msg.payload === \"Light Snow Blowing Snow Fog/Mist\" || msg.payload === \"Heavy Snow Low Drifting Snow\" || msg.payload === \"Heavy Snow Blowing Snow\" || msg.payload === \"Thunderstorm Snow\" || msg.payload === \"Light Thunderstorm Snow\" || msg.payload === \"Heavy Thunderstorm Snow\" || msg.payload === \"Snow Grains\" || msg.payload === \"Light Snow Grains\" || msg.payload === \"Heavy Snow Grains\" || msg.payload === \"Heavy Blowing Snow\" || msg.payload === \"Blowing Snow in Vicinity\"){\n    msg.payload = \"Snow\";\n}\nelse if (msg.payload === \"Rain Snow\" || msg.payload === \"Light Rain Snow\" || msg.payload === \"Heavy Rain Snow\" || msg.payload === \"Snow Rain\" || msg.payload === \"Light Snow Rain\" || msg.payload === \"Heavy Snow Rain\" || msg.payload === \"Drizzle Snow\" || msg.payload === \"Light Drizzle Snow\" || msg.payload === \"Heavy Drizzle Snow\" || msg.payload === \"Snow Drizzle\" || msg.payload === \"Light Snow Drizzle\" || msg.payload === \"Heavy Drizzle Snow\") {\n    msg.payload = \"Rain Snow\";\n}\n\nelse if (msg.payload === \"Freezing Rain Rain\" || msg.payload === \"Light Freezing Rain Rain\" || msg.payload === \"Heavy Freezing Rain Rain\" || msg.payload === \"Rain Freezing Rain\" || msg.payload === \"Light Rain Freezing Rain\" || msg.payload === \"Heavy Rain Freezing Rain\" || msg.payload === \"Freezing Drizzle Rain\" || msg.payload === \"Light Freezing Drizzle Rain\" || msg.payload === \"Heavy Freezing Drizzle Rain\" || msg.payload === \"Rain Freezing Drizzle\" || msg.payload === \"Light Rain Freezing Drizzle\" || msg.payload === \"Heavy Rain Freezing Drizzle\" || msg.payload === \"Freezing Rain\" || msg.payload === \"Freezing Drizzle\" || msg.payload === \"Light Freezing Rain\" || msg.payload === \"Light Freezing Drizzle\" || msg.payload === \"Heavy Freezing Rain\" || msg.payload === \"Heavy Freezing Drizzle\" || msg.payload === \"Freezing Rain in Vicinity\" || msg.payload === \"Freezing Drizzle in Vicinity\" || msg.payload === \"Freezing Rain Snow\" || msg.payload === \"Light Freezing Rain Snow\" || msg.payload === \"Heavy Freezing Rain Snow\" || msg.payload === \"Freezing Drizzle Snow\" || msg.payload === \"Light Freezing Drizzle Snow\" || msg.payload === \"Heavy Freezing Drizzle Snow\" || msg.payload === \"Snow Freezing Rain\" || msg.payload === \"Light Snow Freezing Rain\" || msg.payload === \"Heavy Snow Freezing Rain\" || msg.payload === \"Snow Freezing Drizzle\" || msg.payload === \"Light Snow Freezing Drizzle\" || msg.payload === \"Heavy Snow Freezing Drizzle\"){\n    msg.payload = \"Freezing Rain\";\n}\n\nelse if (msg.payload === \"Ice Pellets\" || msg.payload === \"Light Ice Pellets\" || msg.payload === \"Heavy Ice Pellets\" || msg.payload === \"Ice Pellets in Vicinity\" || msg.payload === \"Showers Ice Pellets\" || msg.payload === \"Thunderstorm Ice Pellets\" || msg.payload === \"Ice Crystals\" || msg.payload === \"Hail\" || msg.payload === \"Small Hail/Snow Pellets\" || msg.payload === \"Light Small Hail/Snow Pellets\" || msg.payload === \"Heavy small Hail/Snow Pellets\" || msg.payload === \"Showers Hail\" || msg.payload === \"Hail Showers\" || msg.payload === \"Rain Ice Pellets\" || msg.payload === \"Light Rain Ice Pellets\" || msg.payload === \"Heavy Rain Ice Pellets\" || msg.payload === \"Drizzle Ice Pellets\" || msg.payload === \"Light Drizzle Ice Pellets\" || msg.payload === \"Heavy Drizzle Ice Pellets\" || msg.payload === \"Ice Pellets Rain\" || msg.payload === \"Light Ice Pellets Rain\" || msg.payload === \"Heavy Ice Pellets Rain\" || msg.payload === \"Ice Pellets Drizzle\" || msg.payload === \"Light Ice Pellets Drizzle\" || msg.payload === \"Heavy Ice Pellets Drizzle\" || msg.payload === \"Snow Ice Pellets\"){\n    msg.payload = \"Ice Pellets\";\n}\n\nelse if (msg.payload === \"Rain\" || msg.payload === \"Heavy Rain\" || msg.payload === \"Rain Fog/Mist\" || msg.payload === \"Heavy Rain Fog/Mist\" || msg.payload === \"Rain Fog\" || msg.payload === \"Heavy Rain Fog\"){\n    msg.payload = \"Rain\";\n}\nelse if (msg.payload === \"Rain Showers\" || msg.payload === \"Light Rain Showers\" || msg.payload === \"Light Rain and Breezy\" || msg.payload === \"Heavy Rain Showers\" || msg.payload === \"Rain Showers in Vicinity\" || msg.payload === \"Light Showers Rain\" || msg.payload === \"Heavy Showers Rain\" || msg.payload === \"Showers Rain\" || msg.payload === \"Showers Rain in Vicinity\" || msg.payload === \"Rain Showers Fog/Mist\" || msg.payload === \"Light Rain Showers Fog/Mist\" || msg.payload === \"Heavy Rain Showers Fog/Mist\" || msg.payload === \"Rain Showers in Vicinity Fog/Mist\" || msg.payload === \"Light Showers Rain Fog/Mist\" || msg.payload === \"Heavy Showers Rain Fog/Mist\" || msg.payload === \"Showers Rain Fog/Mist\" || msg.payload === \"Showers Rain in Vicinity Fog/Mist\" || msg.payload === \"Light Rain\" || msg.payload === \"Drizzle\" || msg.payload === \"Light Drizzle\" || msg.payload === \"Heavy Drizzle\" || msg.payload === \"Light Rain Fog/Mist\" || msg.payload === \"Light Drizzle Fog/Mist\" || msg.payload === \"Light Rain Fog\" || msg.payload === \"Light Drizzle Fog\" || msg.payload === \"Heavy Drizzle Fog\" || msg.payload === \"Showers in Vicinity\" || msg.payload === \"Showers in Vicinity Fog/Mist\" || msg.payload === \"Showers in Vicinity Fog\" || msg.payload === \"Showers in Vicinity Haze\"){\n    msg.payload = \"Light Rain\";\n}\n else if (msg.payload === \"Thunderstorm\" || msg.payload === \"Thunderstorm Rain\" || msg.payload === \"Light Thunderstorm Rain\" || msg.payload === \"Heavy Thunderstorm Rain\" || msg.payload === \"Thunderstorm Rain Fog/Mist\" || msg.payload === \"Light Thunderstorm Rain Fog/Mist\" || msg.payload === \"Heavy Thunderstorm Rain Fog and Windy\" || msg.payload === \"Heavy Thunderstorm Rain Fog/Mist\" || msg.payload === \"Thunderstorm Showers in Vicinity\" || msg.payload === \"Light Thunderstorm Rain Haze\" || msg.payload === \"Heavy Thunderstorm Rain Haze\" || msg.payload === \"Thunderstorm Fog\" || msg.payload === \"Light Thunderstorm Rain Fog\" || msg.payload === \"Heavy Thunderstorm Rain Fog\" || msg.payload === \"Thunderstorm Light Rain\" || msg.payload === \"Thunderstorm Heavy Rain\" || msg.payload === \"Thunderstorm Rain Fog/Mist\" || msg.payload === \"Thunderstorm Light Rain Fog/Mist\" || msg.payload === \"Thunderstorm Heavy Rain Fog/Mist\" || msg.payload === \"Thunderstorm in Vicinity Fog/Mist\" || msg.payload === \"Thunderstorm Showers in Vicinity\" || msg.payload === \"Thunderstorm in Vicinity Haze\" || msg.payload === \"Thunderstorm Haze in Vicinity\" || msg.payload === \"Thunderstorm Light Rain Haze\" || msg.payload === \"Thunderstorm Heavy Rain Haze\" || msg.payload === \"Thunderstorm Fog\" || msg.payload === \"Thunderstorm Light Rain Fog\" || msg.payload === \"Thunderstorm Heavy Rain Fog\" || msg.payload === \"Thunderstorm Hail\" || msg.payload === \"Light Thunderstorm Rain Hail\" || msg.payload === \"Heavy Thunderstorm Rain Hail\" || msg.payload === \"Thunderstorm Rain Hail Fog/Mist\" || msg.payload === \"Light Thunderstorm Rain Hail Fog/Mist\" || msg.payload === \"Heavy Thunderstorm Rain Hail Fog/Hail\" || msg.payload === \"Thunderstorm Showers in Vicinity Hail\" || msg.payload === \"Light Thunderstorm Rain Hail Haze\" || msg.payload === \"Heavy Thunderstorm Rain Hail Haze\" || msg.payload === \"Thunderstorm Hail Fog\" || msg.payload === \"Light Thunderstorm Rain Hail Fog\" || msg.payload === \"Heavy Thunderstorm Rain Hail Fog\" || msg.payload === \"Thunderstorm Light Rain Hail\" || msg.payload === \"Thunderstorm Heavy Rain Hail\" || msg.payload === \"Thunderstorm Rain Hail Fog/Mist\" || msg.payload === \"Thunderstorm Light Rain Hail Fog/Mist\" || msg.payload === \"Thunderstorm Heavy Rain Hail Fog/Mist\" || msg.payload === \"Thunderstorm in Vicinity Hail\" || msg.payload === \"Thunderstorm in Vicinity Hail Haze\" || msg.payload === \"Thunderstorm Haze in Vicinity Hail\" || msg.payload === \"Thunderstorm Light Rain Hail Haze\" || msg.payload === \"Thunderstorm Heavy Rain Hail Haze\" || msg.payload === \"Thunderstorm Hail Fog\" || msg.payload === \"Thunderstorm Light Rain Hail Fog\" || msg.payload === \"Thunderstorm Heavy Rain Hail Fog\" || msg.payload === \"Thunderstorm Small Hail/Snow Pellets\" || msg.payload === \"Thunderstorm Rain Small Hail/Snow Pellets\" || msg.payload === \"Light Thunderstorm Rain Small Hail/Snow Pellets\" || msg.payload === \"Heavy Thunderstorm Rain Small Hail/Snow Pellets\" || msg.payload === \"Thunder\" || msg.payload === \"Thunderstorms\" || msg.payload === \"Thunderstorm in Vicinity\" || msg.payload === \"Thunderstorm in Vicinity\" || msg.payload === \"Thunderstorm in Vicinity Fog\" || msg.payload === \"Thunderstorm in Vicinity Haze\"){\n    msg.payload = \"Thunder\";\n}\nelse if (msg.payload === \"Funnel Cloud\" || msg.payload === \"Funnel Cloud in Vicinity\" || msg.payload === \"Tornado/Water Spout\" || msg.payload === \"Tornado\"){\n    msg.payload = \"Tornado\";\n}\nelse if (msg.payload === \"Hurricane Warning\" || msg.payload === \"Tropical Storm Conditions presently exist w/Hurricane Warning in effect\"){\n    msg.payload = \"Hurricane Warning\";\n}\nelse if (msg.payload === \"Hurricane Watch\"){\n    msg.payload = \"Hurricane Watch\";\n}\nelse if (msg.payload === \"Tropical Storm Warning\"){\n    msg.payload = \"Tropical Storm Warning\";\n}\nelse if (msg.payload === \"Tropical Storm Watch\"){\n    msg.payload = \"Tropical Storm Watch\";\n}\n\nelse if (msg.payload === \"Windy\" || msg.payload === \"Breezy\" || msg.payload === \"Fair and Windy\" || msg.payload === \"A Few Clouds and Windy\"){\n    msg.payload = \"Windy\";\n}\nelse if (msg.payload === \"Partly Cloudy and Windy\"){\n    msg.payload = \"Partly Cloudy Windy\";\n}\nelse if (msg.payload === \"Mostly Cloudy and Windy\"){\n    msg.payload = \"Mostly Cloudy Windy\";\n}\nelse if (msg.payload === \"Overcast and Windy\"){\n    msg.payload = \"Overcast Windy\";\n}\nelse if (msg.payload === \"Dust\" || msg.payload === \"Low Drifting Dust\" || msg.payload === \"Blowing Dust\" || msg.payload === \"Sand\" || msg.payload === \"Blowing Sand\" || msg.payload === \"Low Drifting Sand\" || msg.payload === \"Dust/Sand Whirls\" || msg.payload === \"Dust/Sand Whirls in Vicinity\" || msg.payload === \"Dust Storm\" || msg.payload === \"Heavy Dust Storm\" || msg.payload === \"Dust Storm in Vicinity\" || msg.payload === \"Sand Storm\" || msg.payload === \"Heavy Sand Storm\" || msg.payload === \"Sand Storm in Vicinity\"){\n    msg.payload = \"Dust\";\n}\nelse if (msg.payload === \"Smoke\"){\n    msg.payload = \"Smoke\";\n}\nelse if (msg.payload === \"Haze\"){\n    msg.payload = \"Haze\";\n}\nelse if (msg.payload === \"Hot\"){\n    msg.payload = \"Hot\";\n}\nelse if (msg.payload === \"Cold\"){\n    msg.payload = \"Cold\";\n}\nelse if (msg.payload === \"Blizzard\"){\n    msg.payload = \"Blizzard\";\n}\nelse if (msg.payload === \"Fog/Mist\" || msg.payload === \"Freezing Fog\" || msg.payload === \"Shallow Fog\" || msg.payload === \"Partial Fog\" || msg.payload === \"Patches of Fog\" || msg.payload === \"Fog in Vicinity\" || msg.payload === \"Freezing Fog in Vicinity\" || msg.payload === \"Shallow Fog in Vicinity\" || msg.payload === \"Partial Fog in Vicinity\" || msg.payload === \"Patches of Fog in Vicinity\" || msg.payload === \"Showers in Vicinity Fog\" || msg.payload === \"Light Freezing Fog\" || msg.payload === \"Heavy Freezing Fog\"){\n    msg.payload = \"Fog\";\n}\nelse {\n\tmsg.payload = \"Unknown\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":2140,"wires":[["d5d7bb8d.d122a8"]]},{"id":"48a7de63.6d333","type":"switch","z":"eb7edf39.c3cd6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Hot","vt":"str"},{"t":"eq","v":"Cold","vt":"str"},{"t":"eq","v":"Rain","vt":"str"},{"t":"eq","v":"Light Rain","vt":"str"},{"t":"eq","v":"Clear","vt":"str"},{"t":"eq","v":"Partly Cloudy","vt":"str"},{"t":"eq","v":"Mostly Cloudy","vt":"str"},{"t":"eq","v":"Overcast","vt":"str"},{"t":"eq","v":"Thunder","vt":"str"},{"t":"eq","v":"Thunder Night","vt":"str"},{"t":"eq","v":"Blizzard","vt":"str"},{"t":"eq","v":"Snow","vt":"str"},{"t":"eq","v":"Unknown","vt":"str"},{"t":"eq","v":"Fog","vt":"str"},{"t":"eq","v":"Tornado","vt":"str"},{"t":"eq","v":"Hurricane Warning","vt":"str"},{"t":"eq","v":"Dust","vt":"str"},{"t":"eq","v":"Night Clear","vt":"str"},{"t":"eq","v":"Sunset","vt":"str"},{"t":"eq","v":"Sunrise","vt":"str"},{"t":"eq","v":"Danger","vt":"str"}],"checkall":"true","repair":false,"outputs":21,"x":530,"y":2340,"wires":[["a94d3ea1.c2ba"],["8abc9ed7.2160f"],["1b0ec472.e3dcec"],["72fd6fc7.2bfe"],["4fa9ae4d.64b88"],["571e0ba2.825644"],["f94e56d6.9908e8"],["15840978.928217"],["e9e2b00a.6750e"],["b4231690.d780a8"],["ea367770.05c7f8"],["c8d01d2d.c1d7a"],["710d94a8.66d1ac"],["8ced8a48.d7e8b8"],["b63884b4.94a908"],["3ec17608.ea09ea"],["d1c7beb2.aa493"],["67ae1488.b43dec"],["e420d3e5.c5a6e"],["6732adca.112404"],["a32c0035.5bff5"]]},{"id":"a94d3ea1.c2ba","type":"change","z":"eb7edf39.c3cd6","name":"Hot","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[255,208,0],[255,121,18],[0,0,0]],\"fx\":2,\"sx\":45,\"ix\":109,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":18,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":4,\"start\":22,\"stop\":28,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":32,\"stop\":38,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":42,\"stop\":48,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":52,\"stop\":58,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":8,\"start\":62,\"stop\":68,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":9,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,160,0],[255,200,0],[0,0,0]],\"fx\":102,\"sx\":0,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":2140,"wires":[["72714597.e6b08c"]]},{"id":"8abc9ed7.2160f","type":"change","z":"eb7edf39.c3cd6","name":"Cold","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[49,179,255],[0,9,189],[0,0,0]],\"fx\":2,\"sx\":45,\"ix\":109,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":18,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":4,\"start\":22,\"stop\":28,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":32,\"stop\":38,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":42,\"stop\":48,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":52,\"stop\":58,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":8,\"start\":62,\"stop\":68,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":9,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,81,255],[75,144,173],[0,0,0]],\"fx\":102,\"sx\":0,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":2140,"wires":[["72714597.e6b08c"]]},{"id":"1b0ec472.e3dcec","type":"change","z":"eb7edf39.c3cd6","name":"Rain","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[32,118,168],[107,116,120],[0,0,0]],\"fx\":2,\"sx\":45,\"ix\":40,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":18,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":4,\"start\":22,\"stop\":28,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":32,\"stop\":38,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":42,\"stop\":48,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":52,\"stop\":58,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":8,\"start\":62,\"stop\":68,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":9,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":2180,"wires":[["72714597.e6b08c"]]},{"id":"72fd6fc7.2bfe","type":"change","z":"eb7edf39.c3cd6","name":"Light Rain","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[32,118,168],[107,116,120],[0,0,0]],\"fx\":2,\"sx\":45,\"ix\":40,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":18,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":4,\"start\":22,\"stop\":28,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":32,\"stop\":38,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":42,\"stop\":48,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":52,\"stop\":58,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":8,\"start\":62,\"stop\":68,\"len\":6,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":9,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[13,25,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":2180,"wires":[["72714597.e6b08c"]]},{"id":"4fa9ae4d.64b88","type":"change","z":"eb7edf39.c3cd6","name":"Clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":2,\"sx\":23,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[240,255,145],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":true,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":2,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":2220,"wires":[["72714597.e6b08c"]]},{"id":"571e0ba2.825644","type":"change","z":"eb7edf39.c3cd6","name":"Partly Cloudy","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[43,132,255],[84,187,232],[0,0,0]],\"fx\":2,\"sx\":23,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[240,255,145],[171,171,171],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":2220,"wires":[["72714597.e6b08c"]]},{"id":"f94e56d6.9908e8","type":"change","z":"eb7edf39.c3cd6","name":"Mostly Cloudy","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[79,146,255],[150,148,156],[0,0,0]],\"fx\":15,\"sx\":19,\"ix\":45,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[240,255,145],[171,171,171],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":2260,"wires":[["72714597.e6b08c"]]},{"id":"15840978.928217","type":"change","z":"eb7edf39.c3cd6","name":"Overcast","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[161,164,191],[105,104,110],[0,0,0]],\"fx\":15,\"sx\":19,\"ix\":45,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[151,153,107],[171,171,171],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[130,136,158],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[130,136,158],[142,142,156],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,106,255],[0,174,232],[0,0,0]],\"fx\":96,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":2260,"wires":[["72714597.e6b08c"]]},{"id":"e9e2b00a.6750e","type":"change","z":"eb7edf39.c3cd6","name":"Thunder","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[43,43,43],[0,0,0]],\"fx\":57,\"sx\":145,\"ix\":119,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[48,48,48],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":2300,"wires":[["72714597.e6b08c"]]},{"id":"b4231690.d780a8","type":"change","z":"eb7edf39.c3cd6","name":"Thunder Night","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,115],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,115],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":57,\"sx\":145,\"ix\":119,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":2300,"wires":[["72714597.e6b08c"]]},{"id":"ea367770.05c7f8","type":"change","z":"eb7edf39.c3cd6","name":"Blizzard","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[128,128,128],[224,224,224],[0,0,0]],\"fx\":80,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[128,128,128],[224,224,224],[0,0,0]],\"fx\":80,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[207,207,207],[128,128,128],[0,0,0]],\"fx\":15,\"sx\":133,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[128,128,128],[224,224,224],[0,0,0]],\"fx\":80,\"sx\":190,\"ix\":171,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":2340,"wires":[["72714597.e6b08c"]]},{"id":"c8d01d2d.c1d7a","type":"change","z":"eb7edf39.c3cd6","name":"Snow","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":10,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":10,\"stop\":18,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":3,\"start\":22,\"stop\":30,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":30,\"stop\":38,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":5,\"start\":42,\"stop\":50,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":6,\"start\":50,\"stop\":58,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":7,\"start\":62,\"stop\":70,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":8,\"start\":70,\"stop\":80,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[150,150,150],[0,0,0]],\"fx\":96,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":2340,"wires":[["72714597.e6b08c"]]},{"id":"710d94a8.66d1ac","type":"change","z":"eb7edf39.c3cd6","name":"Unknown","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":10,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":10,\"stop\":18,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":3,\"start\":22,\"stop\":30,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":30,\"stop\":38,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":5,\"start\":42,\"stop\":50,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":6,\"start\":50,\"stop\":58,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":7,\"start\":62,\"stop\":70,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":8,\"start\":70,\"stop\":80,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[64,0,0],[150,150,150],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":2380,"wires":[["72714597.e6b08c"]]},{"id":"72714597.e6b08c","type":"link out","z":"eb7edf39.c3cd6","name":"","links":["ac6af46.7d2bb08","3acaa702.6c8698","5e90f9a5.da7628"],"x":1155,"y":2460,"wires":[]},{"id":"f9e3a3f5.45032","type":"link out","z":"eb7edf39.c3cd6","name":"","links":["13ce5131.a616ef"],"x":915,"y":900,"wires":[]},{"id":"13ce5131.a616ef","type":"link in","z":"eb7edf39.c3cd6","name":"Animation Selection In","links":["f9e3a3f5.45032","20b55eb6.e53ab2","f1996baa.bf5a88"],"x":35,"y":2140,"wires":[["b15c9f8d.b4cf5"]]},{"id":"54bb9df.c730564","type":"inject","z":"eb7edf39.c3cd6","name":"Manual Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1000,"wires":[["266e659d.50bf1a"]]},{"id":"b110734f.7a115","type":"debug","z":"eb7edf39.c3cd6","name":"Latest Conditions","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":940,"wires":[]},{"id":"b03ed409.1a4a58","type":"debug","z":"eb7edf39.c3cd6","name":"Animation Select","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":2300,"wires":[]},{"id":"156e9629.6af50a","type":"link out","z":"eb7edf39.c3cd6","name":"","links":["843b9443.52cdf8"],"x":855,"y":980,"wires":[]},{"id":"843b9443.52cdf8","type":"link in","z":"eb7edf39.c3cd6","name":"current in","links":["156e9629.6af50a"],"x":35,"y":1320,"wires":[["17e0750e.529f5b"]]},{"id":"17e0750e.529f5b","type":"function","z":"eb7edf39.c3cd6","name":"C to F","func":"var tempC = msg.payload;\nvar tempF = (tempC*1.8)+32;\nmsg.payload = tempF;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":1320,"wires":[["49f02840.ed8928","f34ef4c1.3769c8"]]},{"id":"f34ef4c1.3769c8","type":"function","z":"eb7edf39.c3cd6","name":"Temp to Hue","func":"var TempF = msg.payload\nvar Hue = [0,100,100];\nvar hue = -(0.0000000851493794154907*(Math.pow(TempF,5)))+(0.0000136269369035499*(Math.pow(TempF,4)))-(0.00000489267815373005*(Math.pow(TempF,3)))-(0.0571454349276795*(Math.pow(TempF,2)))-(1.76044127906889*(TempF))+264.176768774735\nHue[0] = hue\nvar daynight = flow.get(\"daynight\")\nif (daynight === \"day\"){\n    Hue[2] = 100\n}\nelse if (daynight === \"night\"){\n    Hue[2] = 40\n}\nmsg.payload = Hue\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":1320,"wires":[["430aa750.059f28","ff45ee3b.bb8a3"]]},{"id":"430aa750.059f28","type":"color-convert","z":"eb7edf39.c3cd6","input":"hsv","output":"rgb","outputType":"array","scaleInput":false,"x":470,"y":1320,"wires":[["83c5aa2d.4f3968","2b62a69c.2d7ada"]]},{"id":"c94238f2.432458","type":"function","z":"eb7edf39.c3cd6","name":"form message","func":"var temp = msg.payload;\nvar message =  '{\"mainseg\":0,\"seg\":[{\"id\":0,\"col\":[['\nvar num = temp[0];\nvar n = num.toString();\nmessage = message.concat(n);\nnum = temp[1];\nn = num.toString();\nvar m = \",\";\nmessage = message.concat(m);\nmessage = message.concat(n);\nmessage = message.concat(m);\nnum = temp[2];\nn = num.toString();\nmessage = message.concat(n);\nvar p = \"],[0,0,0],[0,0,0]]}]}\"\nvar mess = message.concat(p)\nmsg.payload = mess;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":1300,"wires":[["ecf390cd.89a13","401706cc.0d6118"]]},{"id":"ecf390cd.89a13","type":"debug","z":"eb7edf39.c3cd6","name":"Tri Color Message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":1360,"wires":[]},{"id":"401706cc.0d6118","type":"link out","z":"eb7edf39.c3cd6","name":"","links":["ac6af46.7d2bb08","3acaa702.6c8698","5e90f9a5.da7628"],"x":1195,"y":1300,"wires":[]},{"id":"41500fdc.284f6","type":"link in","z":"eb7edf39.c3cd6","name":"MQTT In","links":["74126363.a731ec","726c834c.45276c","1c9a5ca.f144fa3"],"x":35,"y":1760,"wires":[["c0cc16a7.6c3358"]]},{"id":"87fdd30d.edb78","type":"comment","z":"eb7edf39.c3cd6","name":"Forecast Mode","info":"","x":320,"y":1720,"wires":[]},{"id":"89ae789e.7ddff8","type":"comment","z":"eb7edf39.c3cd6","name":"Temp Band Mode","info":"","x":320,"y":1840,"wires":[]},{"id":"1af4582a.34f508","type":"comment","z":"eb7edf39.c3cd6","name":"Startup","info":"","x":290,"y":1600,"wires":[]},{"id":"c0cc16a7.6c3358","type":"switch","z":"eb7edf39.c3cd6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"#010000","vt":"str"},{"t":"eq","v":"#000100","vt":"str"},{"t":"eq","v":"#000001","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":130,"y":1760,"wires":[["ac64c2ed.0d5dd"],["ff1bbbee.fe1ea8"],["b3cbb5fb.310c18"]]},{"id":"ac64c2ed.0d5dd","type":"change","z":"eb7edf39.c3cd6","name":"set to timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1640,"wires":[["bd35a9a3.7d6178","bb61e5f8.c66be8"]]},{"id":"bd35a9a3.7d6178","type":"link out","z":"eb7edf39.c3cd6","name":"Startup Propmpt","links":["c4f423cf.3d32","6e7380b2.aa5e3"],"x":455,"y":1640,"wires":[]},{"id":"c398e3b.c5a252","type":"link in","z":"eb7edf39.c3cd6","name":"forecast in","links":["4660bd86.20b654","9a7f1bd5.82dc98","eefed879.10b948"],"x":55,"y":1100,"wires":[["752cef88.cbf43","e9b74f0.0db81b"]]},{"id":"752cef88.cbf43","type":"change","z":"eb7edf39.c3cd6","name":"Weather Extraction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.periods[2].shortForecast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":1160,"wires":[["42b396d9.f8a398","29555862.b8faf8"]]},{"id":"e9b74f0.0db81b","type":"change","z":"eb7edf39.c3cd6","name":"Temp Extraction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.periods[2].temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":1100,"wires":[["42b396d9.f8a398","3ac6e41a.53614c"]]},{"id":"20b55eb6.e53ab2","type":"link out","z":"eb7edf39.c3cd6","name":"","links":["13ce5131.a616ef"],"x":775,"y":1140,"wires":[]},{"id":"42b396d9.f8a398","type":"debug","z":"eb7edf39.c3cd6","name":"Forecast","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":1100,"wires":[]},{"id":"e723870a.63d958","type":"link out","z":"eb7edf39.c3cd6","name":"","links":["89c9a91b.1cbc28"],"x":535,"y":1100,"wires":[]},{"id":"e3b96e8c.6ea1e","type":"comment","z":"eb7edf39.c3cd6","name":"Forecast Parsing","info":"","x":100,"y":1060,"wires":[]},{"id":"89c9a91b.1cbc28","type":"link in","z":"eb7edf39.c3cd6","name":"Forecast in","links":["e723870a.63d958","9270f39a.1c752"],"x":135,"y":1360,"wires":[["f34ef4c1.3769c8"]]},{"id":"81ac8bd8.374628","type":"change","z":"eb7edf39.c3cd6","name":"reset message","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":2020,"wires":[["e65163c4.7850e"]]},{"id":"ff1bbbee.fe1ea8","type":"change","z":"eb7edf39.c3cd6","name":"set to timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1760,"wires":[["81ac8bd8.374628","b6592300.026a","881f6c7b.87dbe"]]},{"id":"fb658b0b.a9a318","type":"link out","z":"eb7edf39.c3cd6","name":"forecast trigger","links":["7753a37f.d08c3c","b7b1d0b8.25939","3e09ddd3.d96bc2"],"x":855,"y":1760,"wires":[]},{"id":"e65163c4.7850e","type":"link out","z":"eb7edf39.c3cd6","name":"reset trigger","links":["7315d754.8b49e8","c4f423cf.3d32"],"x":675,"y":2020,"wires":[]},{"id":"2fd44466.916fcc","type":"comment","z":"eb7edf39.c3cd6","name":"Tri Band Function","info":"","x":100,"y":1440,"wires":[]},{"id":"b6592300.026a","type":"change","z":"eb7edf39.c3cd6","name":"","rules":[{"t":"set","p":"source","pt":"msg","to":"forecast","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1760,"wires":[["687b6591.9d121c","7235d72.ed37e28"]]},{"id":"6ec211ef.2fb52","type":"change","z":"eb7edf39.c3cd6","name":"","rules":[{"t":"set","p":"source","pt":"msg","to":"tricolor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1880,"wires":[["26c29cd2.88b4f4","2e83685b.0378d8"]]},{"id":"869796bc.92fc58","type":"link in","z":"eb7edf39.c3cd6","name":"tricolor in","links":["196b2c4b.dfc514","92ff5880.320378","8161013b.a5fca"],"x":35,"y":1480,"wires":[["d3e982a4.60063"]]},{"id":"266e659d.50bf1a","type":"function","z":"eb7edf39.c3cd6","name":"Set User Agent ","func":"msg.headers = {};\nmsg.headers['USER-AGENT'] = 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":940,"wires":[["c25b6fe.1e3759"]]},{"id":"687b6591.9d121c","type":"function","z":"eb7edf39.c3cd6","name":"Set User Agent ","func":"msg.headers = {};\nmsg.headers['USER-AGENT'] = 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1760,"wires":[["fb658b0b.a9a318"]]},{"id":"26c29cd2.88b4f4","type":"function","z":"eb7edf39.c3cd6","name":"Set User Agent ","func":"msg.headers = {};\nmsg.headers['USER-AGENT'] = 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1880,"wires":[["7b9265dd.ba7a4c"]]},{"id":"b3cbb5fb.310c18","type":"change","z":"eb7edf39.c3cd6","name":"set to timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1880,"wires":[["6ec211ef.2fb52","81ac8bd8.374628","881f6c7b.87dbe"]]},{"id":"7b9265dd.ba7a4c","type":"link out","z":"eb7edf39.c3cd6","name":"forecast trigger","links":["7753a37f.d08c3c","b7b1d0b8.25939","3e09ddd3.d96bc2"],"x":855,"y":1880,"wires":[]},{"id":"fa625064.7d669","type":"comment","z":"eb7edf39.c3cd6","name":"Current Condition Trigger pause/restart","info":"","x":630,"y":1980,"wires":[]},{"id":"d3e982a4.60063","type":"function","z":"eb7edf39.c3cd6","name":"Temperature Message Split","func":"var temp1 = msg.payload.properties.periods[0].temperature\nvar temp2 = msg.payload.properties.periods[1].temperature\nvar temp3 = msg.payload.properties.periods[2].temperature\nvar msg1 = {}\nvar msg2 = {}\nvar msg3 = {}\nmsg1.payload = temp1\nmsg2.payload = temp2\nmsg3.payload = temp3\nreturn [[msg1,msg2,msg3]]\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":1480,"wires":[["7dc6cc9.bb17b34","84da89dd.acc618"]]},{"id":"e5e86998.e176e8","type":"inject","z":"eb7edf39.c3cd6","name":"Manual Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1820,"wires":[["ff1bbbee.fe1ea8"]]},{"id":"3ac6e41a.53614c","type":"change","z":"eb7edf39.c3cd6","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"single","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1100,"wires":[["e723870a.63d958"]]},{"id":"597bc30d.50c65c","type":"change","z":"eb7edf39.c3cd6","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"single","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":980,"wires":[["156e9629.6af50a"]]},{"id":"7dc6cc9.bb17b34","type":"change","z":"eb7edf39.c3cd6","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"tri","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1480,"wires":[["9270f39a.1c752"]]},{"id":"9270f39a.1c752","type":"link out","z":"eb7edf39.c3cd6","name":"","links":["89c9a91b.1cbc28"],"x":535,"y":1480,"wires":[]},{"id":"83c5aa2d.4f3968","type":"switch","z":"eb7edf39.c3cd6","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"tri","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":1320,"wires":[["cc73c723.aa0838","4c6907b2.4a6b68"],["b00cbb43.c3c758"]]},{"id":"b00cbb43.c3c758","type":"link out","z":"eb7edf39.c3cd6","name":"","links":["f128e385.d2ad6"],"x":795,"y":1340,"wires":[]},{"id":"f128e385.d2ad6","type":"link in","z":"eb7edf39.c3cd6","name":"","links":["b00cbb43.c3c758"],"x":595,"y":1480,"wires":[["4b0d39ca.1f75a8"]]},{"id":"c2837f07.8b8b5","type":"debug","z":"eb7edf39.c3cd6","name":"tri color formed message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":1520,"wires":[]},{"id":"ab68df31.db4bc","type":"inject","z":"eb7edf39.c3cd6","name":"Manual Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1880,"wires":[["b3cbb5fb.310c18"]]},{"id":"49f02840.ed8928","type":"debug","z":"eb7edf39.c3cd6","name":"c to f","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":1360,"wires":[]},{"id":"ff45ee3b.bb8a3","type":"debug","z":"eb7edf39.c3cd6","name":"temp to hue","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":1360,"wires":[]},{"id":"2b62a69c.2d7ada","type":"debug","z":"eb7edf39.c3cd6","name":"hsv to rgb","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":1360,"wires":[]},{"id":"84da89dd.acc618","type":"debug","z":"eb7edf39.c3cd6","name":"tri function","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":1520,"wires":[]},{"id":"4b0d39ca.1f75a8","type":"join","z":"eb7edf39.c3cd6","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"-","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":1480,"wires":[["99b1daad.3268a8"]]},{"id":"99b1daad.3268a8","type":"function","z":"eb7edf39.c3cd6","name":"Message Forming","func":"var bands = msg.payload.split(\"-\")\nvar message = '{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(bands[0])\nvar next = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":125,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":17,\"stop\":79,\"len\":62,\"grp\":6,\"spc\":14,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(next)\nmessage = message.concat(bands[0])\nnext = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":125,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":3,\"stop\":79,\"len\":76,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(next)\nmessage = message.concat(bands[1])\nnext = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":125,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":13,\"stop\":79,\"len\":66,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(next)\nmessage = message.concat(bands[1])\nnext = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":125,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":7,\"stop\":79,\"len\":72,\"grp\":6,\"spc\":14,\"on\":true,\"bri\":255,\"col\":[['\nmessage = message.concat(next)\nmessage = message.concat(bands[2])\nnext = '],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}'\nmessage = message.concat(next)\nmsg.payload = message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":1480,"wires":[["c2837f07.8b8b5","de90fa18.7a4f08"]]},{"id":"de90fa18.7a4f08","type":"link out","z":"eb7edf39.c3cd6","name":"Tri-Color-json_out","links":["ac6af46.7d2bb08","3acaa702.6c8698","5e90f9a5.da7628"],"x":1035,"y":1480,"wires":[]},{"id":"bb61e5f8.c66be8","type":"function","z":"eb7edf39.c3cd6","name":"Set Startup Variables","func":"var startTemp = flow.set(\"startTemp\",0)\nvar startCond = flow.set(\"startCond\",0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1680,"wires":[[]]},{"id":"4b8cac3.8f17154","type":"inject","z":"eb7edf39.c3cd6","name":"Manual Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1640,"wires":[["ac64c2ed.0d5dd"]]},{"id":"7235d72.ed37e28","type":"function","z":"eb7edf39.c3cd6","name":"Check Variables","func":"var startTemp = flow.set(\"startTemp\",0)\nvar startCond = flow.set(\"startCond\",0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1800,"wires":[[]]},{"id":"2e83685b.0378d8","type":"function","z":"eb7edf39.c3cd6","name":"Check Variables","func":"var startTemp = flow.set(\"startTemp\",0)\nvar startCond = flow.set(\"startCond\",0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1920,"wires":[[]]},{"id":"9b1ba365.dbe98","type":"link in","z":"eb7edf39.c3cd6","name":"current trigger in","links":["770848c8.73efd8","ba4c7b57.b558e8","e82f7af.ec90b88"],"x":55,"y":940,"wires":[["266e659d.50bf1a"]]},{"id":"881f6c7b.87dbe","type":"link out","z":"eb7edf39.c3cd6","name":"delay out","links":["cf4528d6.aa43a8","860cda84.6214f8"],"x":495,"y":2060,"wires":[]},{"id":"d5d7bb8d.d122a8","type":"function","z":"eb7edf39.c3cd6","name":"Change Check","func":"var check = flow.get(\"startCond\")\nif (check === 0){\n    flow.set(\"startCond\",1)\n    flow.set(\"currentCond\",msg.payload)\n    return msg;\n}\nelse if (check === 1){\n    var pastCond = flow.get(\"currentCond\")\n    if (pastCond === msg.payload){\n        \n    }\n    else {\n        flow.set(\"currentCond\",msg.payload)\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":2260,"wires":[["48a7de63.6d333","b03ed409.1a4a58"]]},{"id":"cc73c723.aa0838","type":"function","z":"eb7edf39.c3cd6","name":"Temp Change Check","func":"var RGB = msg.payload\nvar check = flow.get(\"startTemp\")\nvar msg1 = {}\nvar msg2 = {}\n\nif (check === 0){\n    flow.set(\"startTemp\",1)\n    flow.set(\"currentTemp0\",RGB[0])\n    flow.set(\"currentTemp1\",RGB[1])\n    flow.set(\"currentTemp2\",RGB[2])\n    msg1.payload = RGB\n    msg2.payload = \"passed check 0\"\n    return [msg1,msg2]\n}\nelse if (check === 1){\n    var pastTemp0 = flow.get(\"currentTemp0\")\n    var pastTemp1 = flow.get(\"currentTemp1\")\n    var pastTemp2 = flow.get(\"currentTemp2\")\n    if (pastTemp0 === RGB[0] && pastTemp1 === RGB[1] && pastTemp2 === RGB[2]){\n        msg2.payload = \"skipped\"\n        return [null,msg2]\n    }\n    else {\n        flow.set(\"startTemp\",1)\n        flow.set(\"currentTemp0\",RGB[0])\n        flow.set(\"currentTemp1\",RGB[1])\n        flow.set(\"currentTemp2\",RGB[2])\n        msg1.payload = RGB\n        msg2.payload = RGB\n        return [msg1,msg2]\n    }\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":840,"y":1300,"wires":[["c94238f2.432458"],["4c6907b2.4a6b68"]]},{"id":"29555862.b8faf8","type":"function","z":"eb7edf39.c3cd6","name":"Multi Forecast Split","func":"var forecast = msg.payload.split(\" then \");\n\nvar msg1 = {}\nvar msg2 = {}\n\nif (forecast.length === 1){\n    msg1.payload = forecast[0]\n    return [msg1,null,null]\n}\nelse {\n    msg1.payload = forecast[0]\n    msg2.payload = forecast[1]\n    return [null,msg1,msg2]\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","x":430,"y":1160,"wires":[["20b55eb6.e53ab2","caf0664c.22c218"],["74549561.6c3ddc"],["ed71e610.c0a5a8"]]},{"id":"ed71e610.c0a5a8","type":"delay","z":"eb7edf39.c3cd6","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":1220,"wires":[["20b55eb6.e53ab2","715a2fd3.3658"]]},{"id":"74549561.6c3ddc","type":"trigger","z":"eb7edf39.c3cd6","name":"","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":630,"y":1180,"wires":[["20b55eb6.e53ab2","52f9dc94.4919a4"]]},{"id":"b1815051.975e","type":"http request","z":"eb7edf39.c3cd6","name":"Weather API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.weather.gov/stations/KBOS/observations/latest","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":120,"wires":[["3b755fbe.33cd2","aeb224d2.fbb708"]]},{"id":"933996ae.452918","type":"mqtt in","z":"eb7edf39.c3cd6","name":"MQTT Config","topic":"wled/weather/c","qos":"2","datatype":"auto","broker":"59077617.b35628","x":90,"y":60,"wires":[["1c9a5ca.f144fa3","d348c8d2.6fea78"]]},{"id":"76fb1aa9.109f34","type":"comment","z":"eb7edf39.c3cd6","name":"User defined Variables =======================================================================================================","info":"","x":540,"y":20,"wires":[]},{"id":"3b755fbe.33cd2","type":"debug","z":"eb7edf39.c3cd6","name":"Current Conditions Raw","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":120,"wires":[]},{"id":"ecf75343.0569e","type":"link in","z":"eb7edf39.c3cd6","name":"","links":["c25b6fe.1e3759"],"x":35,"y":120,"wires":[["b1815051.975e"]]},{"id":"3e09ddd3.d96bc2","type":"link in","z":"eb7edf39.c3cd6","name":"","links":["fb658b0b.a9a318","7b9265dd.ba7a4c"],"x":35,"y":180,"wires":[["f9eeae56.26a4b"]]},{"id":"f9eeae56.26a4b","type":"http request","z":"eb7edf39.c3cd6","name":"Forecast API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.weather.gov/gridpoints/GYX/72,76/forecast","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":180,"wires":[["40c0274.700c6d8","18fea3e4.ff1a7c"]]},{"id":"aeb224d2.fbb708","type":"link out","z":"eb7edf39.c3cd6","name":"","links":["482cc47.1cf9b3c"],"x":275,"y":140,"wires":[]},{"id":"22be18ec.a2b5b8","type":"http request","z":"eb7edf39.c3cd6","name":"WLED JSON Send","method":"POST","ret":"txt","paytoqs":"ignore","url":"192.168.0.33\\json\\state","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":240,"wires":[["bba0a98f.614cd8"]]},{"id":"5e90f9a5.da7628","type":"link in","z":"eb7edf39.c3cd6","name":"","links":["72714597.e6b08c","401706cc.0d6118","de90fa18.7a4f08","48f1622.55f5f9c","3bb47b00.dbb604"],"x":35,"y":240,"wires":[["22be18ec.a2b5b8"]]},{"id":"bba0a98f.614cd8","type":"debug","z":"eb7edf39.c3cd6","name":"Send Confirmation","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":240,"wires":[]},{"id":"1c9a5ca.f144fa3","type":"link out","z":"eb7edf39.c3cd6","d":true,"name":"MQTT Out","links":["41500fdc.284f6"],"x":215,"y":80,"wires":[]},{"id":"d348c8d2.6fea78","type":"debug","z":"eb7edf39.c3cd6","name":"MQTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":60,"wires":[]},{"id":"eefed879.10b948","type":"link out","z":"eb7edf39.c3cd6","name":"forecast out","links":["c398e3b.c5a252"],"x":435,"y":160,"wires":[]},{"id":"40c0274.700c6d8","type":"debug","z":"eb7edf39.c3cd6","name":"Forecast Raw","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":180,"wires":[]},{"id":"18fea3e4.ff1a7c","type":"switch","z":"eb7edf39.c3cd6","name":"","property":"source","propertyType":"msg","rules":[{"t":"eq","v":"forecast","vt":"str"},{"t":"eq","v":"tricolor","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":180,"wires":[["eefed879.10b948"],["8161013b.a5fca"]]},{"id":"8161013b.a5fca","type":"link out","z":"eb7edf39.c3cd6","name":"tricolor out","links":["869796bc.92fc58"],"x":435,"y":200,"wires":[]},{"id":"a2142077.75886","type":"trigger","z":"eb7edf39.c3cd6","d":true,"name":"Update Trigger","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"-5","extend":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":180,"y":340,"wires":[["abc5979a.9f8928"]]},{"id":"c4f423cf.3d32","type":"link in","z":"eb7edf39.c3cd6","name":"Current Trigger Start","links":["22d44fc5.8ed7e","bd35a9a3.7d6178","e65163c4.7850e","6e28c5ea.1b880c"],"x":35,"y":340,"wires":[["a2142077.75886"]]},{"id":"abc5979a.9f8928","type":"link out","z":"eb7edf39.c3cd6","name":"","links":["76ed55bb.82403c"],"x":335,"y":340,"wires":[]},{"id":"333c3cb8.e84274","type":"inject","z":"eb7edf39.c3cd6","name":"manual start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":400,"wires":[["a2142077.75886"]]},{"id":"a9d06c62.a945f","type":"delay","z":"eb7edf39.c3cd6","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":580,"y":340,"wires":[["6e28c5ea.1b880c"]]},{"id":"6e28c5ea.1b880c","type":"link out","z":"eb7edf39.c3cd6","name":"restart trigger","links":["c4f423cf.3d32"],"x":695,"y":340,"wires":[]},{"id":"860cda84.6214f8","type":"link in","z":"eb7edf39.c3cd6","name":"delay in","links":["881f6c7b.87dbe"],"x":455,"y":340,"wires":[["a9d06c62.a945f"]]},{"id":"96236efc.77e7d","type":"comment","z":"eb7edf39.c3cd6","name":"Save State Setup Lines","info":"","x":120,"y":560,"wires":[]},{"id":"ca2f97b4.362858","type":"change","z":"eb7edf39.c3cd6","name":"Save State 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":80,\"len\":80,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[1,0,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":0},{\"id\":2,\"start\":0,\"stop\":0},{\"id\":3,\"start\":0,\"stop\":0},{\"id\":4,\"start\":0,\"stop\":0},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":600,"wires":[["48f1622.55f5f9c"]]},{"id":"2acfd4ee.5b374c","type":"inject","z":"eb7edf39.c3cd6","name":"Save State 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":600,"wires":[["ca2f97b4.362858"]]},{"id":"6e44a91d.daefc8","type":"change","z":"eb7edf39.c3cd6","name":"Save State 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":80,\"len\":80,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,1,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":0},{\"id\":2,\"start\":0,\"stop\":0},{\"id\":3,\"start\":0,\"stop\":0},{\"id\":4,\"start\":0,\"stop\":0},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":640,"wires":[["48f1622.55f5f9c"]]},{"id":"b98789f.1ab5e78","type":"inject","z":"eb7edf39.c3cd6","name":"Save State 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":640,"wires":[["6e44a91d.daefc8"]]},{"id":"2381ca8d.96d1f6","type":"change","z":"eb7edf39.c3cd6","name":"Save State 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":0,\"stop\":80,\"len\":80,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,1],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":0},{\"id\":2,\"start\":0,\"stop\":0},{\"id\":3,\"start\":0,\"stop\":0},{\"id\":4,\"start\":0,\"stop\":0},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":680,"wires":[["48f1622.55f5f9c"]]},{"id":"37a39440.3cc0bc","type":"inject","z":"eb7edf39.c3cd6","name":"Save State 3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":680,"wires":[["2381ca8d.96d1f6"]]},{"id":"48f1622.55f5f9c","type":"link out","z":"eb7edf39.c3cd6","name":"","links":["5e90f9a5.da7628"],"x":415,"y":640,"wires":[]},{"id":"ee43ebba.f09c78","type":"comment","z":"eb7edf39.c3cd6","name":"Current Condition polling interval","info":"","x":150,"y":300,"wires":[]},{"id":"a6b2b699.55c9f8","type":"comment","z":"eb7edf39.c3cd6","name":"Current Condition Reactivation Delay","info":"","x":580,"y":300,"wires":[]},{"id":"c82fbd01.f5592","type":"comment","z":"eb7edf39.c3cd6","name":"Main Flow ==============================================================================================================","info":"","x":530,"y":720,"wires":[]},{"id":"8ced8a48.d7e8b8","type":"change","z":"eb7edf39.c3cd6","name":"Fog","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":18,\"len\":18,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[135,135,135],[224,224,224],[0,0,0]],\"fx\":0,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":2,\"start\":62,\"stop\":80,\"len\":18,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[135,135,135],[224,224,224],[0,0,0]],\"fx\":0,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":3,\"start\":22,\"stop\":38,\"len\":16,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[66,66,66],[0,0,0]],\"fx\":82,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":42,\"stop\":58,\"len\":16,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[66,66,66],[0,0,0]],\"fx\":82,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":2380,"wires":[["72714597.e6b08c"]]},{"id":"b63884b4.94a908","type":"change","z":"eb7edf39.c3cd6","name":"Tornado","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[224,224,224],[0,0,0]],\"fx\":0,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":12,\"stop\":68,\"len\":56,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[105,105,105],[0,0,0]],\"fx\":15,\"sx\":255,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":0,\"stop\":8,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[8,255,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":4,\"start\":72,\"stop\":80,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[8,255,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":2420,"wires":[["72714597.e6b08c"]]},{"id":"3ec17608.ea09ea","type":"change","z":"eb7edf39.c3cd6","name":"Hurricane","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":9,\"stop\":80,\"len\":71,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[224,224,224],[0,0,0]],\"fx\":0,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":7,\"stop\":80,\"len\":73,\"grp\":1,\"spc\":19,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[105,105,105],[0,0,0]],\"fx\":0,\"sx\":255,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":1,\"spc\":19,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[8,255,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":0,\"stop\":7,\"len\":7,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":255,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":73,\"stop\":80,\"len\":7,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[0,0,0],[0,0,0]],\"fx\":96,\"sx\":255,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":13,\"stop\":70,\"len\":57,\"grp\":4,\"spc\":6,\"on\":true,\"bri\":255,\"col\":[[255,255,255],[123,152,166],[0,0,0]],\"fx\":15,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":17,\"stop\":70,\"len\":53,\"grp\":1,\"spc\":19,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[150,150,150],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":8,\"start\":22,\"stop\":70,\"len\":48,\"grp\":1,\"spc\":19,\"on\":true,\"bri\":255,\"col\":[[0,0,255],[150,150,150],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":136,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":2420,"wires":[["72714597.e6b08c"]]},{"id":"d1c7beb2.aa493","type":"change","z":"eb7edf39.c3cd6","name":"Dust","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":18,\"len\":18,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[214,159,77],[224,224,224],[0,0,0]],\"fx\":0,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":62,\"stop\":80,\"len\":18,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[214,159,77],[224,224,224],[0,0,0]],\"fx\":0,\"sx\":210,\"ix\":168,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":22,\"stop\":38,\"len\":16,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[115,80,6],[107,88,42],[0,0,0]],\"fx\":2,\"sx\":20,\"ix\":25,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":4,\"start\":42,\"stop\":58,\"len\":16,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[115,80,6],[107,88,42],[0,0,0]],\"fx\":2,\"sx\":20,\"ix\":25,\"pal\":0,\"sel\":true,\"rev\":false},,{\"id\":5,\"start\":0,\"stop\":0},{\"id\":6,\"start\":0,\"stop\":0},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":2460,"wires":[["72714597.e6b08c"]]},{"id":"caf0664c.22c218","type":"debug","z":"eb7edf39.c3cd6","name":"out 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":1140,"wires":[]},{"id":"52f9dc94.4919a4","type":"debug","z":"eb7edf39.c3cd6","name":"out 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":1180,"wires":[]},{"id":"715a2fd3.3658","type":"debug","z":"eb7edf39.c3cd6","name":"out 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":1220,"wires":[]},{"id":"67ae1488.b43dec","type":"change","z":"eb7edf39.c3cd6","name":"Night Clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":2,\"stop\":80,\"len\":78,\"grp\":6,\"spc\":4,\"on\":true,\"bri\":255,\"col\":[[0,0,0],[255,255,255],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":28,\"stop\":32,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[114,148,137],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":8,\"stop\":12,\"len\":4,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,12,28],[0,23,31],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":48,\"stop\":80,\"len\":32,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[0,12,28],[0,23,31],[0,0,0]],\"fx\":0,\"sx\":0,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":0,\"stop\":2,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,10,23],[0,17,23],[0,0,0]],\"fx\":2,\"sx\":0,\"ix\":23,\"pal\":0,\"sel\":false,\"rev\":true},{\"id\":6,\"start\":78,\"stop\":80,\"len\":2,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[0,10,23],[0,17,23],[0,0,0]],\"fx\":2,\"sx\":108,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":0,\"stop\":0},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":2460,"wires":[["72714597.e6b08c"]]},{"id":"e420d3e5.c5a6e","type":"change","z":"eb7edf39.c3cd6","name":"Sunset","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[46,38,153],[104,0,184],[0,0,0]],\"fx\":2,\"sx\":113,\"ix\":83,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":2,\"start\":6,\"stop\":80,\"len\":74,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[217,39,86],[255,0,13],[0,0,0]],\"fx\":2,\"sx\":101,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[217,39,86],[255,0,13],[0,0,0]],\"fx\":2,\"sx\":101,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":4,\"stop\":80,\"len\":76,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[255,63,5],[255,94,0],[0,0,0]],\"fx\":2,\"sx\":114,\"ix\":109,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":14,\"stop\":80,\"len\":66,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[255,63,5],[255,94,0],[0,0,0]],\"fx\":2,\"sx\":114,\"ix\":109,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":6,\"start\":2,\"stop\":80,\"len\":78,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[255,136,0],[255,174,0],[0,0,0]],\"fx\":2,\"sx\":100,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":16,\"stop\":80,\"len\":64,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[255,136,0],[255,174,0],[0,0,0]],\"fx\":2,\"sx\":100,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":2500,"wires":[["72714597.e6b08c"]]},{"id":"6732adca.112404","type":"change","z":"eb7edf39.c3cd6","name":"Sunrise","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"fx\":0,\"sx\":128,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":8,\"stop\":80,\"len\":72,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[46,38,153],[22,0,66],[0,0,0]],\"fx\":2,\"sx\":113,\"ix\":83,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":2,\"start\":6,\"stop\":80,\"len\":74,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[18,0,217],[0,106,255],[0,0,0]],\"fx\":2,\"sx\":101,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":3,\"start\":12,\"stop\":80,\"len\":68,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[18,0,217],[0,106,255],[0,0,0]],\"fx\":2,\"sx\":101,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":4,\"start\":4,\"stop\":80,\"len\":76,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[204,20,27],[255,141,84],[0,0,0]],\"fx\":2,\"sx\":61,\"ix\":109,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":5,\"start\":14,\"stop\":80,\"len\":66,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[204,20,27],[255,141,84],[0,0,0]],\"fx\":2,\"sx\":61,\"ix\":109,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":6,\"start\":2,\"stop\":80,\"len\":78,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[255,145,0],[255,214,8],[0,0,0]],\"fx\":2,\"sx\":49,\"ix\":255,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":7,\"start\":16,\"stop\":80,\"len\":64,\"grp\":2,\"spc\":18,\"on\":true,\"bri\":255,\"col\":[[255,145,0],[255,214,8],[0,0,0]],\"fx\":2,\"sx\":49,\"ix\":0,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":8,\"start\":0,\"stop\":0},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":2500,"wires":[["72714597.e6b08c"]]},{"id":"42ebcd84.b0f8a4","type":"http request","z":"eb7edf39.c3cd6","name":"Local Alert API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.weather.gov/alerts?active=true&point=42.364897%2C-71.017654","tls":"","persist":false,"proxy":"","authType":"","x":160,"y":480,"wires":[["f11e6a92.96a578"]]},{"id":"c5193fc1.bb81a","type":"debug","z":"eb7edf39.c3cd6","name":"Alerts raw","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":840,"wires":[]},{"id":"b4c3894e.d5a3d8","type":"change","z":"eb7edf39.c3cd6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.features","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":800,"wires":[["8b8b8879.0858e8","ad34dc3f.6f695"]]},{"id":"8b8b8879.0858e8","type":"debug","z":"eb7edf39.c3cd6","name":"Alerts","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":840,"wires":[]},{"id":"3931420d.b9882e","type":"function","z":"eb7edf39.c3cd6","name":"Set User Agent ","func":"msg.headers = {};\nmsg.headers['USER-AGENT'] = 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":800,"wires":[["fb8dabce.7eeac8"]]},{"id":"ad34dc3f.6f695","type":"function","z":"eb7edf39.c3cd6","name":"Alert Check Function","func":"var array = msg.payload\n\nvar msg1 = {}\nvar msg2 = {}\n\nif (Array.isArray(array) && array.length) {\n    msg1.payload = array\n    return [msg1,null]\n}\n\nelse {\n    msg2.payload = \"empty\"\n    return [null,msg2]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":740,"y":800,"wires":[["c1cc5aab.d15108"],["294814e8.99cadc"]]},{"id":"c1cc5aab.d15108","type":"change","z":"eb7edf39.c3cd6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].properties.event","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":780,"wires":[["e03e63e1.8dddd"]]},{"id":"6a5dcc0d.e09bd4","type":"comment","z":"eb7edf39.c3cd6","name":"Local Alerts Check","info":"","x":110,"y":760,"wires":[]},{"id":"76ed55bb.82403c","type":"link in","z":"eb7edf39.c3cd6","name":"Alert In","links":["abc5979a.9f8928"],"x":55,"y":800,"wires":[["3931420d.b9882e"]]},{"id":"fb8dabce.7eeac8","type":"link out","z":"eb7edf39.c3cd6","name":"alert out","links":["7226d9ff.1a9b28"],"x":295,"y":800,"wires":[]},{"id":"7226d9ff.1a9b28","type":"link in","z":"eb7edf39.c3cd6","name":"alert API in","links":["fb8dabce.7eeac8"],"x":35,"y":480,"wires":[["42ebcd84.b0f8a4"]]},{"id":"ca7b0e87.d5f5e","type":"comment","z":"eb7edf39.c3cd6","name":"Local Alerts","info":"","x":90,"y":440,"wires":[]},{"id":"f11e6a92.96a578","type":"link out","z":"eb7edf39.c3cd6","name":"alerts api out","links":["e0e5cbb7.207e88"],"x":285,"y":480,"wires":[]},{"id":"e0e5cbb7.207e88","type":"link in","z":"eb7edf39.c3cd6","name":"alert message in","links":["f11e6a92.96a578"],"x":375,"y":800,"wires":[["b4c3894e.d5a3d8","c5193fc1.bb81a"]]},{"id":"ba4c7b57.b558e8","type":"link out","z":"eb7edf39.c3cd6","name":"No alerts out","links":["9b1ba365.dbe98"],"x":1115,"y":820,"wires":[]},{"id":"294814e8.99cadc","type":"change","z":"eb7edf39.c3cd6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":820,"wires":[["ba4c7b57.b558e8"]]},{"id":"39c17156.50ed5e","type":"function","z":"eb7edf39.c3cd6","name":"Advisory Selection","func":"var msg1 = {}\nvar msg2 = {}\n\nif (msg.payload === \"Evacuation - Immediate\" || msg.payload === \"Extreme Fire Danger\" ){\n\tvar animation = \"Danger\";\n}\nelse if (msg.payload === \"Tornado Warning\" || msg.payload === \"Tornado Watch\"){\n    animation = \"Tornado\";\n}\nelse if (msg.payload === \"Dense Fog Advisory\"){\n    animation = \"Fog\";\n}\nelse if (msg.payload === \"Blizzard Warning\" || msg.payload === \"Blizzard Watch\" || msg.payload === \"Winter Storm Warning\" || msg.payload === \"Winter Storm Watch\" || msg.payload === \"Winter Weather Advisory\"){\n    animation = \"Blizzard\";\n}\nelse if (msg.payload === \"Blowing Dust Advisory\" || msg.payload === \"Blowing Dust Warning\" || msg.payload === \"Dist Advisory\" || msg.payload === \"Dist Storm Warning\"){\n    animation = \"Dust\";\n}\nelse if (msg.payload === \"Dense Smoke Advisory\"){\n    animation = \"Smoke\";\n}\nelse if (msg.payload === \"Excessive Heat Warning\" || msg.payload === \"Excessive Heat Watch\" || msg.payload === \"Heat Advisory\"){\n    animation = \"Hot\";\n}\nelse if (msg.payload === \"Excessive Cold Warning\" || msg.payload === \"Excessive Cold Watch\" || msg.payload === \"Freeze Warning\" || msg.payload === \"Freeze Watch\"){\n    animation = \"Hot\";\n}\n\nelse {\n\tanimation = \"not defined\"\n}\n\t\nif (animation === \"not defined\") {\n    msg2.payload = \"not defined\"\n    return [null,msg2]\n}\nelse {\n    msg1.payload = \"animation\"\n    return [msg1,null]\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":170,"y":2540,"wires":[["d5d7bb8d.d122a8","63513d6f.86ede4"],["e82f7af.ec90b88"]]},{"id":"e03e63e1.8dddd","type":"link out","z":"eb7edf39.c3cd6","name":"Alert description out","links":["b7d13eb3.23ea"],"x":1115,"y":780,"wires":[]},{"id":"e82f7af.ec90b88","type":"link out","z":"eb7edf39.c3cd6","name":"Missing Advisory Out","links":["9b1ba365.dbe98"],"x":315,"y":2580,"wires":[]},{"id":"b7d13eb3.23ea","type":"link in","z":"eb7edf39.c3cd6","name":"Advisory Link in","links":["e03e63e1.8dddd"],"x":35,"y":2540,"wires":[["39c17156.50ed5e"]]},{"id":"a32c0035.5bff5","type":"change","z":"eb7edf39.c3cd6","name":"Danger","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\":true,\"bri\":128,\"mainseg\":0,\"seg\":[{\"id\":0,\"start\":18,\"stop\":78,\"len\":60,\"grp\":4,\"spc\":16,\"on\":true,\"bri\":255,\"col\":[[255,193,0],[0,0,0],[0,0,0]],\"fx\":0,\"sx\":23,\"ix\":128,\"pal\":0,\"sel\":false,\"rev\":false},{\"id\":1,\"start\":0,\"stop\":10,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":2,\"sx\":255,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":2,\"start\":10,\"stop\":18,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":2,\"sx\":255,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":3,\"start\":22,\"stop\":30,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":2,\"sx\":255,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":4,\"start\":30,\"stop\":38,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":2,\"sx\":255,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":5,\"start\":42,\"stop\":50,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":2,\"sx\":255,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":6,\"start\":50,\"stop\":58,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":2,\"sx\":255,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":7,\"start\":62,\"stop\":70,\"len\":8,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":2,\"sx\":255,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":8,\"start\":70,\"stop\":80,\"len\":10,\"grp\":1,\"spc\":0,\"on\":true,\"bri\":255,\"col\":[[255,0,0],[0,0,0],[0,0,0]],\"fx\":2,\"sx\":255,\"ix\":0,\"pal\":0,\"sel\":true,\"rev\":false},{\"id\":9,\"start\":0,\"stop\":0}]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":2540,"wires":[["72714597.e6b08c"]]},{"id":"770848c8.73efd8","type":"link out","z":"eb7edf39.c3cd6","name":"advisory temp request","links":["9b1ba365.dbe98"],"x":495,"y":2540,"wires":[]},{"id":"63513d6f.86ede4","type":"change","z":"eb7edf39.c3cd6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"},{"t":"set","p":"topic","pt":"msg","to":"advisory","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2540,"wires":[["770848c8.73efd8"]]},{"id":"63b35cf0.709384","type":"function","z":"eb7edf39.c3cd6","name":"advisory Check","func":"var check = msg.topic\nif (check === \"advisory\"){\n    \n}\nelse {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":900,"wires":[["f9e3a3f5.45032"]]},{"id":"566c8cad.c76df4","type":"suncron","z":"eb7edf39.c3cd6","name":"","lat":"42.364897","lon":"-71.017654","replay":true,"ejectScheduleOnUpdate":true,"sunrisePayload":"SunriseStart","sunrisePayloadType":"str","sunriseTopic":"sun","sunriseOffsetType":1,"sunriseOffsetHours":0,"sunriseOffsetMinutes":0,"sunriseOffset":0,"sunriseEndPayload":"SunriseEnd","sunriseEndPayloadType":"str","sunriseEndTopic":"sun","sunriseEndOffsetType":1,"sunriseEndOffsetHours":0,"sunriseEndOffsetMinutes":0,"sunriseEndOffset":0,"goldenHourEndPayload":"MorningGoldenEnd","goldenHourEndPayloadType":"str","goldenHourEndTopic":"sun","goldenHourEndOffsetType":1,"goldenHourEndOffsetHours":0,"goldenHourEndOffsetMinutes":0,"goldenHourEndOffset":0,"solarNoonPayload":"Noon","solarNoonPayloadType":"str","solarNoonTopic":"sun","solarNoonOffsetType":1,"solarNoonOffsetHours":0,"solarNoonOffsetMinutes":0,"solarNoonOffset":0,"goldenHourPayload":"EveningGoldenStart","goldenHourPayloadType":"str","goldenHourTopic":"sun","goldenHourOffsetType":1,"goldenHourOffsetHours":0,"goldenHourOffsetMinutes":0,"goldenHourOffset":0,"sunsetStartPayload":"SunSetStart","sunsetStartPayloadType":"str","sunsetStartTopic":"sun","sunsetStartOffsetType":1,"sunsetStartOffsetHours":0,"sunsetStartOffsetMinutes":0,"sunsetStartOffset":0,"sunsetPayload":"SunSetEnd","sunsetPayloadType":"str","sunsetTopic":"sun","sunsetOffsetType":1,"sunsetOffsetHours":0,"sunsetOffsetMinutes":0,"sunsetOffset":0,"duskPayload":"Dusk","duskPayloadType":"str","duskTopic":"sun","duskOffsetType":1,"duskOffsetHours":0,"duskOffsetMinutes":0,"duskOffset":0,"nauticalDuskPayload":"NauticalDusk","nauticalDuskPayloadType":"str","nauticalDuskTopic":"sun","nauticalDuskOffsetType":1,"nauticalDuskOffsetHours":0,"nauticalDuskOffsetMinutes":0,"nauticalDuskOffset":0,"nightPayload":"Night","nightPayloadType":"str","nightTopic":"sun","nightOffsetType":1,"nightOffsetHours":0,"nightOffsetMinutes":0,"nightOffset":0,"nadirPayload":"Darkest","nadirPayloadType":"str","nadirTopic":"sun","nadirOffsetType":1,"nadirOffsetHours":0,"nadirOffsetMinutes":0,"nadirOffset":0,"nightEndPayload":"NightEnd","nightEndPayloadType":"str","nightEndTopic":"sun","nightEndOffsetType":1,"nightEndOffsetHours":0,"nightEndOffsetMinutes":0,"nightEndOffset":0,"nauticalDawnPayload":"NauticalDawn","nauticalDawnPayloadType":"str","nauticalDawnTopic":"sun","nauticalDawnOffsetType":1,"nauticalDawnOffsetHours":0,"nauticalDawnOffsetMinutes":0,"nauticalDawnOffset":0,"dawnPayload":"Dawn","dawnPayloadType":"str","dawnTopic":"sun","dawnOffsetType":1,"dawnOffsetHours":0,"dawnOffsetMinutes":0,"dawnOffset":0,"x":540,"y":500,"wires":[["ae09fb37.fe5918","ec245236.571f6"]]},{"id":"ae09fb37.fe5918","type":"debug","z":"eb7edf39.c3cd6","name":"suncron","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":460,"wires":[]},{"id":"997608c2.8c9078","type":"inject","z":"eb7edf39.c3cd6","name":"manual start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":490,"y":460,"wires":[["566c8cad.c76df4"]]},{"id":"6e7380b2.aa5e3","type":"link in","z":"eb7edf39.c3cd6","name":"Sun Kickstart","links":["bd35a9a3.7d6178"],"x":415,"y":500,"wires":[["566c8cad.c76df4"]]},{"id":"ec245236.571f6","type":"function","z":"eb7edf39.c3cd6","name":"Flow Sun Events Variables","func":"var sunevent = msg.payload\nif (sunevent === \"SunSetEnd\"){\n    flow.set(\"daynight\",\"night\")\n    flow.set(\"riseset\",\"none\")\n}\nelse if (sunevent === \"SunriseEnd\"){\n    flow.set(\"daynight\", \"day\")\n    flow.set(\"riseset\", \"none\")\n}\nelse if (sunevent === \"SunriseStart\"){\n    flow.set(\"riseset\", \"rise\")\n}\nelse if (sunevent === \"sunSetStart\"){\n    flow.set(\"riseset\", \"set\")\n}\n\nvar variables = [\"blank\",\"blank\"]\nvariables[0] = flow.get(\"daynight\")\nvariables[1] = flow.get(\"riseset\")\n\nmsg.payload = variables\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":500,"wires":[["788675f6.2b464c"]]},{"id":"788675f6.2b464c","type":"debug","z":"eb7edf39.c3cd6","name":"suncron variables","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":500,"wires":[]},{"id":"4c6907b2.4a6b68","type":"debug","z":"eb7edf39.c3cd6","name":"Change Check","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1360,"wires":[]},{"id":"62fe4cac.bf4ac4","type":"comment","z":"eb7edf39.c3cd6","name":"Sun Events Config","info":"Set your Lat/long in the Sun-events node","x":490,"y":420,"wires":[]},{"id":"59077617.b35628","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.112","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]